{% extends 'mainv1_alias.html' %}
{% load i18n %}
{% block style %}
<style>

    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC;
        background-repeat: repeat-x;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }

	.widgets_right {
		width: 20%;
	}

	div.compact_heading {
		margin-bottom: 10px;
	}

	div.compact_top {
		margin-top: 15px;
	}

</style>

<!--[if IE]>
<style type="text/css">

	.widgets_right {
		width: 19%;
	}

</style>
<![endif]-->

{% endblock %}

{% block javascript %}
<script language="javascript">
	var Page = this.Page = {
		reset_dashboard: function() {
			Ajax.send_data('reset_dashboard/', {},
				function(data) {
					if (data.return_data.success) {
						window.location="/?rd=1";
					} else {
						Ajax.failure_logout("{% trans 'Could not reset the dashboard.' %}");
					}
			}, "POST");
		},

		{% comment %}
        disable_mailservers: function() {

            var enabled = 0;

            Ajax.send_data('disable_mailservers/', { }, function(data) {
                if (data.return_data.success) {
                    //alert(data.return_data.msg);
                    Ajax.set_modals("server", 1);
                    window.location="/?";
                } else {
                    alert("{% trans 'Failed updating email server settings.' %}");
                }
			}, "POST");
        },
        {% endcomment %}

		popup: function(URL) {
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=0,width=700,height=300,left = 370,top = 300');");
		},

		twitter_auth: function(cmd) {
			Ajax.send_data('twitter_auth/', {cmd: cmd}, function(data) {
				if (data.return_data.success) {
					if (cmd == 'unlink_alias' || cmd == 'unlink_account') {
						window.location=window.location;
					} else if (cmd == 'link_alias' || cmd == 'link_account') {
						Page.popup(data.return_data.url);
					}
				} else {
					alert(data.return_data.msg);
				}
			}, "GET");
		},

		save_notifications: function() {
    		var send_confirmations = ($('#send_confirmations').attr('checked')) ? 1 : 0;
    		var send_notifications = ($('#send_notifications').attr('checked')) ? 1 : 0;

			Ajax.send_data('edit_notification_settings/', {cmd: 'edit', send_confirmations: send_confirmations, send_notifications: send_notifications},
				function(data) {
					if (data.return_data.success) {
						alert(data.return_data.msg);
					} else {
						alert(data.return_data.msg);
					}
			}, "POST");
		},
		close_wizard_server: function () {
			window.location = window.location;
		},

		// Salesforce authentication!

		check_sf: function(enabled) {
            var username = $('#sf_username').val();
            var password = $('#sf_password').val();
            var token = $('#sf_security_token').val();
            Ajax.send_data('sf_auth/', {enabled: enabled, username: username, password: password, token: token }, function(data) {
                if (data.return_data.success) {
                    alert("{% trans 'We have saved your Salesforce settings.' %}");
                    $('#sf_form').hide('fast');
                } else {
                    alert(data.return_data.msg);
                }
			}, "POST");
        },
        disable_sf: function() {
            var enabled = 1;		// var enabled = ($('smtp_enabled').attr('checked')) ? 1 : 0;
            var username = $('#sf_username').val('');
            var password = $('#sf_password').val('');
            var token = $('#sf_security_token').val('');
            Page.check_sf(0);
        }

	};

	$(document).ready(function() {

	});


</script>

<!-- javascript for timezones. -->

<script language="javascript">

	var TimeZoneForm = this.TimeZoneForm = {
		current_timezone: '{{alias.account_user.get_timezone|escapejs}}',
		set_time_zone: function() {
	        var time_zone_selected = $('#time_zone_select').val();

	            Ajax.send_data('set_timezone/', {time_zone: time_zone_selected}, function(data) {
	                if (data.return_data.success) {
		                if (!TimeZoneForm.password_set) {
	                		Wizard.hide_and_show_next();
		                }
		                $('.time_zone').text(time_zone_selected);
		                $(".wizard_time_zone").hide();

	                } else {
	                    $('.wizard_error').html("{% trans 'Error: cannot set your timezone' %}");
	                }
	            }, "POST");

    	},
		password_set: {% if alias.password_hash %} true {% else %} false {% endif %}
	}

	$(document).ready(function() {
		$('#current_timezone').text(TimeZoneForm.current_timezone);
		$('#time_zone_select').val(TimeZoneForm.current_timezone);
	});

</script>

{% endblock %}

{%block global_style%}float: left; width:100%; text-align:left;{%endblock%}

{% block center_style %}padding-left:0px; padding-right:0px;{% endblock %}

{% block widgets_right %}

{% endblock widgets_right %}

{% block widgets_left %}

{% endblock %}



{% block content %}
<div class='outer_block' style="height:; padding: 15px;">

    {% if alias.account.service.allow_crawl %}


		<div class="compact_heading box_heading">
			<h3>
            	{% trans 'IMAP / SMTP settings' %}
			</h3>
		</div>

		{% if alias.account.service.allow_crawl %}
			<div>
				{% trans 'IMAP settings:' %}
				<b>{% if alias.server_enabled %}{% trans 'configured' %}{% else %}{% trans 'disabled' %}{% endif %}</b><br/>

				{% if alias.server_smtp_enabled %}
					{% trans 'SMTP:' %}
					<b>{% if alias.server_smtp_enabled %}{% trans 'configured' %}{% else %}{% trans 'disabled' %}{% endif %}</b><br/>
				{% endif %}
			</div>

			<div style='height: 10px;'></div>

			<div style='display:inline;'>

				<input type='button' name='reset_server'
					{% if alias.server_enabled %}value="{% trans 'Reset, update, or disable' %}"
					{% else %}value="{% trans 'Configure' %}"{% endif %}
					onclick='$(".wizard_server").show();return false;'/>

			</div>
		{% endif %}

		{% trans 'or' %} <a href='/download/' target='_blank'>{% trans 'download' %}</a>


    {% endif %}


	{% comment %}
	<!-- Salesforce username/ password form -->


	<div class="compact_heading box_heading">
		<h3>
            {% trans 'Salesforce settings' %}
		</h3>
	</div>

	<form action="" name="edit_sf_settings" onsubmit="Page.check_sf(1);return false;">

		<div style="clear:both; padding-bottom: 10px;">
			{% trans "Salesforce integration is currently: " %}

			{% if sfuser.enabled %}
				{% trans "Enabled" %}: <input type='button' value='Reset' onclick='$("#sf_form").toggle("fast");'/>
				<input type='button' value='Disable' onclick='Page.disable_sf();'/>
			{% else %}
			 	<strong>{% trans "Disabled" %}</strong>. {% trans "Provide your login details below to sync Contact records from Salesforce to" %} {{site.name}}.
			{% endif %}
		</div>

		<div id='sf_form' style='{% if sfuser.enabled %}display:none;{% endif %}'>

			<div class="form_left" style='width: 70px;'>
				{% trans 'Username:' %}
			</div>
			<input type='text' style='width: 70px;' name='sf_username' id='sf_username' value='{{sfuser.username|default_if_none:""}}'/>

			<div style="clear:both"></div>

			<div class="form_left" style='width: 70px;'>
				{% trans 'Password:' %}
			</div>
			<input type="password" style="width: 70px;" name="sf_password" id="sf_password" value=""/>

			<div style="clear:both"></div>

			<div class="form_left" style='width: 70px;'>
				{% trans 'Security Token:' %}
			</div>
			<input type="password" style="width: 70px;" name="sf_security_token" id="sf_security_token" value=""/>

			<div style="clear:both; margin-top: 10px;">
			     <input type="submit" name="go" value="{% trans 'Save' %}" />
			</div>

		</div>

	</form>
	{% endcomment %}

    <!-- Username password form -->

	<div class="compact_heading box_heading">
		<h3>
            {% trans 'Full name, @username & password' %}
		</h3>
	</div>

    {% comment %}
    <div>
    	<b>{% trans 'Full name' %}</b>: {{alias.first_name}} {{alias.last_name}}<br/>
    	<b>{% trans 'Username' %}</b>: <span class='alias_ez_name'>@{{alias.ez_name}}</span><br/>
    	<b>{% trans 'Password' %}</b>: *******
    </div>
    {% endcomment %}

    <div style='margin-top: 10px;'>
		<input type='button' name='load_password_modal' value='{% trans "Edit" %}' onclick='$(".wizard_password").show();return false;'/>
    </div>

	<!-- Timezone -->


	<div class="compact_heading box_heading">
		<h3>
		{% trans 'Timezone / iCal' %}
		</h3>
	</div>

	<form action='' method='POST' onsubmit='TimeZoneForm.set_time_zone();return false;'>

		<select name='time_zone_select' id='time_zone_select' class='time_zone_select'>
			{% for tz in time_zones %}
				<option>{{tz}}</option>
			{% endfor %}
		</select>

		&nbsp;

		<a href='{% ifequal agent "iphone" %}webcal{%else%}http{% endifequal %}://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}'>{% trans 'iCal feed' %}</a>


		<div style='margin-top: 10px;'>
			<input type='submit' name='save' value='{% trans "Save" %}'/>
		</div>

	</form>

	<div class="compact_heading box_heading">
		<h3>
		{% trans 'Email notifications' %}
		</h3>
	</div>

	<form method='POST' name='digest_form' id='digest_form' onsubmit='Page.save_notifications();return false;'>

		<input type='checkbox' {% if alias.send_confirmations %}checked='checked'{%endif%} name='send_confirmations' id='send_confirmations' value='1' />
		{% trans "Send meeting confirmations" %}

		<br/>

		<input type='checkbox' {% if alias.send_notifications %}checked='checked'{%endif%} name='send_notifications' id='send_notifications' value='1' />
		{% trans "Send meeting reminders" %}


		{% comment %}

		<br/>

		<input type='checkbox' {% if alias.send_response_requests %}checked='checked'{%endif%} name='send_response_requests' id='send_response_requests' value='1' />
		{% trans "Send meeting response reminders" %}

		{% endcomment %}

		<br/>

		<input type='submit' name='' value='{% trans "Save" %}' style='margin-top: 10px;'/>
	</form>

</div>
{% endblock content %}

{% block modals %}

<div style='clear: both; z-index: 1000000;' class='modals'>

{% with 1 as user_submitted %}
	{% include 'modals/set_password.html' %}
	{% include 'modals/setup_server.html' %}
{% endwith %}


</div>

{% endblock %}
