{% extends 'mainv3.html' %}
{% load i18n %}
{% load account_tags %}

{%block global_style%}width: 800px; text-align:left;{%endblock%}
{%block header_style%}width: 800px; padding-top: 10px;{%endblock%}

{% block title %}{% trans 'Sync emails to Salesforce with' %} {{site.name}}! {% trans '30 day free trial on select products.' %}{% endblock %}

{% block style %}

<style>

/* Top products features */

div.outer_prods_group {
	text-align: left;
	background: url(/static/images/new_design/images/g_bg.gif) repeat-x;
	padding: 15px 0px 15px 25px;
	border-top: 1px solid #ccc;
}

div.outer_prods_group h1 {
	text-align: left;
	color: #666;
}

div.outer_prods div.prod {
	float: left;
	width: 33%;
}

div.r_prod {
	background: #eee;
	margin: 5px;
	border: 1px solid #ccc;
}
div.r_prod div.det {
	background: url(/static/images/dark_bg.gif) repeat-x;
	color: #fff;
	padding: 5px;
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
}
div.r_prod div.action {
	text-align: right;
	padding: 5px;
}

/* Center products */

.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 262px;
	height: 330px;
}

.yellow_order_box hr {
	background-color: #F1EDB7;
	color: #F1EDB7;
}
.white_order_box hr {
	background-color: #eee;
	color: #eee;
}

h1 {
	color: #000;
	text-align: center;
}

.order_faq {
	margin-bottom: 20px;
	padding-right: 15px;
}

.order_faq a {
	color: #000;
}

.title a {
	text-decoration: none;
	color: #000;
}

.order_box .title h1 {
	padding-top: 10px;
	color: #000;
	font-weight: bold;

	margin-bottom: 4px;
}

.order_box hr {
	height: 1px;
	background: #ccc;
	margin: 10px;
	border: 0px;
}

.order_box .features {

	height: auto;
	cursor: pointer;
	text-align: left;
}

.order_box .features .signup_img {
	margin-top: 10px;
	margin-bottom: 10px;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.white_order_box div.title {
	padding-bottom: 6px;
}

.details_toggle {
	border-bottom: 1px dotted #ccc;
}

.details_toggle img {
	opacity: .3;
	position: relative;
	top: 1px;
}

.features h3 {
		font-size: 11px;
		text-indent: 20px;
		margin-bottom: 3px;
}
.features h3.disabled, .features h3.disabled strong {
	color: #eee;
}

.features span.feature {
	text-align: center;
	color: #666;
	font-size: 1.4em;
	line-height: 28px;
}

.features span.feature_small {
	text-align: center;
	color: #666;
	font-size: 1em;
	line-height: 20px;
}

span.bt {
	border-bottom: 1px dotted #666;
}

.features input {
	margin-right: 3px;
}

#faq_right {
	margin-left: 20px;
}

.title h3 {
	color: #999;
}

.order_plan {
	margin-top: 30px;
}

.white_order_box {
	position: relative;
	top: -25px;

	float: left;
	width: 237px;
	height: 370px;
	background: #fff;
	border: 2px solid #ccc;

}
.bt {
cursor: help;
}
h1 .bt {
cursor:hand;
}
</style>

<!--[if IE]>
<style type="text/css">

	div.outer_prods div.prod {
		float: left;
		width: 32%;
	}

	.order_box hr {
		margin: 4px;
	}
	.title h2 {
		font-size: 2em;
	}
	.title h3 {

	}

	.features h1 {
		font-size: 2em;
	}
	.order_heading h2 {
		font-size: 1.4em;
	}
	.white_order_box div.title {
		padding-bottom: 1px;
	}

	.order_plan {
		margin-top: 1px;

	}

	.white_order_box {
		margin-top: -1px;
		position:static;
		top:;

		height: auto;

	}

</style>
<![endif]-->

{% endblock %}

{% block javascript %}

<script src="/static/js/lib/jquery.hoverIntent.minified.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/js/lib/jquery.bgiframe.min.js" type="text/javascript" charset="utf-8"></script>
<!--[if IE]><script src="/static/js/lib/excanvas.compiled.js" type="text/javascript" charset="utf-8"></script><![endif]-->
<script src="/static/js/lib/jquery.bt.min.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
Cufon.replace('.title h1, .title h3, .order_heading h2, .feature_box h3, .features h1, .order_press h1 ');
</script>

<script language="javascript">

	$(document).ready(function() {

		$('.bt').bt({
			  positions: 'right',
			  trigger: ['hover'],
			  animate: true,
			  padding: 4,
			  cornerRadius: 4,
			  fill: 'rgba(0, 0, 0, .8)',
			  strokeWidth: 2,
			  strokeStyle: '#666',
			  cssStyles: {color: '#FFF', fontWeight: '', padding: '5px'}
		});


		$('input[type="checkbox"]:checked',".features").each(function() {
			//$('<img src="/static/images/tango/status/weather-clear.png"/>').remove().after();
			var new_img = $('<img style="width: 16px; height: 16px; margin-right: 3px;" src="/static/tango/actions/list-add.png"/>');
			$(this).before(new_img).remove();

		});

		$('input[type="checkbox"]:unchecked',".features").each(function() {
			var new_img = $('<img style="width: 16px; height: 16px; margin-right: 3px;" src="/static/tango/actions/list-remove.png"/>');
			$(this).before(new_img).parent().fadeTo(1,.4);
			$(this).remove();

		});


		$('.yellow_order_box').mouseover(function(e) {
			$('#details_modal').hide();
			Page.details_modal_active = false;
		});

		$('.details_toggle').mouseover(function(e) {
			var style = $(this).attr('id');
			style = style.replace('style_','');
			//var left_top = style.split('_');

			var pos_x = e.pageX+10;
			var pos_y = e.pageY+10;

			if (!Page.details_modal_active || style != Page.details_modal_active) {
				Page.details_modal_active = style;
				$('#details_modal')
					.text($(this).attr('alt'))
					.css({left:pos_x+'px', top: pos_y+'px'})
					.show(100)
					.fadeTo(1,.9);
				//var timer = setTimeout(function() {
				//	$('#details_modal').hide();
				//},1500);
			}
		});
		$('div.big_input_submit').click(function(e) {
			$('div.big_input_submit').removeClass('toggle');
			$(this).toggleClass('toggle');
			var sel_type = $(this).attr('id');
			sel_type = sel_type.replace('signup_type_','');
			if (sel_type=='personal'){
				$('.team').hide();
			} else {
				$('.team').show();
			}
			$('#signup_type').val(sel_type);
			$('.continue_modal').jqm({zIndex: 100000}).jqmShow().hide().show('slow');
		});
		$('.service').each(function() {
			var service_name = $(this).attr('id');
			service_name = service_name.replace('features_','');
			$(this).click(function(e) {
				if (service_name == 'download')
					window.location = '/download/';
				else
					window.location = '/info/go/'+service_name;
			});
		});
	});
	var Page = this.Page = {
		details_modal_active: false,
		complete_signup: function() {
			$('#alertcnt').hide();
			$('#registration').show('fast');
		}
	};

</script>
{% endblock %}

{% block content %}

<div id='details_modal' style='display: none; z-index: 100000; position: absolute; text-align:left; padding: 10px; left:180px; width: 150px; top: 40px; height: auto; background: #eee; border: 1px solid #ccc;'>
	Loading...
</div>

<div class='rounded_upper outer_content rounded_upper' style='padding-bottom: 20px; height: auto; background: #fff;'>

	<div class='order_heading rounded_upper' style='padding-top:15px; padding-bottom: 15px; background: url(/static/images/dark_bg.gif) repeat-x; border-bottom: 1px solid #ccc; '>

	    <h1 class='mp' style='font-size: 2.7em; font-weight: bold;'>
	    	{% trans 'Hurry!' %} <span style='color: #333'>{% trans 'Stop losing sales with' %} {{site.name}} {% trans 'products' %}</span>
	    </h1>

	    <h2 style='text-align: center; color: #ddd; margin-top: 5px;'>
	    	<!-- <span style='color:#52BF2F'>50% off</span> -->
	    	{% trans "30 day free trial. <a style='color: #fff' href='#promise'>Money back guarantee</a>. No setup fees or contracts." %}
	    </h2>

	</div>




	<div class='block' style='clear:both;'>


		<div class='order_plan' style='margin-left: 5px; width: 100%; '>

			{% comment %}

				<div style='display:; position: absolute; z-index: 1000; top: -40px; left: -8px; height: 350px; width: 100%; background: url(/static/images/order/images/free-beta.png) no-repeat; '>

				</div>

			{% endcomment %}




			<div class='order_box yellow_order_box' style='float: left; background: ; border-top: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 0px;'>
			<!-- url(/static/images/order/images/left_bg.gif) top right repeat-y;  -->

				<div class='title' style='text-align:center;'>
					<img style='margin-top: 5px;' border='0' src='/static/images/new_design/images/logo_crm.gif'/>
					<br/>
					<h3 style='margin-top: 5px;'><a href='/info/go/assistant/'><strong>{{services_dict.Assistant|price_main}}</strong></a></h3>
					{% if services_dict.Assistant.price_per_synced_email %}<h3 style='margin-top: 5px;'>{{services_dict.Assistant|price_secondary}}</h3> {% endif %}
				</div>

				<hr/>


				<div id='features_assistant' class='features service' style='height: auto; text-align: center;'>


					<span class='feature bt' title='{% trans "Sync emails for up to" %} {{services_dict.Assistant.max_users_flat_rate}} {% trans "user(s) to" %} {{site.name}}{% if services_dict.Assistant.allow_sf %} {% trans "and Salesforce" %}{% endif %}!'>
						{% ifequal services_dict.Assistant.max_users_flat_rate 1 %}
							{% trans '<strong>Single user</strong>' %}
						{% else %}
							<strong>{{services_dict.Pro.max_users_flat_rate}} {% trans 'users' %}</strong>
						{% endifequal %}
					</span>

					<br/>

                    <span class='feature bt' title='{{site.name}} {% trans "will automatically sync relevant sales emails to sales records for you." %}'>
                        <strong>{% if services_dict.Assistant.allow_sf %}{% trans 'Salesforce' %}{% else %}{{site.name}}{% endif %}</strong> {% trans 'email sync' %}
					</span>

					<br/>

					<span class='feature bt' title='{% trans "As a Firefox plugin for Google mail - see recent sales conversations and their Salesforce status while surfing Gmail or Google Apps mail." %}'>
						<strong>{% trans 'Google mail' %}</strong> {% trans 'plug-in' %}
					</span>

					<br/><br/>

					<span class='feature_small bt' title='{% trans "We will automatically update your customer records, including phone number, company name, and title - create as many Contacts as you want!" %}'>
						<strong>{% trans 'Unlimited' %}</strong> {% trans 'contacts' %}
					</span>

					<br/>

					<span class='feature_small bt' title='{% trans "Your account passwords are protected for your security. We provide & require 128-bit SSL when using the site dashboard and the Salesforce application." %}'>
						<strong>{% trans 'Premium' %}</strong> {% trans 'security' %}
					</span>


					<div align='center' style='margin-top: 10px;'>
						<a href='/info/go/assistant/'><img class='signup_img' src='/static/images/order/images/signup_button.gif' border='0'/></a>
					</div>
				</div>



			</div>

			<div class='order_box white_order_box' style='background: #fefbda; border: 2px solid #CCC;'>

				<div class='title' style='text-align:center;'>
					<img style='margin-top: 5px;' border='0' src='/static/images/new_design/images/logo_crm.gif'/>
					<br/>
					<h3 style='margin-top: 5px;'><a href='/info/go/sync/'><strong>{{services_dict.Sync|price_main}}</strong></a></h3>
					{% if services_dict.Sync.price_per_synced_email %}<h3 style='margin-top: 5px;'>{{services_dict.Sync|price_secondary}}</h3> {% endif %}
				</div>

				<hr/>

				<div id='features_sync' class='features service' style='height: auto; text-align: center;'>

                    <span class='feature bt' title='{% trans "Sync emails for up to" %} {% ifequal services_dict.Sync.max_users_flat_rate None %}{% trans "unlimited" %}{% else %}{{services_dict.Sync.max_users_flat_rate}}{% endifequal %} {% trans "user(s) to" %} {{site.name}}{% if services_dict.Sync.allow_sf %} {% trans "and Salesforce" %}{% endif %}!'>
						{% ifequal services_dict.Sync.max_users_flat_rate 1 %}
							{% trans '<strong>Single user</strong>' %}
						{% else %}
							{% ifequal services_dict.Sync.max_users_flat_rate None %}
								<strong>{% trans 'Unlimited users' %}</strong>
							{% else %}
								<strong>{{services_dict.Sync.max_users_flat_rate}} {% trans 'users' %}</strong>
							{% endifequal %}
						{% endifequal %}
					</span>

					<br/>

                    <span class='feature bt' title='{{site.name}} {% trans "will automatically sync relevant sales emails to sales records for you." %}'>
                        <strong>{% if services_dict.Sync.allow_sf %}{% trans 'Salesforce' %}{% else %}{{site.name}}{% endif %}</strong> {% trans 'email sync' %}
                    </span>

					<br/>

					<span class='feature bt' title='{% trans "As a Firefox plugin for Google mail - see recent sales conversations and their Salesforce status while surfing Gmail or Google Apps mail." %}'>
						<strong>{% trans 'Google mail' %}</strong> {% trans 'plug-in' %}</span>

					<br/><br/>

					{% comment %}
					<span class='feature_small bt' title='{% trans "This life-like email assistant will schedule all of your meetings and remind people to attend them." %}'>
						<strong>{% trans 'Personal scheduling' %} {% trans 'assistant' %}</strong>
					</span>

					<br/>
					{% endcomment %}

					<span class='feature_small bt' title='{% trans "We will automatically update your customer records, including phone number, company name, and title - create as many Contacts as you want!" %}'>
						<strong>{% trans 'Unlimited' %}</strong> {% trans 'contacts' %}
					</span>

					<br/>

					<span class='feature_small bt' title='{% trans "Your account passwords are protected for your security. We provide & require 128-bit SSL when using the site dashboard and the Salesforce application." %}'>
						<strong>{% trans 'Premium' %}</strong> {% trans 'security' %}
					</span>

					<div align='center' style='margin-top: 10px;'>
						<a href='/info/go/sync/'><img class='signup_img' src='/static/images/order/images/signup_button.gif' border='0'/></a>
					</div>


				</div>

			</div>

			{% comment %}

			<div class='order_box white_order_box' style='background: #fefbda; border: 2px solid #CCC;'>


				<div class='title' style='text-align:center;' align='center'>
					<img style='margin-top: 10px;' border='0' src='/static/images/new_design/images/logo_robot.gif'/>

					<h3 style='margin-top: 5px;'>
						{% trans 'New! Pay for what you use.' %}
					</h3>

				</div>

				<hr style='margin-top: 5px;'/>


				<div id='features_robot' class='features' style='height: auto; text-align: center; cursor:auto; '>

					<span class='feature'>
						{% trans '<strong>Unlimited</strong> users' %}
					</span>

					<br/>

					<span class='feature'>
						<span class='bt' title='{% trans "Follow-up emails are sent when new new Leads or Contacts are created on Salesforce." %}'>
							<strong>{% trans 'Salesforce' %}</strong> {% trans 'connector' %}
						</span>

					</span>

					<br/>

					<span class='feature'>
						<span class='bt' title='{% trans "Google mail add-on for Firefox or Chrome lets you launch a follow-up campaign as you surf your inbox." %}'>
							<strong>{% trans 'Google mail' %}</strong> {% trans 'plug-in' %}
						</span>
					</span>



					<br/><br/>

					<span class='feature_small'>
						<span class='bt' title='{% trans "Standalone robot sends automated follow-up campaigns without extra integrations (Gmail / Salesforce).  Integrate with any registration form on your website." %}'>
							<strong>{% trans 'Standalone robot' %}</strong>
						</span>
					</span>

					<br/>

					<span class='feature_small'>
						<span class='bt' title='{% trans "No limit on the number of follow-up emails your sales robots can send." %}'><strong>{% trans 'Unlimited' %}</strong> {% trans 'outbound emails' %}</span>
					</span>

					<br/>

					<span class='feature_small'>
						<span class='bt' title='{% trans "Emails can be scheduled within days or weeks of initial follow-up." %}'><strong>{% trans 'Unlimited' %}</strong> {% trans 'follow-up campaigns' %}</span>
					</span>

					<br/>

					<span class='feature_small'>
						<span class='bt' title='{% trans "The follow-up robot can be hosted privately on your own cloud server - we do the setup for you!" %}'><strong>{% trans 'Premium' %}</strong> {% trans 'security' %}</span>
					</span>



					<div align='center' style='margin-top: 10px;'>
						<a href='/products/follow-up-robot/'><img class='signup_img' src='/static/images/order/images/learn_more.gif' border='0'/></a>
					</div>
				</div>


			</div>

			{% endcomment %}

			<div class='order_box yellow_order_box rounded_bottom_right' style='float: left; border-right: 1px solid #ccc; border-top: 1px solid #ccc; '>
				<!-- background: #fefbda url(/static/images/order/images/right_bg.gif) repeat-y; -->
				<div class='title' style='text-align:center;' align='center'>
					<img style='margin-top: 5px;' border='0' src='/static/images/new_design/images/logo_crm.gif'/>
					<br/>
					<h3 style='margin-top: 5px;'>
						<a href="/info/go/pro/"><strong>{{services_dict.Pro|price_main}}</strong></a>
						or <a href="/info/go/yearly"><strong>{{services_dict.Yearly|price_main}}</strong></a>
					</h3>
					{% if services_dict.Pro.price_per_synced_email %}<h3 style='margin-top: 5px;'>{{services_dict.Pro|price_secondary}}</h3>{% endif %}

				</div>

				<hr/>

				<div id='features_pro' class='features service' style='height: auto; text-align: center; '>

                    <span class='feature bt' title='{% trans "Sync emails for up to" %} {{services_dict.Pro.max_users_flat_rate}} {% trans "user(s) to" %} {{site.name}}{% if services_dict.Pro.allow_sf %} {% trans "and Salesforce" %}{% endif %}!'>
						{% ifequal services_dict.Pro.max_users_flat_rate 1 %}
							{% trans '<strong>Single user</strong>' %}
						{% else %}
							<strong>{{services_dict.Pro.max_users_flat_rate}} {% trans 'users' %}</strong>
						{% endifequal %}
					</span>

					<br/>

					<span class='feature bt' title='{{site.name}} {% trans "will automatically sync relevant sales emails to sales records for you." %}'>
						<strong>{% if services_dict.Pro.allow_sf %}{% trans 'Salesforce' %}{% else %}{{site.name}}{% endif %}</strong> {% trans 'email sync' %}
				    </span>

					<br/>

					<span class='feature bt' title='{% trans "As a Firefox plugin for Google mail - see recent sales conversations and their Salesforce status while surfing Gmail or Google Apps mail." %}'>
						<strong>{% trans 'Google mail' %}</strong> {% trans 'plug-in' %}</span>

					<br/><br/>

					{% comment %}
					<span class='feature_small bt' title='{% trans "This life-like email assistant will schedule all of your meetings and remind people to attend them." %}'>
						<strong>{% trans 'Personal scheduling' %} {% trans 'assistant' %}</strong>
					</span>

					<br/>
					{% endcomment %}

					<span class='feature_small bt' title='{% trans "We will automatically update your customer records, including phone number, company name, and title - create as many Contacts as you want!" %}'>
						<strong>{% trans 'Unlimited' %}</strong> {% trans 'contacts' %}
					</span>

					<br/>

					<span class='feature_small bt' title='{% trans "Your account passwords are protected for your security. We provide & require 128-bit SSL when using the site dashboard and the Salesforce application." %}'>
						<strong>{% trans 'Premium' %}</strong> {% trans 'security' %}
					</span>

					<div align='center' style='margin-top: 10px;'>
						<a href='/info/go/pro'><img class='signup_img' src='/static/images/order/images/signup_button.gif' border='0'/></a>
					</div>
				</div>



			</div>

			<div style='float:right; margin: 5px 15px 0px 0px; color: #666;'>
			<a target='_blank' href='http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA'>
				{% trans '<B>Free</B> Salesforce package' %}</a>

			{% trans 'on AppExchange' %}
			</div>


			<div style='clear:both;'></div>

			<div class='features' style='margin-top: 0px;'>

				{% comment %}

				<div style=''> <!-- float: left; width: 550px; -->

					<h1 style='text-align: left; font-weight: bold;'>{% trans "Enterprise with more than" %} {{services_dict.Enterprise.max_users_flat_rate}} {% trans "users?" %}</h1>
					<h2 style='color: #999; margin-top: 5px; font-size: 1.5em;' class='mp'>{% trans "Receive a special discount on our private enterprise edition." %}
						<a style='color: #000;' href='/info/webinar/'>{% trans 'Click here' %}</a>.
					</h2>

				</div>

				{% endcomment %}

				{% comment %}
				<div style='float: left; width: 200px;'>

					<a href='/info/webinar/'>
						<h1 style='text-align:left;'>{% trans 'Microsoft Outlook' %}</h1>
					</a>

					<div>
						<input type="checkbox" checked='checked' disabled="disabled"/><strong>{% trans 'Syncs to Salesforce' %}</strong>
						<br/>
						<input type="checkbox" checked='checked' disabled="disabled"/>{% trans 'Auto-updates contact data' %}
						<br/>
						<input type="checkbox" checked='checked' disabled="disabled"/>{% trans 'Manages your calendar' %}
						<br/>
						<br/>

						<div style='float:right; margin-top: 7px; font-size: .9em; margin-right: 4px;'>
							{% trans 'Outlook' %}<br/>
							<a href='/products/outlook/download/'>2007 & 2010</a>
						</div>

					</div>
				</div>
				{% endcomment %}

			</div>


			<div style='clear: both; height: 5px;'></div>

		</div>

		<div class='order_info' style=''>


			<div class='order_more_info' style='background: #eee; margin-top: 10px; padding: 10px;'>
			     <h1>{% trans 'Archive and sync sales emails from years or months ago' %}</h1>
			     <p style='margin-top: 10px;'>
			         {% trans "We're excited to announce" %} <b>{{site.name}}'s {% trans 'Archive' %}</b> {% trans 'service!' %}

			         {% trans 'Archive' %} <b>{{services_dict.Archive.crawl_email_howlong}}</b> {% trans "days" %} (<a href='mailto:{{settings.SALES_EMAIL}}?subject=Archive more than {{services_dict.Archive.crawl_email_howlong}} days'>{% trans 'or more' %}</a>) {% trans "of historical emails and sync them to your personal Salesforce account.  Lead or Contact objects are created automatically; <b>your contacts are your biggest asset, don't lose them!</b>" %}

			         <br/><br/>

			         <strong><a href='/info/go/Archive/'>{% trans 'Click to signup' %}</a></strong> {% trans 'or' %} <a href='/products/salesforce-automation/archive/'>{% trans 'learn more' %}</a>

			     </p>
			</div>


			<div class='order_more_info' style='background: #eee; margin-top: 10px; padding: 10px;'>
				<div style='float: left; width: 48%;'>

					<div class='order_faq'>
						<h3>
							{% trans 'Pay as you go' %}
						</h3>
						<div>
							{% trans "No long term contracts or fees.  If you're happy, we'll bill you via <i>Paypal</i>, Visa, Mastercard, Discover or Amex.  If you cancel, you'll only be billed for the current cycle." %}

						</div>
					</div>

					<div class='order_faq'>
						<h3>
							<a name='promise'>{% trans "Money back guarantee - we promise!" %}</a>
						</h3>
						<div>
							{% trans "We'll give you a full refund within 15 days after your first payment if you're not amazingly satisfied." %}

						</div>
					</div>

					{% comment %}
					<div class='order_faq'>
						<h3>
							{% trans 'Is the desktop download free?' %}
						</h3>
						<div>
							{% trans "Yes! Use the desktop app to <i>sync</i> sales-rep emails into" %} {{site.name}} {% trans "and Salesforce from behind your firewall - your email password stays secure!" %}

						</div>
					</div>


					<div class='order_faq'>
						<h3>
							{% trans 'What is Twitter conversation tracking?' %}
						</h3>
						<div>
							{% trans 'Twitter conversation tracking lets you respond to Tweets about your brand - you can follow-up, too!' %}
							<a href='/info/features/twitter/'>{% trans 'Learn more' %} &rarr;</a>

						</div>
					</div>


					<div class='order_faq'>
						<h3>
							{% trans 'What is the scheduling assistant?' %}
						</h3>
						<div>
							{% trans "The scheduling assistant automatically <i>manages your calendar</i> and reminds your people to make your meetings. <span style='background:#FEFBDA'>Works great with Google Cal, Blackberry Cal, iPhone Cal, Windows Mobile Cal, Apple iCal, and Outlook Calendar</span>." %}
							<a href='/info/features/assistant/'>{% trans 'Learn more' %} &rarr;</a>

						</div>
					</div>

					{% endcomment %}

					<div class='order_faq'>
						<h3>
							{% trans 'Can I upgrade or downgrade at any time?' %}
						</h3>
						<div>
							{% trans 'Yes.' %}
						</div>
					</div>

					<div class='order_faq'>
						<h3>
							{% trans 'Can I cancel at any time?' %}
						</h3>
						<div>
							{% trans 'Yes.' %}
						</div>
					</div>


				</div>

				<div id='faq_right' style='float: left; width: 45%; '>

					{% comment %}

					<div class='order_faq'>
						<h3>
							{% trans 'How does sales email automation work?' %}
						</h3>
						<div>
							{{site.name}} {% trans ' automatically logs relevant sales emails to Salesforce Leads & Contacts to identify which Leads & Contacts need a follow-up. ' %}
							<a href='/info/features/crm/'>{% trans 'Learn more' %} &rarr;</a>
						</div>
					</div>

					{% endcomment %}

					<div class='order_faq'>
						<h3>
							{% trans 'Is my data reliable, safe, and secure?' %}
						</h3>
						<div>
							{% blocktrans %}
								We host all of our data systems in the <a href='http://www.rackspace.com/'>Rackspace</a> cloud
								and take precautions to keep information backed up, secure, and reliable.
								Backups are run every night and hosted in the cloud by Rackspace.
								<a href='/info/features/privacy/'>Learn more &rarr;</a>

							{% endblocktrans %}
						</div>
					</div>




					<div class='order_faq'>

						<div>
							<a target='_blank' href='http://support.calenvy.com/'>{% trans 'More frequently asked questions' %} &rarr;</a>
						</div>
					</div>

				</div>

				<div style='clear: both;'>
				</div>

			</div>


			<div class='order_press' style='display:; margin: 25px 0px 15px 0px;'>
				{% include 'main_press_list.html' %}
			</div>



		</div>




	</div>








	<div class='outer_prods_group'>
		<h1 class='dark'>{% trans 'Gmail & Microsoft Outlook products' %}</h1>
	</div>

	<div class='block outer_prods' align='center' style='text-align: center;'>

		<div class='prod'>
			<div class='r_prod rounded_upper'>
				<img src='/static/images/new_design/images/logo_gmail.gif'/>
				<div class='det'>
					{% trans 'Full-blown CAL inside of Gmail.  Features updated social media data and LinkedIn information.' %}
				</div>
				<div class='action'>
					<!-- <img src='/static/images/social_logos/gmail.gif'/> -->
					<a href='/install/'>
						<img border='0' src='/static/images/new_design/images/button_install_small.gif'/>
					</a>
				</div>
			</div>
		</div>
		<div class='prod'>
			<div class='r_prod rounded_upper'>
				<img src='/static/images/new_design/images/logo_outlook.gif'/>
				<div class='det'>
					{% trans 'Full-blown CAL inside Outlook 2007/2010.  View updated social media data and LinkedIn information.' %}
				</div>
				<div class='action'>
					<!-- <img src='/static/images/social_logos/outlook.gif'/> -->
					<a href='/products/outlook/download/'>
						<img border='0' src='/static/images/new_design/images/button_install_small.gif'/>
					</a>
				</div>
			</div>
		</div>

		{% comment %}

		<div class='prod'>
			<div class='r_prod rounded_upper'>
				<img src='/static/images/new_design/images/logo_robot.gif'/>
				<div class='det'>
					{% trans 'Send automated follow-up emails from your personal sales robot. Email are sent in timed sequence.' %}
				</div>
				<div class='action'>
					<!-- <img src='/static/images/social_logos/gmail.gif'/> -->
					<a target='_blank' href='/robot/install/'>
						<img border='0' src='/static/images/new_design/images/button_install_small.gif'/>
					</a>
				</div>
			</div>
		</div>

		{% endcomment %}

	</div>


	<div style='clear:both; height: 15px;'></div>

	<div class='outer_prods_group'>
		<h1 class='dark'>{% trans 'Salesforce.com automation products' %}</h1>
	</div>

	<div class='block outer_prods' align='center' style='text-align: center;'>
		<div class='prod'>
			<div class='r_prod rounded_upper'>
				<img src='/static/images/new_design/images/logo_sf.gif'/>
				<div class='det'>
					{% trans 'Sync emails to Salesforce Leads, Contacts, Cases and Opportunities automatically.' %}
				</div>
				<div class='action'>
					<img src='/static/images/salesforce.png'/>

					<a href='http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA'>
						<img border='0' src='/static/images/new_design/images/button_install_small.gif'/>
					</a>
				</div>
			</div>
		</div>

		<div class='prod'>
			<div class='r_prod rounded_upper'>
				<img src='/static/images/new_design/images/logo_desktop.gif'/>
				<div class='det'>
					{% trans 'Sync emails securely from your desktop to Salesforce.com Leads, Contacts, Accounts, and Opportunities.' %}
				</div>
				<div class='action'>
					<img src='/static/images/salesforce.png'/>

					<a target='_blank' href='/download/'>
						<img border='0' src='/static/images/new_design/images/button_install_small.gif'/>
					</a>
				</div>
			</div>
		</div>


		<div class='prod'>
			<div class='r_prod rounded_upper'>
				<img src='/static/images/new_design/images/logo_robot.gif'/>
				<div class='det'>
					{% trans 'Launch automated follow-up emails directly from Salesforce Lead and Contact objects.' %}
				</div>
				<div class='action'>
					<img src='/static/images/salesforce.png'/>

					<a target='_blank' href='http://sites.force.com/appexchange/listingDetail?listingId=a0N300000026gJeEAI'>
						<img border='0' src='/static/images/new_design/images/button_install_small.gif'/>
					</a>
				</div>
			</div>
		</div>

	</div>


	<div style='clear:both; height: 15px;'></div>

</div>



{% endblock %}
