{% load i18n %}
{% load assist_tags %}
{% load account_tags %}
<style type="text/css">
 .sf_keys {
 	width: 1px; height: 1px; overflow: hidden;
 }

</style>

<!--[if IE]>
<style type="text/css">
#header_nav {
	margin-top: -3px;
}
#global_header_nav {
margin-left: -10px;
}
</style>
<![endif]-->

<div id='global_header_nav'>

	<div style='float: right; {% if not alias %} text-align:left; border-bottom: 0px solid #EFEDD1; border-top: 0px; {% else %} text-align:right; {% endif %} ' id='header_nav'>
		<div style='padding-right: 5px;'>
			{% if alias.account_user %}

			    <span>
					<a style='border-bottom:0px;' href='/' title='{{alias.email}}' class='alias_ez_name'>
					    @{{alias.ez_name}}
				    </a>
				</span>

                {% comment %}
				{% if alias.account.service.allow_sf %}
					<span style='background: url(/static/images/salesforce.png) no-repeat; padding-left: 20px;'><b><a href='/dash/{{alias.account.base_url}}/salesforce/'>{% trans 'Automation' %}</a></b>
					</span>
				{% endif %}
                {% endcomment %}

                {% comment %}
				{% if show_days_remain %}
                    <span style="background: url(/static/images/yellow_bg.gif) #FCF8BC; background-repeat:repeat-x; padding: 5px; font-size:.9em;" class="rounded_upper rounded_lower notify">
                        {{alias.account.date_expires|days_remain}} {% trans 'left' %} <a href='/info/billing/?service={{alias.account.service.name|lower}}'><b>{% trans 'Subscribe!' %}</b></a>
                    </span>
                {% else %}
                    {% if alias.billing_allowed %}
                        <span><a href='/info/billing/'>{% trans 'Billing' %}</a>
                        </span>
                    {% endif %}
                {% endif %}
				{% endcomment %}

				{% if alias.is_admin %}
					<span class='btn' title='{% trans "Add new users, manage your team scheduling assistant, etc." %}'><a href='/dash/{{alias.account.base_url}}/admin/'>{% trans 'Administration' %}</a>
					</span>
				{% endif %}

				<span><a href='/dash/{{alias.account.base_url}}/settings/'>{% trans 'Personal settings' %}</a>
				</span>

				{% comment %}
				<span>
				      <select id='alias_switch' onchange='Ajax.alias_switch(this.value);' style='font-size:.9em;'>
				      {% for a in alias.account_user.get_aliases_for_display %}
				          <option value='{{a.id}}' {%ifequal a alias %} selected='selected'{%endifequal%} style=''>{% if a.account.name %}{{a.account.name}}{% else %}{{a.account.get_assistant.email}}{% endif %} {% if a.is_admin %}({%trans 'admin'%}){% endif %}</option>
				      {% endfor %}
				      </select>
				</span>
				{% endcomment %}

				<span style='margin-right: 0px;'><a href='/logout/'>{% trans 'Logout' %}</a>
				</span>

			{% else %}

					<div style='display:inline; position: relative; top:10px; margin-left: 15px;'>
					 	<a href="http{%if has_ssl%}s{%endif%}://{{site.domain}}/@/register/Free/"><img style='border-bottom:1px solid #ccc;' title="{% trans 'Start free trial' %}" alt="{% trans 'Sales reps: start a free trial' %}" src='/static/images/nav_start_free.png' border='0'/></a>
					</div>

          {% comment %}
					<div class='' style='display:inline; position: relative; top:10px; margin-left: 15px;'>
						<a href="/products/"><img style='border-bottom:1px solid #ccc;' title="{% trans 'Learn more' %}" alt="{% trans 'Learn more' %}" src='/static/images/nav_learn.gif' border='0'/></a>
					</div>
					{% endcomment %}

					{% comment %}

					<div class='' style='display:inline; position: relative; top:10px; margin-left: 15px;'>
						<a href="/info/apps/"><img style='border-bottom:1px solid #ccc;' title="{% trans 'Applications' %}" alt="{% trans 'Sales applications' %}" src='/static/images/nav_apps.gif' border='0'/></a>
					</div>

					{% endcomment %}

				<div class='' style='display:inline; position: relative; top:10px; margin-left: 15px; margin-right: 10px;'>
					<a href="http{%if has_ssl%}s{%endif%}://{{site.domain}}/login/" onclick=''><img style='border-bottom:1px solid #ccc;' title="{% trans 'Login' %}" alt="{% trans 'Login securely' %}" src='/static/images/nav_login.gif' border='0'/></a>
				</div>

				<span id='login_form_header' style='top: 5px; display:none;'>
					<form method='POST' onsubmit='Ajax.login();return false;' style='display: inline;'>
						<input type="text" name="email_login" id="email_login" value="Email address" onClick="if ($(this).val() == 'Email address') {$(this).val('');} return false;" style="width: 100px;"/>
						<input type="password" name="email_password" id="email_password" value="" onClick="return false;" style="width: 100px;"/>
						<input type="submit" name="email_submit" id="email_submit" onclick='' value="Login"/>
					</form>
				</span>

			{% endif %}

			<div style='clear: both;'></div>
	    </div>
	</div>

	<div class='header_title' style="float:left; margin-top: 5px; ">


		{% if logo_url %}

			<a href="/">
				<img border='0' src='{{logo_url}}'/>
			</a>

		{% else %}

			<a href="/">
				<img class='header_logo' alt='{{site.name}} {% trans "CAL powered by email" %}' src='{% if alias.account_user %}/static/images/headache_badge_small.png{% else %}/static/images/new_design/images/logo.png{% endif %}' border='0'/>
			</a>

		{% endif %}

	</div>

	<div style='clear:both; height: 0px;'></div>

</div>

<div style='clear:both;'></div>
