{% extends 'main_admin.html' %}

{% block global_style %}float: left; width:100%; text-align:left;{% endblock %}
{% block center_style %}padding-left:0px; padding-right:0px;{% endblock %}

{% load i18n %}
{% load account_tags %}
{% block style %}
<style>

    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC;
        background-repeat: repeat-x;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }

	.scroll {
		color: #000;

	}
	.scroll span, .scroll input {
		top: 3px;
		position:relative;
	}
	th.grid_resize div {
		font-size: .8em;
	}
	tr.jqgrow td {
		font-size: .7em;
	}
	table.tbutton td {
		font-size: .8em;
	}

	.outer_block {
		overflow-x: hidden;
	}

	span.bal {
		margin-left: 10px;
	}
	span.last {
		text-decoration: underline;
	}

	div.h3_sub {
		margin-top: 5px;
		margin-bottom: 10px;
		color: #666;
	}
	hr {
		background: #eee;
		border: 0px;
		border-bottom: 2px solid #ccc;
		margin-top: 15px;
	}



	div.compact_heading {
		margin-bottom: 10px;
	}

	div.compact_top {
		margin-top: 15px;
	}


</style>

<!--[if IE]>
<style type="text/css">

	.outer_block {
		overflow: hidden;
	}

</style>
<![endif]-->

{% endblock %}



{% block javascript %}
<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">
<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>

<script language="javascript">
	var Page = this.Page = {

		followup_auth: function() {
			var params = {};
			params.url = $('#followup_url').val().trim();
			params.username = $('#followup_email').val();
			params.password = $('#followup_password').val();
			params.enabled = '1';

			Ajax.send_data('followup_auth/', params,
				function(data) {
					if (data.return_data.success) {
						$('#followup_not_configured').hide();
						$('#followup_configured_link').text(params.url).attr('href', 'http://'+params.url);
						$('#followup_configured').show();
					} else {
						alert(data.return_data.msg);
					}
				}, "POST");

			return false;
		},

		followup_disable: function() {
			if (confirm('{% trans "Disable your follow-up robot settings?" %}')) {
				var params = {};
				params.enabled = '0';

				Ajax.send_data('followup_auth/', params,
					function(data) {
						if (data.return_data.success) {
							$('#followup_configured').hide();
							$('#followup_url').val('{% trans "URL" %}');
							$('#followup_email').val('{% trans "Email address" %}');
							$('#followup_password').val('{% trans "Password" %}');
							$('#followup_not_configured').show();
						}
					}, "POST");
			}

			return false;
		},

		reset_dashboard: function() {
			Ajax.send_data('reset_dashboard/', {},
				function(data) {
					if (data.return_data.success) {
						window.location="/?rd=1";
					} else {
						Ajax.failure_logout("{% trans 'Could not reset the dashboard.' %}");
					}
			}, "POST");
		},
        check_imap: function() {
            var server = $('#imap_server').val();
            var username = $('#imap_username').val();
            var password = $('#imap_password').val();
            var use_ssl = ($('#imap_use_ssl').attr('checked')) ? 1 : 0;
            var server_type = $('#server_type').val();

            Ajax.send_data('imap_auth/', {server: server, username: username, password: password, use_ssl: use_ssl, server_type: server_type },
				function(data) {
                	if (data.return_data.success) {
                    	alert(data.return_data.msg);
                	} else {
                	    alert("{% trans 'Could not validate your IMAP credentials.' %}");
                	}
			}, "POST");
        },
		save_assistant_settings: function() {
			var first_name = $('#assistant_first_name').val();
			var last_name = $('#assistant_last_name').val();

			{% comment %}This next line is ignored. Revisit this when we start offering third-level names as an add-on [eg 11/11]{% endcomment %}
			var team_name = $('#team_name').val();
			var inform_account = ($('#assistant_inform_account').attr('checked')) ? 1 : 0;
			var assistant_emails_anytime = $('#assistant_emails_anytime').val();
			var file_allow_images = ($('#file_allow_images').attr('checked')) ? 1 : 0;
			if ((inform_account==1) || (!Page.assistant_email_updated) || confirm("{% trans 'Warning! Everyone on your team better know the new email of your assistant!' %}")) {
				Ajax.send_data('admin/edit_assistant_settings/', {team_name: team_name, first_name: first_name, last_name: last_name, inform_account: inform_account, assistant_emails_anytime: assistant_emails_anytime },
					function(data) {
						if (data.return_data.success) {
							var alert_msg = data.return_data.msg;
							if (inform_account == 1)
								alert_msg += ' Your team has been notified of the change.';
							alert(alert_msg);
						} else {
							alert(data.return_data.msg);
						}
				}, "POST");
			}
		},

		popup: function(URL) {
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=0,width=700,height=300,left = 370,top = 300');");
		},

		twitter_auth: function(cmd) {
			Ajax.send_data('twitter_auth/', {cmd: cmd}, function(data) {
				if (data.return_data.success) {
					if (cmd == 'unlink_alias' || cmd == 'unlink_account') {
						window.location=window.location;
					} else if (cmd == 'link_alias' || cmd == 'link_account') {
						Page.popup(data.return_data.url);
					}
				} else {
					alert(data.return_data.msg);
				}
			}, "GET");
		},

		assistant_email_updated: false,

		update_assistant_email: function() {
			Page.assistant_email_updated = true;
			var first_name = $('#assistant_first_name').val();
			var last_name = $('#assistant_last_name').val();
			{% comment %}
			var team_name = $('#team_name').val();
			Ajax.send_data('admin/display_assistant_email/', {team_name: team_name, first_name: first_name, last_name: last_name },
			{% endcomment %}
			Ajax.send_data('admin/display_assistant_email/', {first_name: first_name, last_name: last_name },
				function(data) {
					if (data.return_data.success) {
					    $('#assistant_email').text(data.return_data.assistant_email);
					    $('#assistant_email').attr('href','mailto:' + data.return_data.assistant_email);
					    $('#assistant_error').text('');
					} else {
					    $('#assistant_email').text('');
					    $('#assistant_error').text(data.return_data.msg);
					}
			}, "POST");


		},
		save_team_privacy_settings: function() {
		    var transparent = $('#transparent').val();
			Ajax.send_data('admin/edit_privacy_settings/', {transparent: transparent },
				function(data) {
					if (data.return_data.success) {
						alert(data.return_data.msg);
					} else {
						alert(data.return_data.msg);
					}
				}, "POST");
		 },
		 save_storage_settings: function() {
		     var store_email_howlong = $('#store_email_howlong').val();
			 Ajax.send_data('admin/edit_storage_settings/', {store_email_howlong: store_email_howlong },
				 function(data) {
					if (data.return_data.success) {
						if (store_email_howlong == 0)
							$('#store_email_howlong_warning').show();
						else
							$('#store_email_howlong_warning').hide();
						alert(data.return_data.msg);
					} else {
						alert(data.return_data.msg);
					}
				}, "POST");
		 },

		 delete_alias: function(id, email) {
		 	if (confirm("{% trans 'Delete user' %} " + email + "?")) {
				Ajax.send_data('admin/edit_account_users/', {oper: 'del', 'id': id},
					function(data) {
						if (data.return_data.reactivate_msg) {
							alert(data.return_data.reactivate_msg);
							window.location.reload();
						}
						if (data.return_data.success) {
						    $('#team_alias_'+id).hide();
						} else {
							alert(data.return_data.msg);
						}
				 }, "POST");
		 	}

		 },

		 change_alias_admin_status: function(id, is_admin) {
			 Ajax.send_data('admin/edit_account_users/', {oper: 'edit', 'id': id, 'cmd': 'admin', 'is_admin': is_admin ? 1 : 0},
				function(data) {
					if (data.return_data.success) {
					    //
					} else {
						alert(data.return_data.msg);
					}
			 }, "POST");
		 },

		 add_alias: function() {
			 	 var email = $('#add_user_email').val();
				 if (email==null || email.trim()=='')
					 return;
				 Ajax.send_data('admin/edit_account_users/', {oper: 'add', 'email': email},
					function(data) {
						if (data.return_data.success) {
						    window.location.reload();
						} else {
							alert(data.return_data.msg);
						}
				 }, "POST");

		 }

		 {% comment %}
		 delete_all: function() {
		 	 Prompt.prompt("{% trans "This option will delete all of your team's emails and files from our server within 24 hours. If this is what you want, type yes to proceed." %}", function() {
				 if (result == 'yes') {
				     Ajax.send_data('admin/edit_storage_settings/', {delete_all: 1},
						 function(data) {
							if (data.return_data.success) {
							    alert("Your team's emails and files will be deleted from our server within 24 hours.");
							} else {
								alert(data.return_data.msg);
							}
						 }, "POST");
				 } else {
					 alert("{% trans 'Operation cancelled.' %}");
				 }
		 	 });
		 }
		 {% endcomment %}


	};

	$(document).ready(function() {

        $('#assistant_first_name').change(function() {
            Page.update_assistant_email();
        });
        $('#assistant_last_name').change(function() {
            Page.update_assistant_email();
        });
        $('#team_name').change(function() {
             Page.update_assistant_email();
        });

		$('#edit_storage_settings_purchase_link').fancybox();

	}); // end document.ready

</script>
{% endblock %}


{% block widgets_left %}

{% endblock %}

{% block widgets_right %}

{% endblock widgets_right %}

{% block content %}
<div class="outer_block" style='padding: 15px;'>

   	{% if alias.is_admin %}

		<div class="compact_heading box_heading">
			<h3>
            	{% trans 'Users' %}
			</h3>
		</div>

		<div class='h3_sub'>
			{% trans "To grant or revoke admin privileges from another user, select a row, then click: <b>Toggle Admin</b>." %}
		</div>

		<table class='tablesorter' id="admin_users" border="0" cellpadding="0" cellspacing="1" style='width:95%;'>
		<thead>
		<tr>
			<th>ID</th>
			<th>{% trans 'Email' %}</th>
			<th>{% trans 'Name' %}</th>
			<th>{% trans 'Status' %}</th>
			<th>{% trans 'Admin rights' %}</th>
			<th>{% trans 'Date added' %}</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
			{% for a in team_aliases %}
			<tr style='background:inherit!important;' id='team_alias_{{a.id}}'>
				<td>{{a.id}}</td>
				<td><a href='mailto:{{a.email}}'>{{a.email}}</a></td>

				<td>{{a.get_full_name}}</td>

				<td>{% ifequal a.status 'aACT' %}{% trans 'Active' %}{% else %}{% trans 'Inactive' %}{% endifequal %}</td>

				<td><input type='checkbox' {% if a.is_admin %}checked='checked'{% endif %} onclick='Page.change_alias_admin_status({{a.id}}, $(this).is(":checked")); return true;' {% ifequal a alias %}disabled='disabled'{% endifequal %}/></td>

			<td>{{a.date_created|date:'m/d/Y'}}</td>

			<td>{% ifnotequal a alias %}<a href='#' onclick='Page.delete_alias({{a.id}}, "{{a.email}}"); return false;'>Delete</a>{% endifnotequal %}</td>
			</tr>
			{% endfor %}

		</tbody>
		</table>

		{% trans "Add a new user by email: " %}
		<input type='text' placeholder='Email' id='add_user_email' />
		<input type='button' {% ifnotequal alias.account.status 'AACT' %}disabled='disabled'{% endifnotequal %} name='add_new' value='{% trans "Add new user" %}' onclick='Page.add_alias(); return false;' />

        {% comment %}
		<!-- Billing info -->



		<div class="compact_heading box_heading">
			<a target='_blank' href='http://support.calenvy.com/documentation/index.php?title=Billing_issues_%28FAQ%29'><img border='0' style='float:right; margin: 5px;' src='/static/tango/apps/help-browser.png'/></a>
			<h3>
            	{% trans 'Billing' %}
			</h3>
		</div>
		<div class='h3_sub'>
			{% trans "You are subscribed to the " %} <strong><a href='/info/go/{{alias.account.service.name}}/'>{{alias.account.service.name}}</a></strong> {% trans "service level." %}
		</div>

		<table class='tablesorter' id="admin_history" border="0" cellpadding="0" cellspacing="1" style='width:95%;'>
		<thead>
		<tr>
			<th>ID</th>
			<th>{% trans 'Payment gateway' %}</th>
			<th>{% trans 'Description' %}</th>

			<th>{% trans 'Status' %}</th>
			<th>{% trans 'Date' %}</th>
			<th>{% trans 'Amount' %}</th>
		</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
			<tr id='payment_id_{{payment.id|add:10000}}'>
					<td>{{payment.id|add:10000}}</td>
					<td>
						{% ifequal payment.type 'PAYP' %}
							PayPal - {{payment.paypal.payer_email}}
						{% endifequal %}
						{% ifequal payment.type 'GATE' %}
							{% trans 'Credit card' %}
						{% endifequal %}
					</td>
					<td style='text-align: right;'>
						{% with payment.receipt as receipt %}
							{% if receipt %}

								{% with payment.service_item as service_item %}
									{% if service_item %}
										{{service_item.service}} {% trans 'package' %}<br/>

									{% endif %}
								{% endwith %}
								{% with payment.extra_users_item as extra_users_item %}
									{% if extra_users_item and extra_users_item.quantity %}
										{{extra_users_item.quantity}} {% trans 'extra users' %}

									{% endif %}
								{% endwith %}
								{% if receipt.fee %}
									{{receipt.fee.percent}}% fee - {{receipt.fee.label|title}}<br/>
								{% endif %}
								{% if receipt.promo %}
									{{receipt.promo.percent}}% discount<br/>
								{% endif %}
							{% endif %}
						{% endwith %}
						<div style='margin-top: 3px;'><b>${{payment.amount|price}}</b></div>
					</td>

					<td>
						{% ifequal payment.status 'sAPP' %}
							{% trans 'Approved' %}
						{% endifequal %}
						{% ifequal payment.status 'sFAI' %}
							<span style='color: red;'>
								{% trans 'Failed' %}
							 	{% ifequal payment.failure_reason 'rEXP' %}
							 		- {% trans 'Card expired' %}
							 	{% endifequal %}
							 	{% ifequal payment.failure_reason 'rINV' %}
							 		- {% trans 'Card number invalid' %}
							 	{% endifequal %}
							 </span>
						{% endifequal %}
					</td>

					<td>{{payment.date|date:"m/d/y"}}</td>

					<td>${{payment.amount|price}}</td>

				</tr>
			{% endfor %}

		</tbody>
		</table>

		<input type='button' name='add_new' value='{% trans "Edit billing info / upgrade" %}' onclick='window.location="/info/billing/"; return false;' />


		<div class="compact_heading box_heading">
			<a target='_blank' href='http://support.calenvy.com/documentation/index.php?title=Follow-up_Robot_%28FAQ%29'><img border='0' style='float:right; margin: 5px;' src='/static/tango/apps/help-browser.png'/></a>
			<h3>
            	{% trans 'Follow-up Robot integration' %}
			</h3>
		</div>

		<div class='h3_sub'>
			{% trans "Drip, drip, drip... launch automated follow-up emails via Calenvy's contact form widget.  Validate your Follow-up Robot account below or " %} <a href='/robot/go/'>{% trans "register" %}</a> (<a href='/products/follow-up-robot/' target='_blank'>{% trans 'learn more' %}</a>).
		</div>

		<div id='followup_configured' style='{% if not followup_remote_user %}display: none; {% endif %}'>

   			<b>Configured</b> at <a id='followup_configured_link' target='_blank' href='{{followup_remote_user.host}}'>{{followup_remote_user.host}}</a>

   			<div style='margin-top: 10px;'>
   				<input type='button' {% ifnotequal alias.account.status 'AACT' %}disabled='disabled'{% endifnotequal %} name='follow_disable' value='{% trans "Disable" %}' onclick='return Page.followup_disable();'/>
   			</div>
   		</div>
       	<div id='followup_not_configured' style='{% if followup_remote_user %}display: none; {% endif %}'>
	        <form method='POST' action='' onsubmit='return Page.followup_auth();'>
		        <select style='margin-bottom: 5px;' id='followup_url' name='followup_url'>
		        	{% ifequal settings.SERVER 'local' %}
		        		<option selected='selected'>http://localhost:7000/</option>
		        	{% else %}
		        		<option selected='selected'>https://{{site.domain}}/robot/</option>
		        	{% endifequal %}
		        </select>
		        <br/>
		        {% trans 'Email (used at login)' %}:
		        <br/><input type='text' id='followup_email' name='followup_email'/>
		        <br/>
		        {% trans 'Password' %}:
		        <br/><input type='password' id='followup_password' name='followup_password'/>
			    <br/><br/>
			    <input type='submit' {% ifnotequal alias.account.status 'AACT' %}disabled='disabled'{% endifnotequal %} name='follow_validate' value='{% trans "Validate" %}'/>

		    	{% trans 'or' %}

		    	<input type='button' onclick='window.location="/robot/go/";return false;' name='follow_register' value='{% trans "Register" %}'/>

		    </form>

		</div>

        {% endcomment %}


    {% if alias.account.service and False %}

		{% if alias.account.service.allow_crawl %}

				<div class="compact_heading box_heading">
					<a target='_blank' href='http://support.calenvy.com/documentation/index.php?title=Calenvy_%28Settings_%26_User_Guide%29#Email_data_retention'><img border='0' style='float:right; margin: 5px;' src='/static/tango/apps/help-browser.png'/></a>
					<h3>
                		{% trans 'Email data retention' %}
                	</h3>
				</div>

				<div class='h3_sub'>
		           {% trans 'How many days should' %} {{site.name}} {% trans 'store crawled emails on our servers? Emails synced to Salesforce and emails crawled under active contacts will not be deleted via this setting.' %}
		        </div>

		        <form action="" name="edit_storage_settings" onsubmit="Page.save_storage_settings(); return false;">

	                	<select name="store_email_howlong" id="store_email_howlong">
	                		{% for value, text, selected in howlong_store_email_choices %}
	                			<option value="{{value}}" {% if selected %}selected="selected"{% endif %}>{{text}}</option>
	                		{% endfor %}
	                	</select>

		    			<div id='store_email_howlong_warning' style='margin-top: 10px;{% ifnotequal alias.account.store_email_howlong 0 %}display:none;{% endifnotequal %}'>
		    				{% trans '<b>Warning</b>: <i>Paranoid mode</i> restricts new emails from customers from showing up in the dashboard.' %}
		    			</div>

		    			{% if alias.is_admin %}
		    				<div style="padding-top: 10px;">
			                	<input id='edit_storage_settings_submit' {% ifnotequal alias.account.status 'AACT' %}disabled='disabled'{% endifnotequal %} type="submit" name="go" value="{% trans 'Save' %}" />
			                	<!--
			                	<input type="button" onclick="Page.delete_all(); return false;" name="delete_all" value="{% trans 'Delete all' %}" />
			                	 -->
			                </div>
		                {% endif %}
		        </form>
	    {% endif %}

	    <!--  Priv -->

		<div class="compact_heading box_heading">
			<a target='_blank' href='http://support.calenvy.com/documentation/index.php?title=Calenvy_%28Settings_%26_User_Guide%29#Email_data_transparency'><img border='0' style='float:right; margin: 5px;' src='/static/tango/apps/help-browser.png'/></a>
			<h3>
            	{% trans 'Email data transparency' %}
			</h3>
		</div>

		<div class='h3_sub'>
			{% trans "Is your sales team completely transparent (internally) around access to email conversations?" %}
		</div>

		<form action="" name="edit_team_privacy_settings" onsubmit="Page.save_team_privacy_settings();return false;">

			<div style='display:inline;'>
				{% trans 'Account-wide privacy settings:' %}
			</div>

			<div class="" style='display:inline;'>

				<select id='transparent' style='max-width: 200px;'>
				<option value='0' {% if not account.transparent %}selected='selected'{% endif %}>{% trans 'Enabled - Strict access policy' %}</option>
				<option value='1' {% if account.transparent %}selected='selected'{% endif %}>{% trans 'Disabled - Complete transparency' %}</option>
				</select>

			</div>

			{% if alias.is_admin %}
			<div style="padding-top: 10px;">
				<input type="submit" {% ifnotequal alias.account.status 'AACT' %}disabled='disabled'{% endifnotequal %} name="go" value="{% trans 'Save' %}" />
			</div>
			{% endif %}
		</form>


	{% endif %}


	<div class="compact_heading box_heading">
		<h3>
           	{% trans 'Scheduling assistant' %}
		</h3>
	</div>
	<div class='h3_sub'>
		{% trans "Your scheduling assistant" %}, <a id="assistant_email" href='mailto:{{alias.account.get_assistant.email}}'>{{alias.account.get_assistant.email}}</a>, {% trans "reminds you to follow-up with customers and manages your calendar." %}
	</div>
	<form action="" name="edit_assistant" onsubmit="Page.save_assistant_settings();return false;">

	    <select id="assistant_emails_anytime" style="">
			<option value="1" {% if alias.account.assistant_emails_anytime %}selected="selected"{% endif %}>{% trans 'Always send emails & notices' %}</option>
			<option value="0" {% if not alias.account.assistant_emails_anytime %}selected="selected"{% endif %}>{% trans 'Never send emails' %}</option>
		</select>

		<br/><span style="color: red;" id="assistant_error"></span><br/>

		{% trans 'First name:' %}
		<input type="text" style="width: 70px;" name="assistant_first_name" id="assistant_first_name" value="{{alias.account.get_assistant.first_name}}" {% if not alias.is_admin %}readonly="readonly"{% endif %}/>
		<br/>

		{% trans 'Last name:' %}
		<input type="text" style="width: 70px;" name="assistant_last_name" id="assistant_last_name" value="{{alias.account.get_assistant.last_name}}" {% if not alias.is_admin %}readonly="readonly"{% endif %}/> <i>{% trans 'optional' %}</i>

		{% comment %}

			<div style="padding-bottom: 0px; margin-top: 15px;">
			{% trans "Private access URL" %}:
			</div>

			<div style=''>
				http://<input type="text" style="width: 60px; " name="team_name" id="team_name" value="{{alias.account.base_url}}" {% if not alias.is_admin %}readonly="readonly"{% endif %}/>.{{site.domain}}
			</div>

		{% endcomment %}

		<div class="" style='margin-top: 10px;' title='{% trans "Receive a notification email with the changes above." %}'>
			<label>
				<input type="checkbox" name="assistant_inform_account" id="assistant_inform_account" value="1" />
				{% trans 'Email changes to team.' %}
			</label>
		</div>

		<div style="padding-top: 10px;">
			<input type="submit" {% ifnotequal alias.account.status 'AACT' %}disabled='disabled'{% endifnotequal %} name="go" value="{% trans 'Save' %}" />
		</div>

	</form>

    {% endif %}
</div>
{% endblock content %}
