{% extends 'mainv3.html' %}
{% load i18n %}
{% block title %}{% trans 'Install for Google mail' %}{% endblock %}

{% block style %}
<style>
	div.steps h2 {
		margin: 0px 0px 15px 0px;

	}
	div.steps div.step {
		border-bottom: 1px solid #ccc;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}
</style>
{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h1>{% trans "Install for Gmail" %}</h1>
	</div>
{% endblock header %}

{% block javascript %}
	<script language='javascript'>
		// Use window.load instead of document.ready, so that all graphics load before it tries to
		//  download the plugin
		$(window).load(function() {
			var chrome = /Chrome/.test(navigator.userAgent);
			var firefox = /Mozilla/.test(navigator.userAgent);

			if (chrome) {
				$('.steps').hide();
				$('#chrome_steps').show();

				$('#install_link').attr('href','{{url_prefix}}/static/extensions/chrome/curecrm.crx');
				setTimeout(function() { window.location.href = $("#install_link").attr("href"); }, 1000);
			}
			else if (firefox) {
				$('.steps').hide();
				$('#fox_steps').show();

				$('#install_link').attr('href','{{url_prefix}}/static/extensions/firefox/curecrm.xpi').click(function(e) {
					return false;
				});
				InstallTrigger.install({
					"CureCRM": {URL: $("#install_link").attr("href")}
				});

			} else {
				alert('{% trans "Sorry, your browser is not supported." %}');
			}

		});
	</script>
{% endblock %}

{% block content %}
	<div class='block white_bg outer_content'>
		<div class='steps' style='text-align:center;'>
			<h2>{% trans 'Detecting your browser...' %}</h2>

			<img src='/static/images/ajax-loader.gif'/>
		</div>

		<div class='steps' id='chrome_steps' style='display: none;'>
			<img src='http://www.google.com/chrome/intl/en/images/logo_sm.jpg' style='float:right;'/>
			<div class='step'>
				<h2>{% trans "Click the Continue button when prompted at the bottom of your browser." %}</h2>
				<img src='/static/images/install/images/chrome_1.gif'/>
			</div>
			<div class='step'>
				<h2>{% trans "Click the Install button." %}</h2>
				<img src='/static/images/install/images/chrome_2.gif'/>
			</div>
			<div class='step'>
				<h2>{% trans "Chrome extension is installed - now visit Google mail." %}</h2>
				<img src='/static/images/install/images/chrome_3.gif'/>
			</div>
			<div class='step'>
				<h2>{% trans "Tada! Open any Gmail email thread and enjoy..." %} {{site.name}}.</h2>
				<object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' ></param><param name='flashvars' value='i=86463' ></param><param name='allowFullScreen' value='true' ></param><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=86463' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer' ></embed></object>
			</div>
		</div>
		<div class='steps' id='fox_steps' style='display: none;'>
			<img src='http://www.mozilla.com/img/tignish/about/logo/download/logo-wordmark-preview.png' style='float:right;'/>
			<div class='step'>
				<h2>{% trans "Click the Allow button when prompted." %}</h2>
				<img src='/static/images/install/images/fox_1.gif'/>
			</div>
			<div class='step'>
				<h2>{% trans "Click Install Now." %}</h2>
				<img src='/static/images/install/images/fox_2.gif'/>
			</div>
			<div class='step'>
				<h2>{% trans "Click to restart Firefox - then visit Google mail." %}</h2>
				<img src='/static/images/install/images/fox_3.gif'/>
			</div>
			<div class='step'>
				<h2>{% trans "Tada! Open any Gmail email thread and enjoy..." %} {{site.name}}.</h2>
				<object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' ></param><param name='flashvars' value='i=86463' ></param><param name='allowFullScreen' value='true' ></param><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=86463' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer' ></embed></object>
			</div>
		</div>
	</div>

{% endblock %}
