{% extends 'main.html' %}
{% load i18n %}

{%block global_style%}width: 800px; text-align:left;{%endblock%}
{% block header_style %}width: 800px; padding-top: 10px;{% endblock %}

{% block style %}
<style>
.block {
	background-color: ;
}
.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 183px; 
	height: 227px; 
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}
	
.order_box hr {
	height: 1px; 
	background: #ccc; 
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat; 
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}


</style>
{% endblock %}

{% block javascript %}
<script language="javascript">
	$(document).ready(function() {
	
	});
	var Page = this.Page = {
		
		login: function() {
			var password = $('#login_password').val();
	        var email = $('#login_email').val();
	        Ajax.send_data('login/', {email: email, password:password, alias: '{{alias_slug}}', base_url: '{{base_url}}', to: '{{redirect_to}}', twitteruser_slug: '{{twitteruser.slug}}' }, function(data) {
	            if (data.return_data.success) {
					if (data.return_data.redirect)
						window.location=data.return_data.redirect;
					else
						alert(data.return_data.msg);
	            } else {
	                alert("{% trans 'Could not validate your email address or password.' %}");
	            }
			}, "POST");
	    },

	    twitter_link: function() {
		    Ajax.send_data('twitter_link/', {}, function(data) {
			    if (data.return_data.success) {
				    window.location='/dash/';
			    } else {
				    alert("{% trans 'Could not link to your Twitter account at this time.' %}");
			    }
		    });
	    }

	};

</script>
{% endblock %}

{% block content %}
<div class='block rounded_upper' style='padding-bottom: 20px; height: auto; background: #fff;'>
		
		
		<div class='signup_section'>
		

			
			<h1 style='margin: 0 0 10px 0;'>
					{% trans '1. Link your Twitter account to' %} {{site.name}} @{{twitteruser.screen_name}}
			</h1>
			
			{% if alias %}
				<div>
					<div style=''>
						{% trans "You are currently logged in as" %} 
							{{alias.email}}{% if alias.account.name %} {% trans 'on the' %} {{alias.account.name}} {% trans 'network' %}{% endif %}.
						{% trans "To link this to your Twitter account," %} <b>{% trans 'just click below!' %}</b>
						{% trans "Any direct messages (dm) sent from" %} <b>@{{twitteruser.screen_name}}</b> {% trans 'to' %} <b>@{{noted_twitteruser.screen_name}}</b> {% trans "on Twitter will get processed by Noted." %}
					</div>	
					
					<div style='margin-top: 10px;'>
						
						<div style='padding: 10px; background: #eee; border: 1px solid #ccc;'>            
				            <form method='POST' name='login_form' id='exchange_form' onsubmit='Page.twitter_link();return false;'>
				            	<input type='submit' name='' value='Click here to link to Twitter!' style='margin-top: 10px;'/>
				            </form>
				        </div>
						
						<div style='clear:both'></div>
					</div>
					
				</div>			
			{% else %}
			
				<div>
					
					<h2 style=''>
						{% trans 'I do not have an account yet.' %}
					</h2>
					
					<div>
						<div style=''>
							{% trans 'If you are new to' %} {{site.name}}, {% blocktrans %} click below to select a service.
							When you sign up, your email address will be linked to Twitter automatically.{% endblocktrans %} 
							
							<br/>
							<input style='margin-top: 10px;' type='button' onclick='window.location="/@/register/Free"; return false;' value='{% trans "Sign me up!" %}' />
							
						</div>
						<div style='clear: left; height: 20px;'></div>
					</div>
				</div>
					
				<div>			
					<h2 style=''>
						{% trans 'I have a' %} {{site.name}} {% trans 'account.' %}
					</h2>
					<div>
						<div style=''>
							{% trans "Have an account on" %} {{site.name}} {% trans "already? <strong>Log in below</strong>." %}
							{% trans "We will link to your twitter automatically." %}
							{% trans "Any direct messages (dm) sent from" %} <b>@{{twitteruser.screen_name}}</b> {% trans 'to' %} <b>@{{noted_twitteruser.screen_name}}</b> {% trans "on Twitter will get processed by Noted." %}
						</div>	
						
						<div style='margin-top: 10px;'>
							
							<div style='padding: 10px; background: #eee; border: 1px solid #ccc;'>            
					            <form method='POST' name='login_form' id='exchange_form' onsubmit='Page.login();return false;'>
					            <div style='width: 80px; float: left; display: inline;'>{% trans 'Email:' %} </div><input type='text' name='login_email' id='login_email' value='{{email}}' /> <Br/>
					            <div style='clear:both;'></div>
					            <div style='width: 80px; float: left; display: inline;'>{% trans 'Password:' %} </div><input type='password' name='login_password' id='login_password' value='' /> <Br/>
					            <div style='clear:both;'></div>
					            <input type='submit' name='' value='Login' style='margin-top: 10px;'/>
					            </form>
					        </div>
							
							<div style='clear:both'></div>
						</div>
						
					</div>				
				</div>
			{% endif %}
				
		</div>
		
		<div style='margin-top:;'>
				<h1 style='margin-top: 15px;'>
					{% trans '2. Learn about Twitter integration' %}
				</h1>
				<div>
					<div>
						{% trans 'Thanks for following '%} <a href='http://twitter.com/{{noted_twitteruser.screen_name}}'><b>@{{noted_twitteruser.screen_name}}</b></a>.
						{% trans "As soon as you link your account with your Twitter account, direct messages sent from" %} <b>@{{twitteruser.screen_name}}</b> {% trans 'to' %} <b>@{{noted_twitteruser.screen_name}}</b> {% trans 'on Twitter will become notes or events.  Just remember to reference a date/time <span style="color: red;">with the @ symbol</span> to push events to your calendar automatically.' %}
						
						
						<div style="margin: 10px 0 10px 0; background: url(/static/images/yellow_bg.gif) #FCF8BC; background-repeat:repeat-x; padding: 10px; margin-top:;" class="rounded_upper rounded_lower notify">
							<h2>{% trans 'Use any of these examples on Twitter to interact with our product' %}</h2>
							<div style='padding: 5px; border-bottom: 1px dotted #ccc;'>
								dm {{noted_twitteruser.screen_name}} <strong>{% trans 'remind me to call Bob <span style="color: red;">@</span> tomorrow.' %}</strong>
							</div>
							<div style='padding: 5px; border-bottom: 1px dotted #ccc;'>
								dm {{noted_twitteruser.screen_name}} <strong>{% trans 'lunch with @jessica <span style="color: red;">@</span> noon.' %}</strong>
							</div>
							<div style='padding: 5px; border-bottom: 1px dotted #ccc;'>
								dm {{noted_twitteruser.screen_name}} <strong>{% trans 'call @jim friday <span style="color: red;">@</span> 6pm.' %}</strong>
							</div>
							
							<div style='margin-top: 10px;'>
								{% trans 'All of the examples will push events to your existing calendar automatically.' %}
							</div>
							
						</div>
						
						<div>
							{% trans "Read more about the special syntax" %} <a href='/info/syntax/'>{% trans 'here' %}</a>.
						</div>
						
					</div>
					
					<div style='clear: left; height: 20px;'></div>
	
				</div>
			</div>
	
	
</div>
{% endblock %}
