{% load i18n %}
<div align='center' style='text-align: center;' class='expanded_footer'>

	<div style='clear:both; height: 15px;'></div>

	<a href='/@/register/Free/'>

        <img title="{% trans 'End sales rep headaches' %}" alt="{% trans 'Email CAL automation ends sales headaches' %}" border='0' style='float:right; margin-left: 5px; position: relative; top: -15px;' src='/static/images/headache_badge.png'/>
    </a>

	<div style='float: left; ' class='expanded_footer_group'>
		<span class='mp'>{% trans 'Products' %}</span>
		<div>
		    <a target='_blank' href='/products/follow-up-robot/'>{% trans 'Follow-up Robot' %}</a><br/>
			<a target='_blank' href='/products/email-plus-crm/'>{% trans 'Email + CRM' %}</a><br/>
			<a id="install_link" href='/install/'>{% trans 'Magnify Gmail (Firefox & Chrome)' %}</a><br/>
			<a href='/products/outlook/download/'>{% trans 'Magnify Outlook (2007 & 2010)' %}</a><br/>
			<a href='/download/'>{% trans 'Salesforce <i>Desktop</i> Email Sync' %}</a><br/>

		</div>
	</div>

	<div style='float: left; ' class='expanded_footer_group'>
		<span class='mp'>{% trans 'Success' %}</span>
		<div>
			<a href='/info/success/'>{% trans 'Success stories' %}</a><br/>
			{% comment %}
			<a target='_blank' href='http://sites.force.com/appexchange/reviews?listingId=a0N30000001e8euEAA'>{% trans 'Salesforce reviews' %}</a><br/>
			{% endcomment %}
		</div>

	</div>

	<div style='float: left; ' class='expanded_footer_group'>
		<span class='mp'>{% trans 'Community' %}</span>
		<div>
			<a href='/blog/'>{% trans 'Blog' %}</a><br/>
			<a target='_blank' href='http://twitter.com/curecrm'>Twitter</a><br/>
		</div>

	</div>

	{% comment %}
	<div style='float: left; ' class='expanded_footer_group'>
		<span class='mp'>{% trans 'Documentation' %}</span>
		<div>
			<a href='http://support.curecrm.com/documentation/'><strong>{% trans 'New!' %}</strong> {% trans 'Support wiki' %}</a><br/>

			<a href='/products/salesforce-automation/tips/'>{% trans 'Salesforce tips & tricks ' %}</a><br/>
			<a href='/products/salesforce-automation/help/'>{% trans 'Salesforce integration guide' %}</a><br/>

		</div>
	</div>
	{% endcomment %}

	<div style='float: left; ' class='expanded_footer_group'>
		<span class='mp'>{% trans 'Info' %}</span>
		<div>
			<a href='/info/contact/'>{% trans 'Contact us' %}</a><br/>
			{% comment %}
			<a href='/info/features/privacy/'>{% trans 'Privacy' %}</a><br/>
			<a href='/info/disclaimer/'>{% trans 'Disclaimer' %}</a><br/>
			<a href='/info/press/list/'>{% trans 'Latest press' %}</a><br/>
			<a href='/info/press/'>{% trans 'Press kit' %}</a><br/>
			{% endcomment %}
		</div>
	</div>



	<div style='clear:both; height: 10px;'></div>

</div>

{% comment %}
	<div style='margin-top: 10px; text-align: center;' align='center' class='expanded_footer'>
		<a href='/products/salesforce-automation/archive/'><img alt="{% trans 'Archive your old sales emails with Calenvy Archive!' %}" border='0' src='/static/images/new_design/cover/archive_your_sales_mails.jpg'/></a>
	</div>


	<div style='padding: 10px 10px 0px 10px; text-align:left; color: #666; margin-top: 15px;'>

		<div align='center' style='text-align:center;'>
			<object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=855fe5a904efec4d7673ff83d22f4bed09880ce1&style=0" /></object>
		   &nbsp;
		</div>


		<div style='clear:both;'></div>
	</div>
{% endcomment %}
