{% load i18n %}
<!-- load main_footer.html -->
<div class='block footer' style=''>
	<div style='width: 100%; text-align: center;' class='footer'>
		<a href='/'>{% trans 'Home' %}</a>  {% if not alias %}|  <a href='/@/register/Free/'>{% trans 'Start for Free!' %}</a>  |  <a href='/login/'>{% trans '<b>Email + CRM</b> Login' %}</a> {% endif %}  |  <a href='/robot/'>{% trans '<b>Follow-up Robot</b> Login' %}</a>  |  <a href='/blog/'>{% trans 'Blog' %}</a>
		<div style='margin-top: 5px;'>
			{% trans 'Copyright 2019-2020' %} <a href='/'>{{site.name}}</a>.  {% trans 'All rights reserved.' %} {{site.name}} {% trans "is completely free!" %}
		</div>

	</div>
</div>
<!-- end main_footer.html -->
