{% extends 'mainv3.html' %}
{% load i18n %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
	<div style="border: 1px solid #ccc; background: #eee;" class="block block_header">
		<h1 class='mp'>{{site.name}} {% trans 'Active Users' %}</h1>
	</div>
{% endblock %}

{% block style %}

<style type="text/css">
	div.success_logo {
		float: left;
		width: 33%;
		text-align:center;
	}
</style>

<!--[if IE]>
<style type="text/css">
	div.success_logo {
		width: 30%;
	}
</style>
<![endif]-->


{% endblock %}

{% block content %}

	<div style="" class="block">
		{{site.name}} {% trans 'delivers automated sales follow-up solutions for over 500 companies worldwide including: ' %}
	</div>

	<div style="" class="block">
		{% for a in featured_accounts %}
			<div class='success_logo' align='center'>
				<img src='{{a.logo_url}}'/>
			</div>

			{% if forloop.counter|divisibleby:"3" %}
				<div style='clear:both; height: 10px;'></div>
			{% endif %}

		{% endfor %}
		<div style='clear:both;'></div>

	</div>
{% endblock %}
