{% extends 'mainv3.html' %}
{% load i18n %}

{%block global_style%}width: 800px; text-align:left;{%endblock%}
{% block header_style %}width: 800px; padding-top: 10px;{% endblock %}
{% block header %}{% endblock %}
{% block style %}

<style>
.block {
	background-color: ;
}

.yellow_order_box {
	border: 1px solid #ccc;
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	position: relative;
	top: 0px;
	width: 183px;
	height: 227px;
}

.order_box .title h1 {
	padding-top: 6px;
	color: #000;
}

.order_box hr {
	height: 1px;
	background: #ccc;
	margin: 10px;
	border: 0px;
}

.order_box .features {
	background: url(/static/images/order/images/signup_button.gif) bottom center no-repeat;
	height: 140px;
	cursor: pointer;
	text-align: center;
}

.order_box .features strong, h3 strong {
	color: #D6156C;
	font-size: 1.2em;
}

.signup_info h3 {
	margin-top: 20px;
}
.terms a {
	color: #000;
}
.signup_block {
	padding-bottom: 20px;

}

h3 {
	color: #666;
}

h1 {
	font-weight: bold;
}

</style>

{% endblock %}

{% block javascript %}

<script type="text/javascript">
Cufon.replace('h1, h3');
</script>

<script language="javascript">
	$(document).ready(function() {
		// loaded on window.ready
		$('#signup_promo').val('').blur(Page.check_promo);
		$('#signup_agree').change(function(e) {
			Page.agreed_terms = $(this).attr('checked') ? 1 : 0;
			Page.update_submit_button();
		});

		$('#signup_agree').click(function(e) {
			Page.agreed_terms = $(this).attr('checked') ? 1 : 0;
			Page.update_submit_button();
		});
	});
	var Page = this.Page = {

		service: "{{service.name}}",
		promo: "{{promo.name|default_if_none:''}}",
		alias_slug: "{{alias.slug}}",
		// Enable the submit button if we have everything we need
		agreed_terms:	0,
			// Put more flags here, when all of them are true then we can enable the button
		update_submit_button: function() {
			if (Page.agreed_terms) {
				//$("#signup_submit").removeAttr("disabled");
			} else {
				//$("#signup_submit").attr("disabled","disabled");
			}
		},
		check_promo: function() {
			var promo = $('#signup_promo').val();
			var service = Page.service;
			$('#signup_agree').removeAttr('checked');
			Page.agreed_terms = 0;
			Page.update_terms(service, promo);
		},
		popup: function(URL) {
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=0,width=700,height=300,left = 370,top = 300');");
		},

		update_terms: function(service, promo) {
			$('#signup_promo_error').text('');
			$('#signup_promo').css({border: '2px solid #ccc'});
			if (promo != '')
			    Ajax.send_data('get_service_terms/', {
			        service: service,
			        promo: promo
			    }, function(data) {
	                if (data.return_data.success) {
		                Page.promo = promo;
		                var team_url = ($('#signup_team_url').attr('name')) ? $('#signup_team_url').val() : '';
		                if (data.return_data.redirect) {
			                window.location='?promo=' + escape(data.return_data.promo_name) +
			                	'&email=' + escape($('#signup_email').val()) +
			                	'&team_url=' + escape(team_url);
		                } else {
		                    $('#signup_service_terms').html(data.return_data.terms);
		                    $('#signup_promo').css({border: '2px solid green'});
		                    if (data.return_data.payment_required) {
			                    $('#signup_submit').attr('value', 'Complete payment');
		                    } else {
			                    $('#signup_submit').attr('value', 'Create account');
		                    }
		                }
	                } else {
		                Page.promo = '';
	                    $('#signup_promo_error').text(data.return_data.msg);
	                    $('#signup_promo').css({border: '2px solid red'});
	                    // window.location='?';
	                }
	            }, "GET");
		},

		submit_form: function() {
			/*
			 * Called when the user presses the submit button
			 */

			if (!$("#signup_agree").is(":checked")) {
				alert("{% trans 'Please agree to the terms of service.' %}");
				return;
			}

			$('#signup_submit').attr('disabled', 'disabled');

			Ajax.send_data('select_service/', {
			    service: Page.service,
			    promo: Page.promo
		    }, function(data) {
		    	if (Page.alias_slug != '') {
					// User is logged in, send them to the billing page
					Page.next(data);
		    	} else {
			    	// User is not logged in or registered yet, register them first before proceeding
			    	Page.send_registration(data);
		    	}
		    }, "GET");
		},

		send_registration: function(next_data) {
			/*
			 * For new (non-logged-in) users, register the user.
			 * This may join the user to an existing account.
			 */
		    var email = $('#signup_email').val();
			var team_url = ($('#signup_team_url').attr('name')) ? $('#signup_team_url').val() : '';
			var service_name = '{{service.name}}';

		    Ajax.send_data('send_registration/', {
		        email: email,
		        team_url: team_url,
		        service_name: service_name,
		        promo: Page.promo
		    }, function(data) {
                if (data.return_data.success) {
                	{% comment %} If we're joining an existing account, we're not logged in automatically --
					just go to the payment complete page where we tell user to check their email {% endcomment %}

                    if (data.return_data.redirect_url) {
                        window.location = data.return_data.redirect_url;
                    } else {
                    	Page.next(next_data);
                    }
                } else {
                    alert(data.return_data.msg);
                    $('#signup_submit').removeAttr('disabled');
                }
            }, "POST");
		},

		next: function(data) {
			/*
			 * Call this with the return data from ajax/select_service
			 */

	    	if (data.return_data.payment_optional) {

                {% comment %} Let them choose whether to go to the billing page {% endcomment %}

                if (confirm(data.return_data.msg)) {
                 window.location = '/info/billing/?service={{service.name}}&agent={{agent}}';
                } else {
                    window.location = '/@/registered/?agent={{agent}}';
                }

	    	} else if (data.return_data.payment_required) {

                {% comment %} Payment is required, take them to the billing page {% endcomment %}

                window.location = '/info/billing/?service={{service.name}}&agent={{agent}}';

            } else if (data.return_data.success) {

               	{% comment %} Service is free {% endcomment %}

                window.location = '/@/registered/?agent={{agent}}';
            } else {

                alert(data.return_data.msg);
                $('#signup_submit').removeAttr('disabled');
            }

		}

	};

</script>
{% endblock %}

{% block content-heading %}
        <div class="content-section-heading">
          <h3 class="text-secondary mb-0">Completely free!</h3>
          <h2 class="mb-5">Scheduling made easy</h2>
        </div>
        {% endblock %}

{% block content %}
<div class='col-lg-7 mx-auto' align='center' style='padding-bottom: 20px; height: auto; background:; text-align: center;'>

	<form id='signup_form' onsubmit='Page.submit_form(); return false;'>

        <div></div>
		<div class='signup_section' style=''>
            {% if alias %}
                <div class="input-group">
                  <input disabled='disabled' value='{{alias.email}}' type="text" id='signup_email' name='signup_email' class="form-control" placeholder="Email address" aria-describedby="basic-addon2">
                  <span style='cursor:inherit;' class="input-group-addon btn" id="basic-addon2">{{terms_string|safe}}</span>
                </div>
            {% else %}
                <div class="input-group">
                  <input value='{{email|default_if_none:""}}' type="text" id='signup_email' name='signup_email' class="form-control" placeholder="Email address" aria-describedby="basic-addon2">
                  <span style='cursor:inherit;' class="input-group-addon btn" id="basic-addon2">{{terms_string|safe}}</span>
                </div>
            {% endif %}

			{% comment %}
			{% if show_promo  %}
			<div class='signup_block' id='signup_section_promo' style='{% if service.is_free %}display: none;{% endif %} clear: left; margin-top: 15px;'>

				<h1>{% trans 'Save money' %}</h1>
				<div style='margin-bottom: 10px;'>
					{% trans "If you have a promotional discount code, enter it here. " %}

				</div>


				<div style='float: left; width: 80px;'>
					<strong>
						{% trans 'Promo code' %}
					</strong>
				</div>
				<input {% if alias %}disabled='disabled'{% endif %} type='text' id='signup_promo' name='signup_promo' class='' style='float: left; width: 130px' value=''/>
				<input {% if alias %}disabled='disabled'{% endif %} style='margin-left: 5px;' type='button' value='{% trans "Validate" %}' onclick='Page.check_promo(); return false;'/>

				<div style='clear: left; height: 10px; color: red;' id='signup_promo_error' ></div>


			</div>
			{% else %}
				<input type='hidden' disabled='disabled' id='signup_promo' name='signup_promo' class='' value=''/>
			{% endif %}
			{% endcomment %}

			<div id='signup_section_agree' style='clear: left; margin-top: 10px; ' class='signup_block rounded_upper rounded_lower'>

				<div>
					<div class='terms'>

						<label>
						<input type='checkbox' name='signup_agree' id='signup_agree'/>

						{% trans 'I agree to the' %}
						<a href='#' onclick='Page.popup("/info/terms/terms");return false;'>{% trans 'terms of service' %}</a>
						</label>

					</div>

					<div style='padding-top: 10px;'>
						<input type='submit' id='signup_submit' class='btn btn-secondary' name='signup_submit' value='{%if payment_required %}Continue{% else %}Create account{%endif%}'/>
					</div>
				</div>


			</div>


		</div>

		<div style='clear:both;'></div>

	</form>


</div>

<div style='clear:both;'></div>

{% endblock %}
