{% extends 'mainv3.html' %}
{% load i18n %}

{% block style %}

<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">

<style>

	/* Product zooms right */

	div.product_zooms {
		height: 385px;
		border-bottom: 1px solid #ccc;
		overflow: hidden;
		position: relative;
	}

	div.product_zooms div.product {
		height: 385px;
		overflow: hidden;
	}

	/* Customer logos */


	div.jcaro li {
		margin-right: 10px;
	}

	/* Customer testimonials and logos lower left */

	div.testimon div.quote {
		float: left;
		font-size: 3em;
		padding-right: 5px;
		padding-bottom: 15px;
		margin-top: -5px;
		color: #999;
	}

	div.testimon div.sig {
		color: #999;
		font-size:.9em;
		margin-top: 10px;
	}

	div.testimon div.sect {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	div.testimon h2 {
		margin-bottom: 10px;
	}

	/* Product bubbles far-left of page */

	div.prod {
		margin-right: 0px;
		clear: both;
	}

	div.prod div.det {
		background: url("/static/images/new_design/images/g_bg.gif") repeat-x;
		border-bottom: 1px solid #ccc;

	}

	div.selected div.det {
		background: url(/static/images/highlight_bg.png) repeat-x bottom;
		border-bottom: 1px solid #000;
	}

	div.prod div.det {
		padding: 10px 15px 15px 15px;
		clear:both;
	}

	div.prod div.det div.sub_det {
		width: 220px;
		margin-top: 7px;
	}

	div.prod hr {
		border: 1px solid #eee;
		height: 1px;
		margin: 10px 0px 10px 0px;
	}

</style>

<!--[if IE]>
<style type="text/css">
	div.products {
		overflow: hidden;
	}
</style>
<![endif]-->

{% endblock %}

{% block javascript %}

<script type="text/javascript">
Cufon.replace('.feature_box h3');
</script>

<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>

<script type="text/javascript" src="/static/js/lib/jcaro.js"></script>

<script language="javascript">

	var Cover = this.Cover = {
		nav_init: function() {
			$('div.products div.prod').mouseover(function(e) {
				if (!$(this).hasClass('selected')) {
					$('div.products div.prod').removeClass('selected');
					$(this).addClass('selected');
					var selected_y = $(this).attr('id');
					selected_y = selected_y.replace('prod_','');
					$('#move').animate({top: '-'+selected_y+'px'},300);

				}

			});
			$('#prod_0').mouseover();
		}
	};

	$(document).ready(function(){

		// $("a#video_link").fancybox({ 'frameWidth': 780, 'frameHeight': 481, 'hideOnContentClick': false });
		var timer = setTimeout(function(){
			$(".jcaro").jCarouselLite({
			    auto: 5000,
			    speed: 1000,
			    visible: 4
			});
		},1000);
	});
	$(document).ready(function() {

		$('#email_login').keyup(function(e) {
		    if(e.keyCode == 13) {
		        Ajax.login();
		    }
		});

		$('#robot_video').fancybox({'frameWidth': 560, 'frameHeight': 345, 'hideOnContentClick': false});

		Cover.nav_init();


	});
</script>
{% endblock %}

{% block content %}

<div style='height: auto;' class='rounded_upper'>

	<!-- <h1 class='mp' style='text-align:center; margin-top: 15px;'>{% trans 'Losing sales because of missed follow-up emails?' %}</h1> -->

	<div style='background: #fff;' class='rounded_upper'><!-- background: #fff url(/static/images/new_design/images/mid_fold.gif) no-repeat; -->

		<div class='products' style='float: left; width: 29%; border-right: 1px solid #ccc; padding-bottom:95px;'>
			<div class='prod selected' id='prod_0'>
				<div class='det rounded_top_left' style=''>
					<img border='0' src='/static/images/new_design/images/logo_robot.gif'/>
					<div class='sub_det'>
						{% trans "Launch automated email campaigns directly from Salesforce or Google mail." %}
					</div>
					<div style='text-align: right;' class='sub_det'>

						<a href='/robot/'><img border='0' title='{% trans "Install now" %}' src='/static/images/new_design/images/button_install_small.gif'/></a>
					</div>
				</div>

			</div>


			{% comment %}
			<div class='prod' id='prod_385'>
				<div class='det'>
					<img border='0' src='/static/images/new_design/images/logo_sf.gif'/>
					<div class='sub_det'>
						{% trans "Sync customer emails into Salesforce." %}
					</div>
					<div style='text-align: right;' class='sub_det'>

					   <a href='http://sites.force.com/appexchange/listingDetail?listingId=a0N30000001e8euEAA'><img border='0' title='{% trans "Install now" %}' src='/static/images/new_design/images/button_install_small.gif'/></a>
					</div>
				</div>

			</div>
			{% endcomment %}

			<div class='prod' id='prod_770'>
				<div class='det'>
					<img border='0' src='/static/images/new_design/images/logo_gmail.gif'/>
					<div class='sub_det'>
						{% trans "Email Sync add-on for Gmail & Google Apps." %}
					</div>
					<div style='text-align: right;' class='sub_det'>

						<a href='/install/'><img border='0' title='{% trans "Install now" %}' src='/static/images/new_design/images/button_install_small.gif'/></a>
					</div>
				</div>

			</div>

			<div class='prod' id='prod_1155'>
				<div class='det'>
					<img border='0' src='/static/images/new_design/images/logo_outlook.gif'/>
					<div class='sub_det'>
						{% trans "Email Sync plug-in for Outlook 2007 & 2010" %}
					</div>
					<div style='text-align: right;' class='sub_det'>

						<a href='/static/downloads/curecrm_for_outlook.zip'><img border='0' title='{% trans "Install now" %}' src='/static/images/new_design/images/button_install_small.gif'/></a>
					</div>
				</div>
				<div style='clear:both;'></div>

			</div>

			<div class='prod' id='prod_1540'>
				<div class='det' style='border-bottom: 0px;'>
					<img border='0' src='/static/images/new_design/images/logo_crm.gif'/>
					<div class='sub_det'>
						{% trans "Full-blown CRM system powered by email." %}
					</div>
					<div style='text-align: right;' class='sub_det'>

						<a href='/@/register/Free'><img border='0' title='{% trans "Install now" %}' src='/static/images/new_design/images/button_install_small.gif'/></a>
					</div>
				</div>
				<div style='clear:both;'></div>

			</div>

			<div style='clear: left;'></div>

		</div>

		<div style='float: left; width: 70%; overflow: hidden;'>
			<div class='product_zooms' style='overflow: hidden;'>
				<div id='move' style='position: relative;'>

					<div id='product_zooms_robot' class='product'>
						<div style='padding: 20px'>
							<iframe src="https://player.vimeo.com/video/367514053" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

						</div>
					</div>

					<div id='product_zooms_sync' class='product'>
						<div style='padding: 20px;'>
							<iframe src="https://player.vimeo.com/video/367516158" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

						</div>
					</div>

					<div id='product_zooms_gmail' class='product'>
						<div style='padding:20px;'>
							<iframe src="https://player.vimeo.com/video/367516158" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
						</div>
					</div>

					<div id='product_zooms_outlook' class='product'>
						<div style='padding:20px;'>
							<iframe src="https://player.vimeo.com/video/367516158" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

						</div>
					</div>

					<div id='product_zooms_crm' class='product'>
						<div style='padding:20px;'>
							<iframe src="https://player.vimeo.com/video/367516158" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

						</div>
					</div>

				</div>
			</div>

			<div style=''>
				<div style='float:left;  width: 49%; border-right: 1px solid #ccc;' class='testimon'>
					<div style='padding: 10px;'>
						<div class='sect'>
							<div class='quote'>"</div>
							<div style='color: #666;'>
								{% trans "The support stands head and shoulders above everyone else." %}
							</div>
							<div class='sig'>
								-- Dave Minor, <a target='_blank' href='http://dmacautomation.com/'>DMAC</a>.
							</div>
						</div>

						<div style='clear:left;'></div>

						<div class='sect' style='margin-bottom:0px; padding-bottom: 0px;'>
							<div class='quote'>"</div>
							<div style='color: #666;'>
								{% trans "Awesome product. We would not have signed on to Salesforce without it. " %}
							</div>
							<div class='sig'>
								-- Michelle DiPalma, <a target='_blank' href='http://allergysense.com/'>AllergySense</a>.
							</div>
						</div>




					</div>
				</div>

				<div style='float: left; width: 50%;'>
					<div style='padding: 10px;'>

						<div class='sect' style='border-bottom: 0px; padding-bottom: 0px;' align='center'>
							<a href='/info/press/list/'><img src='/static/images/new_design/images/press.gif' border='0'/></a>
						</div>
					</div>
				</div>

				<div style='clear:both;'></div>

				<div style='border-top: 1px solid #ccc; padding-left: 10px;'>

					<div style='clear:left;'></div>

					<div align='center' class="jcaro sect" style='text-align:center; margin-top: 5px; max-height: 80px; overflow: hidden;'>
					    <ul style='text-align:center;'>
					    	{% if featured_accounts %}
						        {% for a in featured_accounts %}
						        	{% if a.logo_url %}
						        		<li><a href='/info/success/'><img border='0' src="{{a.logo_url}}" width='136'/></a></li>
						        	{% endif %}
						        {% endfor %}
					        {% else %}
										{% comment %}
					        	<li><a href='/info/success/'><img border='0' src="/static/images/CureCRM_logo_v3.gif" width='136'/></a></li>
					        	<li><a href='/info/success/'><img border='0' src="/static/images/CureCRM_logo_v3.gif" width='136'/></a></li>
					        	<li><a href='/info/success/'><img border='0' src="/static/images/CureCRM_logo_v3.gif" width='136'/></a></li>
					        	<li><a href='/info/success/'><img border='0' src="/static/images/CureCRM_logo_v3.gif" width='136'/></a></li>
					        	<li><a href='/info/success/'><img border='0' src="/static/images/CureCRM_logo_v3.gif" width='136'/></a></li>
					        	<li><a href='/info/success/'><img border='0' src="/static/images/CureCRM_logo_v3.gif" width='136'/></a></li>
										{% endcomment %}
									{% endif %}

					    </ul>
					</div>


				</div>

			</div>

		</div>

		<div style='clear: left;'></div>

		{% comment %}
		<div style='padding: 15px; border-top: 1px solid #ccc;'>

			<h2><a href='/info/success/'>{% trans "Success stories" %}</a></h2>



		</div>
		{% endcomment %}

	</div>

</div>

{% endblock content %}
