{% extends 'main.html' %}
{% load i18n %}

{% block title %}{% trans 'Login to your email CAL control panel.' %}{% endblock %}
{% block header %}
{% endblock %}

{% block content-heading %}
<div class="content-section-heading">
  <h3 class="text-secondary mb-0">Completely free scheduling and contact management.</h3>
  <h2 class="mb-5">Login to your account</h2>
</div>
{% endblock %}
        

{% block style %}
<style>

    .post_button a, .post_button a:link {
        color: #000;
        text-decoration: none;
    }
    .post_button {
        padding: 5px;
        margin-right: 10px;
        background: url(/static/images/yellow_bg.gif) #FCF8BC; 
        background-repeat: repeat-x; 
        -moz-border-radius: 10px; 
        -webkit-border-radius: 10px;
        color: #000;
        border: 1px solid #FFF;
        border-bottom: 1px solid #2B2825;
    }
    .block input {
        font-size: .9em;
    }
</style>
{% endblock %}

{% block javascript %}

<script type="text/javascript">
Cufon.replace('h1, h2');
</script>

<script language="javascript">
	var Page = this.Page = {
		profiler_key: '{{profiler_key|default_if_none:""}}',
		disable_widgets: '{{disable_widgets|default_if_none:""}}',
		summary_enabled: ('{{summary_enabled|default_if_none:"True"}}' == 'True'),
        login: function() {
            var params = {
                email: $('#login_email').val(),
                password: $('#login_password').val(),
                base_url: '{{base_url}}',
                to: '{{redirect_to}}'
            };
            if (Page.profiler_key != '') {
                params[Page.profiler_key] = '1';
            };
            if (Page.disable_widgets != '') {
                params.disable_widgets = Page.disable_widgets;
            };
            params.summary_enabled = Page.summary_enabled ? '1' : '0';
            Ajax.send_data('login/', params, function(data) {
                if (data.return_data.success) {
					if (data.return_data.redirect)
						window.location=data.return_data.redirect;
					else
						alert(data.return_data.msg);
                } else {
                    alert(data.return_data.msg);
                }
			}, "POST");
        }
	};
	
	$(document).ready(function() {
	
	});
</script>
{% endblock %}

{% block content %}

<div class='col-lg-6 mx-auto' align='center'>
    <div class='' style='text-align: center;'>
        
        <div style='margin-top: 10px; ' align='center'>            
            <form method='POST' name='login_form' id='exchange_form' onsubmit='Page.login();return false;'>
	            <div class="input-group">
                  <input value='{{email}}' type="text" id='login_email' name='login_email' class="form-control" placeholder="Email address" aria-describedby="basic-addon2">
                  <span style='cursor:inherit;' class="input-group-addon btn" id="basic-addon2">Email address</span>
                </div>
                <div class="input-group">
                  <input value='{{alias.email}}' type="password" id='login_password' name='login_password' class="form-control" placeholder="" aria-describedby="basic-addon2">
                  <span style='cursor:inherit;' class="input-group-addon btn" id="basic-addon2">Password</span>
                </div>
                
                
	            <input type='submit' class='btn btn-secondary' name='' id='login_button' value='Login' style='margin-top: 10px;'/>
            </form>
            
            <div style='margin-top: 10px;'>
            	<strong>
            		<a class='btn btn-primary' href='/@/register/Free/'>{% trans 'Register for free' %}</a>
                    <a class='btn btn-primary' href='/login/forgot/'>{% trans 'Forgot your password?' %}</a>
            	</strong>
            </div>
            
        </div>
    </div>
    
</div>
{% endblock content %}
