{% extends 'mainv3.html' %}
{% load i18n %}

{% load markup %}

{% block description %}{% trans 'Sales reps: read the blog to learn about email CAL strategies' %}{% endblock %}


{%block global_style%}width: 900px; text-align:left;{%endblock%}
{% block header_style %}width: 900px; padding-top: 10px;{% endblock %}


{% block style %}
<style>
	.date {
		color: #333;
		font-size: 1em;
		text-align:left;
		padding-bottom: 10px;
	}
	.body p {
		margin-bottom: 10px;
	}

	.inline_tag_list {
		color: #CCC;
		margin-bottom: 10px;
	}

	.post_list div {
		margin-bottom: 10px;
	}

	.post_list .date {
		font-size: 1.2em;
	}

	#comments {
		padding-top: 15px;
	}
	.comment {
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ccc;
		font-size: 1.1em;
		clear: both;
	}
	h5 {
		font-size: 1.1em;
	}
	a.count, a.count:hover, a.count:link {
		float: right;
		color: #333;
	}
	.comment .date {
		font-size: 1em;
		margin-top: 5px;
	}
	form label {
		display: block;

	}

	div.feature {
		border: 1px solid #ccc;
		background: #eee;
		padding: 10px;
		margin-bottom: 15px;
	}


</style>
{% endblock %}

{% block javascript %}
<link rel="alternate" type="application/rss+xml" title="RSS" href="/feeds/blog/">
{% endblock %}

{% block content_class %}white_bg outer_content{% endblock %}

{% block header %}
	<div style="background: #eee; border-bottom: 1px solid #666;" class="block block_header">
		{% block content_title %} {% endblock %}
	</div>
{% endblock header %}

{% block content %}
<div id="body" class='body_{% block body_id %}{% endblock %}'>
<div style='background:#fff; height: auto;' class='rounded_upper'>

    {% block body %}
    {% endblock %}

</div>
</div>
{% endblock content %}
