{% extends 'emails/main.v1.html' %}
{% load i18n %}

{% block content %}

<div style='padding: 10px; border: 1px solid #ccc; margin: 5px;'>
	{% trans 'Someone just requested a demo:' %}
	<a href="mailto:{{email}}">{{email}}</a> ({{full_name}})
	<br/><br/>Flavor: {{flavor}}
</div>

{% endblock %}