{% extends 'modals/wizard_small.html' %}
{% load i18n %}

{% block wizard_id %}contacts_import_select{% endblock %}

{% block wizard_js %}
<script language="javascript">
	
	var WizardContactsImportSelect = this.WizardContactsImportSelect = {

		n_columns: 0,
		
	    hide: function() {
	        $('.wizard').hide();
	    },
  
 		fill_data: function(resp) {

			for (var i = 0; i < resp.example_rows.length; i++) {
				var row = $('#import_file_sample'+i).html('');
				for (var j = 0; j < resp.example_rows[i].length; j++) {
					$('<td></td>').text(resp.example_rows[i][j]).appendTo(row);
				}
			}
						
			WizardContactsImportSelect.n_columns = resp.example_rows[0].length;

			$('#import_file_select_boxes').html('');
			for (var j = 0; j < resp.example_rows[0].length; j++) {
				var default_fields = resp.default_fields;
				
				var select_list = $("<select id='import_file_select_box_"+j+"' style='font-size: 10px; width: 70px; overflow: hidden;'></select>");
				select_list.append("<option value=''>{% trans '[ignore column]' %}</option>");
				for (var k = 0; k < default_fields.length; k++) {
					var html_option = $("<option></option>");
					html_option.attr('value', default_fields[k].field_name);
					//if (default_fields[k].field_name == resp.init_field_choices[j]) {
					//	html_option += "selected='selected' ";
					//}
					html_option.text(default_fields[k].name);
					html_option.appendTo(select_list);
				}
				select_list.val(resp.init_field_choices[j]);
			
				$('#import_file_select_boxes').append("<td id='import_file_select_td_"+j+"'></td>");
				$('#import_file_select_td_'+j).append(select_list);
			}

			// Set the default tag selection
			$('#import_select_category').val(resp.default_bucket_slug);

	    },

	    bucket_add: function() {
			Page.bucket_add(WizardContactsImportSelect.bucket_add_callback);
	    }, 

	    bucket_add_callback: function(name, slug) {
	    	var option = $('<option></option>');
			var import_select = $('#import_select_category');
	    	option.text(name).val(slug);
	    	option.appendTo(import_select);
			import_select.val(slug);
			return true;			// reload the widgets
	    },
	    
	    submit: function() {
		    var selections = '';
		    for (var i = 0; i < WizardContactsImportSelect.n_columns; i++) {
				var s = $('#import_file_select_box_'+i);
				if (i > 0) {
					selections = selections + ',' + s.val();
				} else {
					selections = s.val();
				}
		    }

		    var category = $('#import_select_category').val();
		    
			Ajax.send_data('import_csv/', {selections: selections, category: category}, function(data) {
				if (data.return_data.success) {
					alert(data.return_data.msg);
					WizardContactsImportSelect.hide();
					Contacts.collapse();
				} else {
					alert(data.return_data.msg);
				}
			}, "POST"); 	
		    
	    }
	}
    
	$(document).ready(function() {
		
	});
	
</script>
{% endblock %}

{% block bottom %}
		
{% endblock %}

{% block content %}

		<style>
			
			#import_file_table {
				background: #eee;
				border: 1px solid #ccc;
			}
			
			#import_file_table td {
				padding: 3px;
				margin-right: 3px;
				font-size: .7em;
			}
			
			#import_file_table td select {
				font-size: .9em;
				width: 70px;
				overflow: hidden;
			}
			
			#import_file_table tr {
				
			}
		</style>

		<div class='bg-aqua' style='border-bottom: 1px solid #CCC;'>
			
			<div style='padding: 5px; position: relative; left: 5px; '>
				{% trans 'Data matching' %}
			</div>
			
		</div>

		<div id='import_file_table_container' style='padding: 5px; margin-top: 10px; margin-right: 10px; width: 98%; overflow: auto; background: #fff;'>
			<table id='import_file_table'>
				<tr id='import_file_sample0'>
				
				</tr>
				
				<tr id='import_file_sample1'>
				
				</tr>
				
				<tr id='import_file_select_boxes'>
				
				</tr>
			</table>
			
			<div style='margin-top: 10px; '>
				
				<div style='margin-bottom:10px;'>
					* {% trans '<b>Important notice</b>: You can use the field "Note" for multiple columns.' %}
				</div>
				
				{% if buckets %}	
				<div>
					{% trans "Add tag" %}: 
				</div>
				<select name='import_select_category' id='import_select_category' style='width: 200px; font-size: .9em;' >
			        {% for b in buckets %}
			            <option value="{{b.slug}}">{{b.text}}</option>
			        {% endfor %}
				</select>
				
				<img border="0" src="/static/tango/actions/list-add.png" title="Click to add new tag." onclick="WizardContactsImportSelect.bucket_add(); return false;" style="cursor: pointer;"/>
				
				{% endif %}
				
			</div>
			
			
			<div style='margin-top: 10px;'>
				<input onclick='WizardContactsImportSelect.submit(); return false;' type='submit' name='contacts_import_fields_submit' value='{% trans "Go" %}'/>
				<input onclick='$(".wizard_contacts_import_select").hide(); return false;' type='button' value='{% trans "Close" %}'/>
			
			</div>
		</div>
		
{% endblock content %}
