{% load i18n %}
{% comment %}Replacement for javascript prompt {% endcomment %}
{% spaceless %}
<form onsubmit="Prompt.return_result($('#prompt_input').val()); $('#fancy_close').trigger('click'); return false;">
	<div id="prompt_text"></div>
	
	<div style='margin-top: 15px;'>
		<input id="prompt_input" value="" style='width: 90%;'></input>
	</div>
	
	<div style='margin-top: 15px;' >
		<input type="submit" value=" {% trans 'OK' %} " />
	</div>
</form>
{% endspaceless %}