{% extends 'modals/wizard.html' %}
{% load i18n %}

{% block wizard_id %}time_zone{% endblock %}

{% block wizard_js %}
<script language="javascript">

	var TimeZoneForm = this.TimeZoneForm = {
		current_timezone: '{{alias.account_user.get_timezone|escapejs}}',
		set_time_zone: function() {
	        var time_zone_selected = $('#time_zone_select').val();
	        
	            Ajax.send_data('set_timezone/', {time_zone: time_zone_selected}, function(data) {
	                if (data.return_data.success) {
		                if (!TimeZoneForm.password_set) {
	                		Wizard.hide_and_show_next();
		                }
		                $('.time_zone').text(time_zone_selected);
		                $(".wizard_time_zone").hide();
		                
	                } else {
	                    $('.wizard_error').html("{% trans 'Error: cannot set your timezone' %}");
	                }
	            }, "POST");
	        
    	},
		password_set: {% if alias.password_hash %} true {% else %} false {% endif %}
	}
    
	$(document).ready(function() {
		$('#current_timezone').text(TimeZoneForm.current_timezone);
		$('#time_zone_select').val(TimeZoneForm.current_timezone);	
	});
	
</script>
{% endblock %}

{% block left_content %}
		<div style='padding: 10px;'>
			<div style='color: #2B2825; font-size: 1.5em;'>{% trans 'Setting your timezone.' %}</div>
			<div style='margin-top: 10px; margin-bottom: 20px;'>
				<img src='/static/tango/status/dialog-error.png' style='margin-right: 5px;'/>{% trans "If you're traveling, it's important to set an accurate timezone so that reminders come in at correct times." %}
			</div>
			
		</div>
{% endblock %}

{% block content %}
		<div class='bg-aqua' style='background:; border-bottom: 1px solid #CCC;'>
			<div style='padding: 10px; position:relative; left: 10px;'>
				{% trans 'Set your current timezone' %}
			</div>
		</div>
		<div style='float: left;'>
			<div style='padding: 10px; '>
				<!-- start wizard content -->
				
	            <form action='' method='POST' onsubmit='TimeZoneForm.set_time_zone();return false;' style='margin-top: 10px;'>
					{% trans 'Current timezone' %}: 
					<strong id='current_timezone'></strong> <br/>
					
					<div style='padding-top: 15px; padding-bottom: 15px;'>
					
						<select name='time_zone_select' id='time_zone_select' class='time_zone_select'>
							{% for tz in time_zones %}
								<option>{{tz}}</option>
							{% endfor %}
						</select>
					</div>
					
					<input class='btn btn-primary' type='submit' name='save' value='{% trans "Save" %}'/>
				</form>
			</div>
			<!-- end wizard content -->
		</div>
{% endblock content %}

{% block bottom %}	
	{% if alias.password_hash %}		
		<div style='float:right; margin: 7px;' class='post_button'>
	        <button class='btn btn-primary' href='#' onclick='$(".wizard_time_zone").hide(); if (Page.close_wizard_server) Page.close_wizard_server(); return false;'>{% trans 'Close' %}</button>
	    </div>
   	{% endif %}
{% endblock %}

