{% load i18n %}

{% block wizard_css %}

<style type="text/css"> 
	.giant_config_modal {
		height: auto;
	}
</style>

<!--[if IE]>
<style type="text/css"> 
	.giant_config_modal {
		height: auto;
	}
</style>
<![endif]-->
{% endblock %}

{% block wizard_js %}

{% endblock %}

<div class='wizard giant_config_modal wizard_{% block wizard_id %}default{% endblock %} rounded_lower' style='border: 2px solid #ccc; display: none; min-width: 655px; width: auto; z-index: 1000001; background: #fff; top: -1px; left: 10%; right: 10%; position:fixed; '>
	
	<div style=''>
		{% block overlay %}
		
		{% endblock %}
	</div>
	
	<div style='width:100%;' class='wizard_container'>
        {% comment %}
		<div class='block_content' style='background: #fff; float: left; width: 250px; height: 100%;'>
			{% block left_content %}
				
			{% endblock %}
		</div>
        {% endcomment %}
		<div class='block_content' style='min-width: 400px; min-height: 300px;'>
						
			{% block content %}
				
			{% endblock %}
						
			<div class='wizard_error' style='color: red; font-size: 1.2em;'>
			</div>
			
		</div>
		
		<div style='clear:both'></div>
	
	</div>
	
	<div style='clear:both;'></div>
	<div class='rounded_lower' style='position: relative; width: 100%; height: 50px; background: #1A2226 none repeat scroll 0% 0%; border-top: 0px; background-repeat: repeat-x;'>
		{% block bottom %}
			
			<div style='float:right; margin: 7px; font-weight: bold;' class='post_button'>
	        	<a class='btn btn-primary' href='#' onclick='Wizard.hide_and_show_next(); return false;'>{% trans 'Close' %}</a>
	        </div>

		{% endblock %}
		
		{% block bottom_more %}
		
		{% endblock %}
		
		<div style='clear: both;'></div>
		
	</div>
</div>