{% load i18n %}{% load assist_tags %}

These emails were crawled within the last 24 hours and got turned into inactive events (or no events):

<p style='margin-bottom:10px;'>
    {% for user in all_emails %}
    	<h3>Emails crawled from {{user.crawled_alias.email}} (account: {{user.crawled_alias.account.base_url}}):</h3>
    	
    	{% for e in user.display_emails %}
    	
        <blockquote id="{{e.message_id}}" class="noted_quote" style="PADDING-LEFT: 1ex; MARGIN: 0px 0px 0px 0.8ex; BORDER-LEFT: #ccc 1px solid; color: #666; font-size: .9em;">
            {% if e.message_id %}
            	<b>{% trans 'Message-ID:' %}</b> {{e.message_id}}<br/>
            {% endif %}
            {% if e.from %}
                <b>{% trans 'From:' %}</b> {{e.from}}<br/>
            {% endif %}
            {% if e.date %}
                <b>{% trans 'Date:' %}</b> {{e.date}}<br/>
            {% endif %}
            {% if e.subject %}
                <b>{% trans 'Subject:' %}</b> {{e.subject}}<br/>
            {% endif %}
            {% if e.to %}
                <b>{% trans 'To:' %}</b> {{e.to}}<br/>
            {% endif %}
            {% if e.cc %}
                <b>{% trans 'Cc:' %}</b> {{e.cc}}<br/>
            {% endif %}
            <b>Total # of events:</b> {{e.num_events}} <br/>
            {% if e.content %}
                <div style='background: #FCF8BC; color: #000; font-size: 1.1em;'>
                	{{e.content|safe|linebreaks}}
                </div>
            {% else %}
                <i>(no email body)</i>
            {% endif %}
        </blockquote>
        <p style='margin-bottom:10px;'></p>
        {% endfor %}
        
    {% endfor %}
</p>


