{% extends 'emails/main_signup.html' %}{% load i18n %}{% load account_tags %}
{% block content %}
    <p style='margin-bottom:10px;'>
    	{{alias.greeting}},
    </p>
    
    <p style='margin-bottom:10px;'>
    	{% if signup %}
    		{% if modify %}
    		    {% trans 'Thank you for changing your subscription with' %} {{site.name}}{% ifequal type 'PAYP' %} {% trans 'via Paypal' %}{% endifequal %}.
    		{% else %}
    			{% trans "It's me, your assistant" %} {{assistant.first_name}}.
    			{% trans "I'm so happy that you've hired me to automate your scheduling and track relevant conversations with your customers." %}
    		{% endif %}
    	{% else %}
    		{% trans "It's me, your assistant" %} {{assistant.first_name}}.
    		{% trans 'I have received your payment in the amount of' %} <b>{{amount}}</b>{% ifequal type 'PAYP' %} {% trans 'via Paypal' %}{% endifequal %}.
    		{% trans "Thanks for keeping me employed!" %}
    	{% endif %}
    </p>
    
    {% if signup %}
    	<h3>{% trans "Subscription receipt" %}</h3>
    {% else %}
        <h3>{% trans "Payment receipt" %}</h3>
    {% endif %}
    
    <p style='margin-bottom:10px;'>
    	<b>{% trans 'Date' %}:</b>					{{date}}<br/>
    	{% if not signup %}
    		<b>{% trans 'Amount' %}:</b>			{{amount}}<br/>
    	{% endif %}
    	{% if modify %}
    	    <b>{% trans 'New service type' %}:</b>	{{account.service.name}} {% if account.max_users %}({{account.max_users}} user{{account.max_users|pluralize}}){% endif %}<br/>
    	    <b>{% trans 'Old service type' %}:</b>	{{old_service.name}} {% if old_max_users %}({{old_max_users}} user{{old_max_users|pluralize}}){% endif %}<br/>
    	{% else %}
    		<b>{% trans 'Service type' %}:</b>		{{account.service.name}} {% if account.max_users %}({{account.max_users}} user{{account.max_users|pluralize}}){% endif %}<br/>
    	{% endif %}
    	{% if account.name %}
	    	<b>{% trans 'Network name' %}:</b>		{{account.name}}<br/>
	    {% endif %}
	    <b>{% trans 'Account admin email' %}:</b>	{{alias.email}}<br/>
	    <b>{% trans 'Payer email' %}:</b>			{{payer_email}}<br/>
    </p>
    
    {% if not signup %}
	    {% if next %}
    		<p style='margin-bottom:10px;'>
		    	{% if signup %}
		    		{% trans 'Your first payment of' %} {{first_amount}}
		    	{% else %}
		    		{% trans 'Your next payment of' %} {{amount}}
		    	{% endif %}
		    	{% trans 'is scheduled for' %} <b>{{next}}</b>.
		    </p>
	    {% endif %}
    {% endif %}
    
    {% if blog_posts %}
		<h3>{% trans "New features" %}</h3>
		<p style='margin-bottom:10px;'>
			{% trans "The guys have added a ton of new and exciting features to" %} {{site.name}} - {% trans "I'm including a few recent entries from our blog" %}.
	    </p>
    
	   	{% for post in blog_posts %}
	       	<div style='margin-bottom:15px; padding-top: 5px; border-top: 1px solid #eee;'>
	       		<h3><a href='http://{{site.domain}}{{post.get_absolute_url}}'>{% render post.title %}</a></h3>
	       		<div style='color: #ccc;'>{{post.publish|date:"F d, Y"}}</p></div>
	       		<div>
	       			{% render post.body replace_relative_links %}
	       		</div>
	       	</div>
	   	{% endfor %}
	   	<div style='margin-bottom:15px; padding-top: 5px; border-top: 1px solid #eee;'></div>
	{% endif %}
    
    <p style='margin-bottom:10px;'>
    	Thank you!
    </p>
    
{% endblock %}

