{% extends 'emails/main.html' %}{% load i18n %}{% load assist_tags %}{% load account_tags %}

{% block content %}

<style>
	.block_event {
		padding-left: 5px;
		margin-bottom: 2px;
	}
	.block_event_default {
		border-left: 3px solid {{"red"|color_from_time}};
	}
	.block_event_allday {
		border-left: 3px solid {{"allday"|color_from_time}};
	}
	.block_event_soon {
		border-left: 3px solid {{"soon"|color_from_time}};
	}
	.block_event_far {
		border-left: 3px solid {{"far"|color_from_time}};
	}
</style>

<p style='margin-bottom:10px;'>
{{alias.greeting}},
</p>

<p style='margin-bottom:10px;'>
	{% ifequal from_alias alias %}
		{% trans "Don't forget to respond." %}
	{% else %}
		@{{from_alias.ez_name}} {% trans "assigned this to you." %}
	{% endifequal %}
	<b>{% trans "You can respond directly to this email</b> or via the site dashboard." %}
</p>

<p style='margin-bottom:10px;'>
{% for e in old_emails %}
	{% quote_email %}       
{% endfor %}
</p>

{% endblock content %}
{% block footer %}
<p style='margin-bottom:10px;'>
    &mdash; {{alias.account.get_assistant.first_name}} ({{alias.account.get_assistant.email}})
</p>

{% endblock %}
{% block postscript %}
{% endblock %}