body {
font:12px 'Helvetica Neue', 'Helvetica', 'Arial';
margin:0;
}

.rounded_lower {
-moz-border-radius-bottomright:10px;
-webkit-border-bottom-right-radius:10px;
-moz-border-radius-bottomleft:10px;
-webkit-border-bottom-left-radius:10px;
}

.rounded_upper {
-moz-border-radius-topright:10px;
-webkit-border-top-right-radius:10px;
-moz-border-radius-topleft:10px;
-webkit-border-top-left-radius:10px;
}

div.compact_top {
background:url(/static/images/widgets/images/compact_top_bg.png) repeat-x bottom;
}

div.compact_heading {
background:url(/static/images/widgets/images/compact_heading_bg.png) repeat-x;
color:#fff;
}

div.compact_heading a, div.compact_heading a:link, div.compact_heading a:active {
color:#fff;
}


div.compact_heading h3 {
padding-top:5px;
margin-left:5px;
}

.post_button a,.post_button a:link {
color:#000;
text-decoration:none;
}

#header_nav span {
top:10px;
position:relative;
margin:10px 0 10px 10px;
}

#header_nav span a {
color:#000;
border-bottom:1px solid #6FA2DF;
text-decoration:none;
}

#header_nav span a:hover {
border-bottom:2px solid #6FA2DF;
text-decoration:none;
}

.block {
padding:10px 20px 10px 21px;
}

#tooltip {
position:absolute;
z-index:3000;
border:1px solid #111;
background-color:#eee;
opacity:1px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
padding:5px;
}

.header_submsg li {
margin-left:15px;
}

.msg_locked {
width:120px;
height:1px;
overflow:hidden;
}

.footer span {
margin-right:20px;
}

.me_event {
border-top:1px solid #ccc;
padding:5px;
}

.me_event_low {
font-weight:lighter;
color:#999;
padding:5px;
}

.box_heading_dark,.box_heading {
background:#57514B url(/static/images/dark_bg.gif) repeat-x;
height:25px;
color:#fff;
width:100%;
margin-bottom:0;
}

.box_heading_xx {
background:#fff url(/static/images/white_bg.gif) repeat-x;
border:1px solid #ccc;
height:25px;
color:#666;
width:100%;
margin-bottom:0;
}

.box_heading_yellow {
background:url(/static/images/yellow_bg.gif);
color:#D6156C;
}

.box_heading_dark h3,.box_heading h3 {
padding-top:5px;
margin-left:10px;
overflow:hidden;
}

.person_box {
margin-bottom:10px;
padding:5px 5px 5px 10px;
}

.notify {
border:1px solid #EFE995;
}

.form_left {
width:120px;
float:left;
}

.outer_block {
color:#000;
background:#fff;
}

#loading_bar {
position:fixed;
z-index:1000009;
top:0;
left:20%;
width:60%;
background:#fff;
border:2px solid #ccc;
border-top:0;
display:none;
padding:5px;
}

.post_button {
margin-right:10px;
background: url("/static/images/yellow_bg.gif") repeat-x #FCF8BC;
-moz-border-radius:10px;
-webkit-border-radius:10px;
color:#000;
border:1px solid #FFF;
border-bottom:1px solid #2B2825;
padding:5px;
}

input.big_input {
height:30px;
padding-bottom:2px;
font-size:18px;
}

h1 {
margin-bottom:10px;
color:#57514B;
margin-top:10px;
}

.big_input_submit {
border:1px solid #000;
cursor:pointer;
color:#000;
float:left;
padding:10px;
}

.toggle {
border:2px solid #D6156C;
background:#FCF8BC url(/static/images/yellow_bg.gif);
cursor:pointer;
color:#000;
}

.white_bg {
background:#fff;
}

.action_icon {
float:right;
margin-right:5px;
}

.status_msg {
background:url(/static/images/yellow_bg.gif) #FCF8BC;
background-repeat:repeat-x;
text-align:left;
font-size:.9em;
overflow:hidden;
margin:0;
padding:5px;
}

.dash_title h1 {
color:#FCF8BC;
}

.box_heading_widget {
cursor:pointer;
}

h1,h2,h3,form,#tooltip h3,#tooltip div {
margin:0;
}

a,a:link,a:hover,a:active,.footer a,.footer a:link,.outer_block a,.outer_block a:link,.white_bg a,.white_bg a:link,.white_bg a:hover,.widgets_left a,.widgets_left a:link {
color:#000;
}

.header_msg a,.header_msg a:hover {
text-decoration:none;
}

.loading_bar,.giant_config_modal {
position:fixed;
}