{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<script language='javascript'>

var ComingUp = this.ComingUp = {
	remove_event: function(uid) {
		Ajax.send_data('edit_event/', {widget_id: {{widget_id}}, cmd: 'change_status_fading', uid: uid, fading: 1}, function(data) {
	        if (data.return_data.success) {
	            $('.event_'+uid).fadeTo(1, .5);
	        } else {
	            alert("{% trans 'Could not process your request.' %}");
	        }
	    }, "POST");
	},
	readd_event: function(uid) {
		Ajax.send_data('edit_event/', {widget_id: {{widget_id}}, cmd: 'change_status_fading', uid: uid, fading: 0}, function(data) {
	        if (data.return_data.success) {
	            $('.event_'+uid).fadeTo(1, 1);
	        } else {
	            alert("{% trans 'Could not process your request.' %}");
	        }
	    }, "POST");
	}
}

$(document).ready(function() {
	
	$('.event_disable').each(function() {
		$(this).bind("click", function(e) {
				var uid = $(this).attr('id');
				uid = uid.replace('event_disable_','');
				if ($(this).is(':checked'))
					ComingUp.remove_event(uid);
				else
					ComingUp.readd_event(uid);
		});
	});
});
</script>
<div class='box' style=' '>
    <div onclick="Page.toggle_size({{widget_id}}); return false;" style="" class="box_heading box_heading_widget box_heading_red rounded_upper" id="widget_heading_{{widget_id}}">
        <h3>
	    	{% trans 'Coming Up' %}
        </h3>
    </div>
    <div class='box_content{% if not compact %}_expanded{% endif %}' style='background:; margin-top: 0px; {% if compact %}max-height:220px; overflow: auto;{% endif %}'>
        {% for event in events %}
            <div class="me_event event_{{event.id}}" id="event_{{event.id}}" style="height: auto; {%if event.fading%}opacity: .5{%endif%}">
          		
                {% if event.has_response %}
                	<div style="float:right;"><img src='/static/vistaico/Symbol-Check-16.png' /></div>
                {% endif %}
                <div class="" style='{% if compact %}font-size: 98%;{% endif %}'>
                
                <div style='color: #555;'>
                	{{event.datetime}} {{event.status}}
                </div>
                
                {{event.reminder|urlizetrunc:25|truncatewords:13|safe}}
              	{% if event.people_non_contact_short %}
              		{% trans 'with' %}
	           		{% for c in event.people_non_contact_short %}
	           			{% personlink c %}{% if forloop.last %}{% if event.people_non_contact_short_more %}...{% endif %}{% else %}, {% endif %} 
	           		{% endfor %}
	           		<br/>
	       		{% endif %}
                </div>

            </div>
           	<div style="height:0px; clear:both;"></div>
        {% endfor %}
        
    </div> 
    
    {% if events %}
        <div style='padding:5px; background: #AEC7E3; border-top:1px solid #3465A4' class=''>

			
			<a href='http://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}'>{% trans 'iCal feed' %}</a>: 
			<input type='text' id='ical_feed' value='http://{{site.domain}}/dash/{{alias.account.base_url}}/ical/alias/{{alias.slug_ics}}' style='width: 50px; font-size:.9em;' readonly='readonly'/>
			
			
		</div>
    {% endif %}
</div>