{% extends 'mainv3.html' %}
{% load i18n %}
{% load account_tags %}
{% block title %}{% render flatpage.title %}{% endblock %}
{% block style %}
<style>



</style>

<!--[if IE]>
<style type="text/css">

</style>
<![endif]-->

<link rel="stylesheet" href="/static/js/lib/fancybox/jquery.fancybox-1.2.6.css" type="text/css" media="screen">

{% endblock %}

{% block javascript %}

<script type="text/javascript">
Cufon.replace('.feature_box h3');
</script>

<script type="text/javascript" src="/static/js/lib/fancybox/jquery.fancybox-1.2.6.pack.js"></script>

<script type="text/javascript" src="/static/js/lib/jcaro.js"></script>

{% endblock %}

{% block content %}

<div style='height: auto;' class='rounded_upper'>

    <!-- <h1 class='mp' style='text-align:center; margin-top: 15px;'>{% trans 'Losing sales because of missed follow-up emails?' %}</h1> -->

    <div style='background: url(/static/images/new_design/images/center_fold_big.png) no-repeat;'><!--background-image: url(/static/images/iphone.gif); background-position: bottom right; background-repeat: no-repeat;-->

        <div style='height: 403px;'>

            <div style='float: left; width: 230px;'>
                <h1 class='mp' style='font-size: 42px; height: 1em; text-shadow: 0 1px 3px #22456F; color: #fff; font-weight: bold; padding-top: 10px;'>
                    {% render flatpage.title %}
                </h1>

            </div>

            <div style='float: left; width: 620px;'>
                <div style='padding: 25px;'>
                    {% ifequal flatpage.url "/products/follow-up-robot/" %}
                      <iframe src="https://player.vimeo.com/video/367514053" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    {% endifequal %}
                    {% ifequal flatpage.url "/products/follow-up-robot/upgrade/" %}
                    	<object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' /><param name='flashvars' value='i=143124' /><param name='allowFullScreen' value='true' /><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=143124' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer'></embed></object>
                    {% endifequal %}
                    {% ifequal flatpage.url "/products/gmail/" %}
                        <object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' ></param><param name='flashvars' value='i=86463' ></param><param name='allowFullScreen' value='true' ></param><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=86463' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer' ></embed></object>
                    {% endifequal %}
                    {% ifequal flatpage.url "/products/outlook/" %}
                        <object classid='clsid:d27cdb6e-ae6d-11cf-96b8-444553540000' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=9,0,115,0' width='560' height='345'><param name='movie' value='http://screenr.com/Content/assets/screenr_1116090935.swf' ></param><param name='flashvars' value='i=55692' ></param><param name='allowFullScreen' value='true' ></param><embed src='http://screenr.com/Content/assets/screenr_1116090935.swf' flashvars='i=55692' allowFullScreen='true' width='560' height='345' pluginspage='http://www.macromedia.com/go/getflashplayer' ></embed></object>
                    {% endifequal %}
                    {% ifequal flatpage.url "/products/salesforce-automation/" %}
                        <iframe src="https://player.vimeo.com/video/367516158" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>

                    {% endifequal %}
                    {% ifequal flatpage.url "/products/salesforce-automation/archive/" %}

                    {% endifequal %}
                    {% ifequal flatpage.url "/products/email-plus-crm/" %}
                        <iframe src="https://player.vimeo.com/video/367516158" width="560" height="345" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    {% endifequal %}

                </div>
            </div>

            <div style='clear:both;'></div>



        </div>





    </div>

    <div style='background: #fff url(/static/images/new_design/images/mid_fold.gif) no-repeat;' class='rounded_upper'>
        {% render flatpage.content %}

    </div>

</div>

{% endblock content %}
