{% extends 'mainv1_dash.html' %}
{% load account_tags %}
{% load i18n %}

{% block style %}
	<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">
{% endblock %}

{% block header %}
	
	{% if not wizard_mode %}
	<div style='float:right;'>
		<input type='button' name='' value='{% trans "Go back... " %}' onclick='Page.done(); return false;' />
	</div>
	{% endif %}
	
	<h2 style='margin:0px;'>{{site.name}} {% trans 'setup wizard' %}</h2>
	
{% endblock %}

{% block javascript %}
<script language="javascript">

	var TimeZoneForm = this.TimeZoneForm = {
		current_timezone: '{{alias.account_user.get_timezone|escapejs}}',
		set_time_zone: function() {
	        var time_zone_selected = $('#time_zone_select').val();
	        
            Ajax.send_data('set_timezone/', {time_zone: time_zone_selected}, function(data) {
                if (data.return_data.success) {
                    // Try to go to the Salesforce settings; if can't, then just go to the Email section
                    if (!Page.goto_salesforce_settings('email') && !Page.goto_wizard_section('email')) {
		                alert("{% trans 'Your time zone has been set.' %}");
	                }
                } else {
                    $('.wizard_error').html("{% trans 'Error: cannot set your timezone' %}");
                }
            }, "POST");
	        
    	},
		password_set: {% if alias.password_hash %} true {% else %} false {% endif %}
	}

	var SetupServer = this.SetupServer = {

		mail_services: eval('{{mail_services|safe}}'),
		alias_email: '{{alias.email|escapejs}}',
		alias_email_username: '{{alias.email|email_username|escapejs}}',
		alias_server_service: '{{alias.server_service|default_if_none:""|escapejs}}',
		alias_server_server: '{{alias.server_server|default_if_none:""|escapejs}}',
		alias_server_port: '{{alias.server_port|default_if_none:""|escapejs}}',
		alias_server_password_bullets: '{{alias.server_password_aes|password_bullets_aes}}',
		alias_server_use_ssl: '{{alias.server_use_ssl}}' == 'True' ? true : false,
		alias_server_login: '{{alias.server_login|default_if_none:""|escapejs}}',
		alias_server_enabled: '{{alias.server_enabled}}' == 'True' ? true : false,
		alias_server_smtp_server: '{{alias.server_smtp_server|default_if_none:""|escapejs}}',
		alias_server_smtp_port: '{{alias.server_smtp_port|default_if_none:""|escapejs}}',
		alias_server_smtp_use_ssl: '{{alias.server_smtp_use_ssl}}' == 'True' ? true : false,
		alias_server_smtp_login: '{{alias.server_smtp_login|default_if_none:""|escapejs}}',		    
		alias_server_smtp_password_bullets: '{{alias.server_smtp_password_aes|password_bullets_aes}}',
		alias_server_smtp_enabled: '{{alias.server_smtp_enabled}}' == 'True' ? true : false,
		
		smtp_tracks_imap: false,
		show_captcha: function() {

            var username = $('#imap_username').val();
            var service = $('#server_service').val();
            Ajax.send_data('get_google_captcha/', {username: username, service: service}, function(data) {
                if (data.return_data.success) {
                    $('#captcha_img').attr('src', data.return_data.captcha_img_url);

                    var enter_txt = '{% trans "Enter letters above." %}';
        			$('#captcha_answer').val(enter_txt).focus(function(e) {
        					if ($(this).val() == enter_txt)
        						$(this).val('');
        			});

                    $('#captcha').show();
                } else {
                    alert("{% trans 'Could not grab Captcha from Google.' %}");
                }
			}, "POST");
		},

        check_imap: function() {
			var server_service = $('#server_service').val();
            var enabled = 1; // ($('#imap_enabled').attr('checked')) ? 1 : 0;
            var server = $('#imap_server').val();
            var username = $('#imap_username').val();
            var password = $('#imap_password').val();
            var use_ssl = ($('#imap_use_ssl').attr('checked')) ? 1 : 0;
            var port = $('#imap_port').val();
            var server_type = $('#server_type').val();
            var captcha_answer = $('#captcha_answer').val();
            
            if ((server_service == '{{constants.MAILSERVICE_GOOGLE_APPS}}') && !captcha_answer) {
				SetupServer.show_captcha();
				return;
            } 
            
            Ajax.send_data('imap_auth/', 
             	{
             		enabled: enabled, 
             		server_service: server_service, 
             		server: server, 
             		username: username, 
             		password: password, 
             		use_ssl: use_ssl, 
             		port: port, 
             		server_type: server_type, 
             		captcha_answer:captcha_answer 
             	}, function(data) {
                if (data.return_data.success) {
                    SetupServer.imap_success = true;
					$('#imap_enabled_text').text('{% trans "enabled" %}');
                    if (SetupServer.smtp_tracks_imap) {
                        SetupServer.check_smtp();
                    } else {
						$('#disable_imap').removeAttr('disabled');
						if (Page.wizard_mode) {
							Page.done();				// Email settings is now the last step
						} else {
							alert("{% trans 'Incoming mail settings validated and saved.' %}");
						}
						$("#imap_smtp_status").show();
						/*
						if (!Page.goto_wizard_section('notifications')) {
							alert("{% trans 'Mail settings saved.' %}");
						}   
						*/                     
                    }
                } else {
                    if (server_service == '{{constants.MAILSERVICE_GOOGLE_APPS}}') {
						alert("{% trans 'Error: Could not validate your mail credentials. \n\nCommon mistake: you may need to select IMAP - Gmail (secure) on this form; some new Google Apps accounts are now routed through traditional Gmail IMAP. \n\nOther possibility: Check your Google Apps Mail settings - make sure that IMAP access is enabled (Settings -> Forwarding and POP/IMAP -> IMAP Access).' %}");
                    } else if (server_service == '{{constants.MAILSERVICE_GMAIL}}') {
						if (!data.return_data.captcha_needed) {
							alert("{% trans 'Error: Could not validate your mail credentials. \n\nMost common mistake: incorrect password. \n\nOther possibility: Check your Gmail settings - make sure that IMAP access is enabled (Settings -> Forwarding and POP/IMAP -> IMAP Access).' %}");
						}
		            } else {
                    	alert("{% trans 'Error: Could not validate your mail credentials. \n\nMost common mistake: incorrect password.' %}");
                    }
                    	
                    if ((server_service == '{{constants.MAILSERVICE_GOOGLE_APPS}}') || (data.return_data.captcha_needed) || ($('#captcha').is(':visible'))) {
        				SetupServer.show_captcha();
        				return;
                    } 
                    
                }
			}, "POST");
        },

        check_smtp: function() {
            var enabled = 1; //($('smtp_enabled').attr('checked')) ? 1 : 0;
			var server_service = $('#server_service').val();
            var server = $('#smtp_server').val();
            var username = $('#smtp_username').val();
            var password = $('#smtp_password').val();
            var use_ssl = ($('#smtp_use_ssl').attr('checked')) ? 1 : 0;
            var port = $('#smtp_port').val();

            Ajax.send_data('smtp_auth/', {server_service: server_service, enabled: enabled, server: server, username: username, password: password, use_ssl: use_ssl, port: port }, function(data) {
                if (data.return_data.success) {
                    SetupServer.smtp_success = true;
					$('#smtp_enabled_text').text('{% trans "enabled" %}');
                    if (SetupServer.imap_success && SetupServer.smtp_success) {
						$('#disable_imap').removeAttr('disabled'); 
						if (Page.wizard_mode) {
							Page.done();				// Email settings is now the last step
						} else {
							alert("{% trans 'Congrats! Your mail settings have been validated successfully.' %}");
						}
						$("#imap_smtp_status").show();
						/*
						if (!Page.goto_wizard_section('notifications')) {
							alert("{% trans 'Mail settings saved.' %}");
						} 
						*/                                          
                    }
                } else {
                    alert("{% trans 'Error: Could not validate your mail credentials.  \n\nMost common mistake: incorrect password.' %}");
                }
			}, "POST");
        },

		// Disables both IMAP and SMTP
        disable_mail: function() {
            var enabled = 0; //($('imap_enabled').attr('checked')) ? 1 : 0;
 
            Ajax.send_data('imap_auth/', {enabled: enabled}, function(data) {
                if (data.return_data.success) {
					alert(data.return_data.msg);
					$('#disable_imap').attr('disabled','disabled');
					$('#imap_enabled_text').text('{% trans "disabled" %}');
		            Ajax.send_data('smtp_auth/', {enabled: enabled}, function(data) {
		                if (data.return_data.success) {
							alert(data.return_data.msg);
							$('#disable_smtp').attr('disabled','disabled');
							$('#smtp_enabled_text').text('{% trans "disabled" %}');
		                } else {
		                    Ajax.failure_logout("{% trans 'Could not connect to server.' %}");
		                }
					}, "POST");
					     
                } else {
                    Ajax.failure_logout("{% trans 'Could not connect to server.' %}");
                }
			}, "POST");
        },

        find_mailservice: function(code) {
			for (var i in SetupServer.mail_services) {
				var service = SetupServer.mail_services[i];
				if (service['service'] == code) {
					return service;
				}
			}
			return null;
        },

        update_mailservice_field: function(service, key, field_id, field_div_id, show_current_value, current_value) {
			//alert($('#server_service').val());
			//alert(SetupServer.alias_mail_service);
			if (service[key] != undefined) {
				if ($(field_id).attr('type') == 'checkbox') {
					if (service[key] == 'true') {				
						$(field_id).attr('checked', true);
						$(field_div_id).hide();				
					} else if (service[key] == 'false') {		
						$(field_id).attr('checked', false);
						$(field_div_id).hide();
					} else if (show_current_value && (current_value != undefined)) {
						$(field_id).attr('checked', current_value);
						$(field_div_id).show();
					} else if (service[key] == true) {
						$(field_id).attr('checked', true);
						$(field_div_id).show();
					} else if (service[key] == false) {
						$(field_id).attr('checked', false);
						$(field_div_id).show();
					} else {
						$(field_id).attr('checked', false);
						$(field_div_id).show();
					}
				} else {
					var override = false;
					if (service[key] == '<prefix>') {
						$(field_id).val('https://');
						$(field_div_id).show();
						override = true;
					} else if (service[key] == '<email>') {
						$(field_id).val(SetupServer.alias_email);
						$(field_div_id).show();
						override = true;
					} else if (service[key] == '<email_username>') {
						$(field_id).val(SetupServer.alias_email_username);
						$(field_div_id).show();
						override = true;
					} else if (service[key] == '') {
						$(field_id).val('');
						$(field_div_id).show();
						override = true;
					} else {
						$(field_id).val(service[key]);
						$(field_div_id).hide();
					}
					if (override && show_current_value && (current_value != undefined)) {		
						$(field_id).val(current_value);
						$(field_div_id).show();
					}
				}
			} else {
				if ($(field_id).attr('type') == 'checkbox') {
					$(field_id).attr('checked', false);
				} else {
					$(field_id).val('');
				}
				$(field_div_id).hide();
			}			
        },
        
        update_mailservice: function() {
			var code = $('#server_service').val();
			$('#captcha_answer').val('');
            $('#captcha').hide();
			var service = SetupServer.find_mailservice(code);
			if (service) {
				// Fill in the right fields
				if (service['smtp_tracks_imap'] == 'true') {
					SetupServer.smtp_tracks_imap = true;
				} else {
					SetupServer.smtp_tracks_imap = false;
				}	

				if (service['msg']) {
					$('#server_msg').show().text(service['msg']);
				} else {
					$('#server_msg').hide();
				}		

				var show_current_value = (SetupServer.alias_server_enabled && ($('#server_service').val() == SetupServer.alias_server_service));
				
				SetupServer.update_mailservice_field(service, 'type', '#server_type', '#server_type_div');
				SetupServer.update_mailservice_field(service, 'imap_server', '#imap_server', '#imap_server_div', show_current_value, SetupServer.alias_server_server);
				SetupServer.update_mailservice_field(service, 'imap_port', '#imap_port', '#imap_port_div', show_current_value, SetupServer.alias_server_port);
				SetupServer.update_mailservice_field(service, 'imap_use_ssl', '#imap_use_ssl', '#imap_use_ssl_div', show_current_value, SetupServer.alias_server_use_ssl);
				SetupServer.update_mailservice_field(service, 'imap_username', '#imap_username', '#imap_username_div', show_current_value, SetupServer.alias_server_login);

				if (show_current_value) {
					$('#imap_password').val(SetupServer.alias_server_password_bullets);
					$('#smtp_password').val(SetupServer.alias_server_smtp_password_bullets);
				}	

				show_current_value = false;
				
				SetupServer.update_mailservice_field(service, 'smtp_server', '#smtp_server', '#smtp_server_div', show_current_value, SetupServer.alias_server_smtp_server);
				SetupServer.update_mailservice_field(service, 'smtp_port', '#smtp_port', '#smtp_port_div', show_current_value, SetupServer.alias_server_smtp_port);
				SetupServer.update_mailservice_field(service, 'smtp_use_ssl', '#smtp_use_ssl', '#smtp_use_ssl_div', show_current_value, SetupServer.alias_server_smtp_use_ssl);
				SetupServer.update_mailservice_field(service, 'smtp_username', '#smtp_username', '#smtp_username_div', show_current_value, SetupServer.alias_server_smtp_login);

				
				if (service['imap_server_prompt'] != undefined) {
					$('#imap_server_prompt').text(service['imap_server_prompt']);
				} else {
					$('#imap_server_prompt').text('');
				}

				// Mobile version of settings form doesn't have separate incoming and outgoing fields,
				// so copy imap and smtp username/password from the beginning
				if (SetupServer.smtp_tracks_imap) {
					$('#smtp_username').val($('#imap_username').val());
					$('#smtp_password').val($('#imap_password').val());
				}

			}
        },

        imap_success: false,
        smtp_success: false
	}

	var Page = this.Page = {	
		parent_url: '{{parent_url|default_if_none:""}}',
		token: '{{token|default_if_none:""}}',
		allow_sf: ('{{alias.account.service.allow_sf}}' == 'True'),
		
		reset_dashboard: function() {
			Ajax.send_data('reset_dashboard/', {},
				function(data) {
					if (data.return_data.success) {
						window.location="/?rd=1";
					} else {
						Ajax.failure_logout("{% trans 'Could not reset the dashboard.' %}");
					}
			}, "POST");
		},
		save_notifications: function() {
    		var send_confirmations = ($('#send_confirmations').attr('checked')) ? 1 : 0;
    		var send_notifications = ($('#send_notifications').attr('checked')) ? 1 : 0;
    		
			Ajax.send_data('edit_notification_settings/', {cmd: 'edit', send_confirmations: send_confirmations, send_notifications: send_notifications}, 
				function(data) {
					if (data.return_data.success) {
						if (Page.wizard_mode) {
							Page.done();
						} else {
							alert(data.return_data.msg);
						}                     
					} else {
						alert(data.return_data.msg);
					}
			}, "POST");
		},
		popup: function(URL) {
			day = new Date();
			id = day.getTime();
			eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=1,scrollbars=1,location=0,statusbar=1,menubar=0,resizable=0,width=700,height=300,left = 370,top = 300');");
		},
		
		set_name_password: function() {
	        var password = $('#password').val();
	        var first_name = $('#first_name').val();
	        var last_name = $('#last_name').val();
	        var password_repeat = $('#password_repeat').val();
	        var valid = true;
	        $('#password_error').hide().html('');
	        if (password.trim() == '') {
				valid = false;
				$('#password_error').show().html("Password must not be blank.");
	        }
	        if (password != password_repeat) {
		        valid = false;
	            $('#password_error').show().html("Passwords don't match.");
	        }
	        if (first_name.trim() == '') {
		        valid = false;
		        $('#first_name_error').show().html("You should set at least a first name.");
	        } else {
	            $('#first_name_error').hide().html("");
	        }		        
	        if (valid) {
	            Ajax.send_data('set_name_password/', {password: password, first_name: first_name, last_name: last_name}, function(data) {
	                if (data.return_data.success) {
	                    //alert(data.return_data.msg);
		                Page.password_set = true;
		                if (!Page.goto_wizard_section('{% ifequal agent 'firefox' %}firefox{% else %}{% ifequal agent 'outlook' %}outlook{% else %}timezone{% endifequal %}{% endifequal %}')) {
			                alert('{% trans "Your name and password have been set." %}');
		                }
	                } else {
	                    $('#password_error').show().text(data.return_data.msg);
	                }
	            }, "POST");
	        }
    	},

    	password_set: {% if alias.password_hash %} true {% else %} false {% endif %},

    	wizard_mode: ('{{wizard_mode}}' == 'True'),
    	wizard_section: '{{wizard_section}}',

    	show_wizard_section: function(section) {
        	if (Page.wizard_mode) {
				$('.wizard_section').hide();
				$('#wizard_section_'+section).show();
			} else {
            	// Regular mode, just show everything on one page.
            	$('.wizard_section').show();
        	}
			return Page.wizard_mode;
    	},
    	
    	goto_wizard_section: function(section) {
        	if (Page.wizard_mode && ($('#wizard_section_'+section).length > 0)) {
				window.location = '/dash/{{alias.account.base_url}}/settings/?agent={{agent}}&wizard_section=' + section;
				return true;
        	}
        	return false;
    	},

    	goto_salesforce_settings: function(next_section) {
        	if (Page.allow_sf && Page.wizard_mode && ($('#wizard_section_'+next_section).length > 0)) {
            	var next = '/dash/{{alias.account.base_url}}/settings/?agent={{agent}}&wizard_section=' + next_section;
            	window.location = '/dash/{{alias.account.base_url}}/salesforce/?agent={{agent}}&next=' + escape(next);
				return true;
        	}
        	return false;
    	},
    	
    	
    	done: function() {
        	/*
        	if (!Page.password_set) {
				alert('{% trans "You must set a name and password." %}');
				return;
        	}
        	if (!(SetupServer.imap_success || SetupServer.alias_server_enabled)) {
            	alert('{% trans "You must input your email settings." %}');
            	return;
        	}
        	*/

        	{% comment %} 
			TODO (someday): make this work so that the Salesforce app will reload the page automatically
        	
        	if (Page.wizard_mode && (Page.parent_url != '')) {
            	// Pass a JSON structure to the parent iframe using some hash magic
            	var dest_hash = escape('{"success": true, "msg": "{% trans 'Success! Log in to your new account.' %}", "username": "{{alias.email}}", "token": "{{token|default_if_none:""}"');
            	var dest_url = Page.parent_url + '#' + dest_hash;
            	try {
            		window.parent.location.href = dest_url;
            	} catch (ex) {
            		parent.parent.window.location.hash = dest_hash;
            	}
        	}
            {% endcomment %}
         	
			window.location = '/dash/{{alias.account.base_url}}/?agent={{agent}}';
    	}
	};
	
	$(document).ready(function() {
		// Populate the drop-down box from the JSON list of mail services
	
		//$('#current_timezone').text(TimeZoneForm.current_timezone);
		$('#time_zone_select').val(TimeZoneForm.current_timezone);	
			
		var i;
		for (i=0; i < SetupServer.mail_services.length; i++) {
			var service = SetupServer.mail_services[i];
			var option = $("<option></option>");
			option.attr('value', service['service']);
			option.text(service['name']);
			option.appendTo('#server_service');
		}
		$('#server_service').val('{{alias.server_service|escapejs}}');
		SetupServer.update_mailservice(true);
		$('#imap_username').change(function() {
			if (SetupServer.smtp_tracks_imap) {
				$('#smtp_username').val($('#imap_username').val());
			}
		});
		$('#imap_password').change(function() {
			if (SetupServer.smtp_tracks_imap) {
				$('#smtp_password').val($('#imap_password').val());
			}
		});	
		if (Page.wizard_mode) {
			$('.save_button').each(function() {
				$(this).val('{% trans "Save & continue" %}');
			});
			Page.show_wizard_section(Page.wizard_section);
		} else {
			$('.settings_section').show();		// If not wizard mode, show everything we're supposed to show in non-wizard mode
		}		
	});
	
	
</script>
{% endblock %}

{% block content %}
	
	<div style='text-align:left;' >
		
		<div class='wizard_section settings_section' id='wizard_section_password' style='display: none;'>
	        <div style="" class="box_heading rounded_upper">
	            <h3 style=''>
	            {% trans 'Name & password' %}
	            </h3>
	        </div>
	
	        <div class='outer_block' style="padding: 10px;">
				
				<form action='' method='POST' onsubmit='Page.set_name_password();return false;' style='margin-top: 0px;'>  	
						{% trans 'First name' %}: <br/>
						<input type='text' id='first_name' name='first_name' value='{{alias.contact.first_name}}'/><br/>
						
						<div style="color:red; display:none;" id='first_name_error'></div>
						
						{% trans 'Last name' %}:<br/>
						<input type='text' id='last_name' name='last_name' value='{{alias.contact.last_name}}'/><br/><br/>
																
						{% trans 'Password' %}: <br/>
						<input type='password' id='password' name='password' onfocus='this.select();' onclick='this.select();' value=''/><br/>
						
						<div style="color:red; display:none;" id='password_error'></div>
						
						{% trans 'Confirm your password' %}:<br/>
						<input type='password' id='password_repeat' name='password_repeat' onfocus='this.select();' onclick='this.select();' value=''/><br/><br/>
						<input type='hidden' name='password_alias' id='password_alias' value='{{alias.email}}'/>
						<input type='submit' id='password_submit' class='save_button' name='save' value='{% trans "Save" %}'/><br/>
				</form>
				
				
	        </div>
	    </div>
	    
	    {% ifequal agent 'firefox' %}
	    	{% comment %} This only shows in wizard mode {% endcomment %}
			<div class='wizard_section' id='wizard_section_firefox' style='display: none;'>
		        <div style="" class="box_heading rounded_upper">
		            <h3 style=''>
		            {% trans 'Firefox authorization' %}
		            </h3>
		        </div>
		
		        <div class='outer_block' style="padding: 10px;">
		        
					<input id='firefox_token' type='hidden' value='{{token}}'/>
					<input onclick="{% if wizard_mode %} Page.goto_wizard_section('timezone'); {% endif %} return false;" type='button' id='firefox_auth_submit' class='save_button' name='firefox_auth_submit' value='{% trans "Authorize Firefox" %}'/><br/>
					
		        </div>
		    </div>
		    
	    	{% comment %} This only shows in non-wizard mode {% endcomment %}
			<div class='settings_section' style='display: none;'>
		        <div style="" class="box_heading rounded_upper">
		            <h3 style=''>
		            {% trans 'Firefox settings' %}
		            </h3>
		        </div>
		
		        <div class='outer_block' style="padding: 10px;">
		        	<input id="firefox_settings" type='button' value='{% trans "Settings..." %}'/>
		        </div>
		    </div>		    
		{% endifequal %}
		
	    {% ifequal agent 'outlook' %}
			<div class='wizard_section' id='wizard_section_outlook' style='display: none;'>
		        <div style="" class="box_heading rounded_upper">
		            <h3 style=''>
		            {% trans 'Outlook authorization' %}
		            </h3>
		        </div>
		
		        <div class='outer_block' style="padding: 10px;">
		        
					<input id='outlook_token' type='hidden' value='{{token}}'/>
					{% comment %} Callback to the VB code in Outlook {% endcomment %}
					<input onclick="try {window.external.Callback_StoreLogin('{{alias.email}}', '{{token}}');} catch(err) {} Page.goto_wizard_section('timezone'); return false;" type='button' id='outlook_auth_submit' class='save_button' name='outlook_auth_submit' value='{% trans "Authorize Outlook" %}'/><br/>
					
		        </div>
		    </div>
		{% endifequal %}		

		<div class='wizard_section settings_section' id='wizard_section_timezone' style='display: none;'>
	        <div style="" class="box_heading rounded_upper">
	            <h3>
	            {% trans 'Time zone' %}
	            </h3>
	        </div>
	
	        <div class='outer_block' style="padding: 10px;">
				
				<form action='' method='POST' onsubmit='TimeZoneForm.set_time_zone();return false;' style='margin-top: 0px;'>					
					<div style='padding-bottom: 10px;'>
					
						<select style='width: 90%;' name='time_zone_select' id='time_zone_select' class='time_zone_select'>
							{% for tz in time_zones %}
								<option>{{tz}}</option>
							{% endfor %}
						</select>
					</div>
					
					<input type='submit' class='save_button' name='save' value='{% trans "Save" %}'/>
				</form>
	        </div>
	    </div>
	    
	    
		<div class='wizard_section settings_section' id='wizard_section_email' style='display: none;'>
		{% if not alias.account.service.allow_crawl %}
			
			<div style="" class="box_heading rounded_upper">
	            <h3>
	            	{% trans 'Email conversations' %}
	            </h3>
		    </div>
			<div class='outer_block' style='padding: 10px;'>
				{% trans 'You account service level,' %} <b>{{alias.account.service}}</b>, {% trans 'does not support conversation tracking via IMAP, Google mail, or Exchange.' %}
				
				<br/><br/>
				
				{% trans 'Upgrade to enable customer email tracking (or syncing to Salesforce) by clicking "Upgrade" below.' %}
				
				<br/><br/>
				
				<input type='button' value='{% trans "Upgrade" %}' onclick='window.location="/info/billing/?agent={{agent}}"; return false;'/>
				<input type='button' value='{% trans "Skip >>>" %}' onclick='window.location="/dash/{{alias.account.base_url}}/?agent={{agent}}"; return false;'/>
				
			</div>
			
		{% else %}
	    	<div class='' style=''>
	    
		        <div style="" class="box_heading rounded_upper">
		            <h3>
		            	{% trans 'Email conversations' %}
		            </h3>
		        </div>
		        
		        <div class='outer_block' style='padding: 10px;'>
					
					{% block wizard_email_msg %}
						
					{% endblock %}
					
					{% if alias.account.service.allow_crawl %}
							
							<form method='POST' style='' name='imap_form' id='imap_form' onsubmit='SetupServer.check_imap(); return false;'>
								
								<div style="display:; " align='left' id="server_settings" class='rounded_upper'>
									<select id="server_service" style="width: 150px;" onchange="SetupServer.update_mailservice(false);">
									</select>
									<span id='server_msg' style='font-size: .9em; margin-left: 5px;'></span>
						        </div>
						      
								<div style="clear:both; height:10px;"></div>
								
					            <div class='form_settings' style="display:;" id="imap_form_settings">
					            
					            	<input type='hidden' name='server_type' id='server_type' value='blah' />
					            	
						            <div style="clear:left; height:1px;"></div>
						            
						            <div id='imap_server_div'>
							            <div class='form_left' id='imap_server_prompt' style='margin-right: 10px; float: left;'>
							            	{% trans "Hostname/IP:" %}
							            </div>
							            <input type='text' name='imap_server' id='imap_server' value='' />
							            <div style="clear:both"></div>
							        </div>	      
						            
						            <div id='imap_port_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Port <i>optional</i>:" %}
							            </div>
							            <input type='text' style='width: 50px;' name='imap_port' id='imap_port' value='' />
							            <div style="clear:both"></div>
							        </div>
						            	     
						         	<div id='imap_username_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Username:" %}
							            </div>
							            <input type='text' name='imap_username' id='imap_username' value='' />
							            <div style="clear:both"></div>
							        </div>
						            
						            <div id='imap_password_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Password:" %}
							            </div>
							            <input type='password' name='imap_password' id='imap_password' value='' />
							            <div style="clear:both"></div>
						            </div>
						            
						            <div id='imap_use_ssl_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            	<a title='{% trans "Click to learn more about SSL/TLS security." %}' target='_blank' href='http://en.wikipedia.org/wiki/Transport_Layer_Security'>{% trans "Use SSL:" %}</a>
							            </div>
							            <input type='checkbox' {% if alias.server_use_ssl %}checked='checked'{% endif %} name='imap_use_ssl' id='imap_use_ssl' value='' />
							            <div style="clear:both"></div>
						            </div>
						            		            
						            <div style="display:none;" name='captcha' id='captcha'>
						            	
								        <div>
								        	<img name='captcha_img' id='captcha_img' src="" />
								        	<a href='#' onclick='SetupServer.show_captcha(); return false;'>
								        		<img src='/static/tango/actions/view-refresh.png' border='0' style='position: relative; top: -20px;'/>
								        	</a>
								        </div>
								        <input type='text' name='captcha_answer' id='captcha_answer' value="" />
								        
						 	        </div>
						            
						            <div style='margin-top: 10px;'>
							            <input type='submit' class='save_button' name='' value='{% trans "Save" %}' />
						            	<input id='disable_imap' type='button' {% if not alias.server_enabled %}disabled='disabled' {% endif %}name='' value='{% trans "Disable" %}' onclick='SetupServer.disable_mail(); return false;'/>
						            	{% if wizard_mode %}
							        		<input type='button' value='{% trans "Skip >>>" %}' onclick='window.location="/dash/{{alias.account.base_url}}/?agent={{agent}}"; return false;'/>
						            	{% endif %}
						            	<a style='margin-left: 5px;' target='_blank' href='/info/features/privacy/'>{% trans 'Privacy info' %}</a>
						            </div>
					            </div>
					    						    		        
					        </form>
					        
					        <form method='POST' style='' name='smtp_form' class='smtp_form' id='smtp_form' onsubmit='if (SetupServer.smtp_tracks_imap) { SetupServer.check_imap(); } else { SetupServer.check_smtp(); } return false;'>

						        <div style="display:none;" id="smtp_form_settings" class='form_settings'>
						        
						        	{% comment %}
						        	<div id='smtp_enabled_div' style="display:none;" >
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Enabled:" %}
							            </div>
							            <input type='checkbox' checked='checked' name='smtp_enabled' id='smtp_enabled' value='' />
							            <div style="clear:both"></div>
						            </div>
						            {% endcomment %}
						            
						        	<div id='smtp_server_div'>
							       		<div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "SMTP Host or IP:" %}
							            </div>
							            <input type='text' name='smtp_server' id='smtp_server' value='' />
							            <div style="clear:both"></div>
						            </div>
						            
						            <div id='smtp_port_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Port (optional):" %}
							            </div>
							            <input type='text' style='width: 50px;' name='smtp_port' id='smtp_port' value='' />
							            <div style="clear:both"></div>	 
						            </div>  
						            
						            <div id='smtp_username_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Username:" %}
							            </div>
							            <input type='text' name='smtp_username' id='smtp_username' value='' />
							            <div style="clear:both"></div>
						            </div>
						            
						            <div id='smtp_password_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Password:" %}
							            </div>
							            <input type='password' name='smtp_password' id='smtp_password' value='' />
							            <div style="clear:both"></div>	
						            </div>	            
						         
						         	<div id='smtp_use_ssl_div'>
							            <div class='form_left' style='margin-right: 10px; float: left;'>
							            {% trans "Use SSL:" %}
							            </div>
							            {% if alias.server_smtp_use_ssl %}
							            <input type='checkbox' checked='checked' name='smtp_use_ssl' id='smtp_use_ssl' value='' />
							            {% else %}
							            <input type='checkbox' name='smtp_use_ssl' id='smtp_use_ssl' value='' />
							            {% endif %}
							            <div style="clear:both"></div>	
							        </div>	            
						            	
						            <div style='margin-top: 10px;'>
							            <input type='submit' name='save_button' value='{% trans "Save and authenticate" %}' />
						            	<input type='button' name='disable_button' {% if not alias.server_smtp_enabled %}disabled='disabled' {% endif %}value='{% trans "Disable" %}' id='disable_smtp' onclick='SetupServer.disable_smtp(); return false;'/>
						            	{% if wizard_mode %}
							        		<input type='button' value='{% trans "Skip >>>" %}' onclick='window.location="/dash/{{alias.account.base_url}}/?agent={{agent}}"; return false;'/>
						            	{% endif %}
						            	<a style='margin-left: 5px;' target='_blank' href='/info/features/privacy/'>{% trans 'Privacy info' %}</a>
						            </div>
					            
					            </div>
					        </form>
					       
					{% endif %}
					
					
					<div id='imap_smtp_status' style='{% if not alias.server_enabled %}display: none;{% endif %}'>
						{% trans 'IMAP settings:' %} 
						<b id='imap_enabled_text'>{% if alias.server_enabled %}{% trans 'enabled' %}{% else %}{% trans 'disabled' %}{% endif %}</b><br/>
						{% if alias.server_smtp_enabled %}
							{% trans 'SMTP settings:' %} 
							<b id='smtp_enabled_text'>{% if alias.server_smtp_enabled %}{% trans 'enabled' %}{% else %}{% trans 'disabled' %}{% endif %}</b><br/>
						{% endif %}
					</div>
					
		        </div>
		        
			</div>
	    {% endif %}
	    </div>
		
	    <div class='wizard_section settings_section' id='wizard_section_notifications' style='display: none;'>
	        <div style="" class="box_heading rounded_upper">
	            <h3>
	            {% trans 'Email notifications' %}
	            </h3>
	        </div>
	
	        <div class='outer_block' style="padding: 10px;">
	
	            <form method='POST' name='digest_form' id='digest_form' onsubmit='Page.save_notifications();return false;'>
	            <div style='margin-bottom: 15px;'><Strong>{% trans "Enabled email notifications: " %}</Strong></div>
	                       
				<input type='checkbox' {% if alias.send_confirmations %}checked='checked'{%endif%} name='send_confirmations' id='send_confirmations' value='1' />
				{% trans "Meeting confirmations" %}
				
				<br/>
	            
	            <input type='checkbox' {% if alias.send_notifications %}checked='checked'{%endif%} name='send_notifications' id='send_notifications' value='1' />
				{% trans "Meeting reminders" %}
				
				<br/>
				
	            <input type='submit' class='save_button' id='final_setup_action' name='final_setup_action' value='{% trans "Save" %}' style='margin-top: 10px;'/>
	            </form>
	        </div>
	    </div>
	    
    
	</div>
	
	

    
  
	
{% endblock content %}
