{% extends 'mobile/iphone/main_account_login.html' %}
{% load i18n %}

{% block extra_javascript %}

<script src="/static/js/lib/jquery.nextALL.js" type="text/javascript"></script>

<script language="javascript">

$(document).ready(function() {
	$("input").each(function() {
		$(this).focus(function () {
			Page.currentFocus = $(this);
		});
	});
});

function outlook_tab_press() {
	if (Page.currentFocus) {	
		var next = Page.currentFocus.nextALL('input:visible[@tabindex]');
		if (next.length > 0) {
			next[0].focus();
		} else {
			$('input:visible:first[@tabindex]').focus();
		}
	} else {
		$('input:visible:first[@tabindex]').focus();
	}	
}

function outlook_shift_tab_press() {
	if (Page.currentFocus) {			
		var prev = Page.currentFocus.prevALL('input:visible[@tabindex]');
		if (prev.length > 0) {
			prev[0].focus();
		} else {
			$('input:visible:last[@tabindex]').focus();
		}
	} else {
		$('input:visible:last[@tabindex]').focus();
	}	
}

function outlook_login_with_token(email, token) {
	Page.login_with_token(email, token);
}

function outlook_forgot_link() {
	window.open("/login/forgot/","ForgotPassword", 
	"menubar=0,width=850,height=550,toolbar=0,navigation=0,status=0,location=0,directories=0");	
}

</script>

{% endblock %}

{% block extra_buttons %}
{% endblock %}

{% block footer %}

	<div style='margin-top: 10px; text-align:center'>
			<span style='color: #eee;'>{% trans 'Email questions or feedback to' %}</span>
			<br/>
			<a href='mailto:{{settings.SALES_EMAIL}}'>{{settings.SALES_EMAIL}}</a>.
	
	</div>
{% endblock %}