{% extends 'mobile/iphone/mainv1_dash.html' %}

{% block prompt %}
	{% comment %} Prompt that can be used anywhere as a replacement for javascript prompt {% endcomment %}
	<a style='display:none;' class="" id='prompt_link' href='/info/prompt/'></a>
{% endblock prompt %}

{% block javascript %}
	<script src="/static/js/lib/jquery.nextALL.js" type="text/javascript"></script>
{% endblock %}
