{% extends 'mobile/iphone/main_account_login.html' %}
{% load i18n %}

{% block extra_javascript %}

<script language="javascript">

</script>

{% endblock %}

{% block modals %}
	
{% endblock %}

{% block extra_buttons %}
{% endblock %}

{% block footer %}
<div style='text-align:center; background: #eee; border: 1px solid #ccc; padding: 5px;'>
	{% trans 'Questions or feedback:' %}<br/> <a href='mailto:{{settings.SALES_EMAIL}}'>{{settings.SALES_EMAIL}}</a>
</div>
{% endblock %}