{% extends 'mobile/iphone/main_account.html' %}
{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

{% block extra_javascript %}
<script language='javascript' src='/dash/main_account.js?agent={{agent}}'></script>

<script language="javascript">
	$(document).ready(function() {
		Page.ready();		// load the widgets
	});
</script>
<!-- http://devheart.org/articles/jquery-collapsible-sidebar-layout/ -->
<script language='javascript' src='/static/js/lib/jquery.cookie.js'></script>
<script type='text/javascript'>
$(document).ready(function(){

	// Variables
	var objMain = $('#widgets_center');
	var objLeft = $('#widgets_right');
	
	// Show sidebar
	function showSidebar(){
		objMain.addClass('use-sidebar');
		objLeft.addClass('use-sidebar');
		$.cookie('sidebar-pref2', 'use-sidebar', { expires: 30 });
	}

	// Hide sidebar
	function hideSidebar(){
		objMain.removeClass('use-sidebar');
		objLeft.removeClass('use-sidebar');
		$.cookie('sidebar-pref2', null, { expires: 30 });
	}

	// Sidebar separator
	var objSeparator = $('#seperator');

	objSeparator.click(function(e){
		e.preventDefault();
		if ( objMain.hasClass('use-sidebar') ){
			hideSidebar();
		}
		else {
			showSidebar();
		}
	});

	// Load preference
	if ( $.cookie('sidebar-pref2') == 'use-sidebar' ){
		objMain.addClass('use-sidebar');
		objLeft.addClass('use-sidebar');
	}

	
});
</script>
{% endblock %}

{% block note_box %}
{% endblock %}

{% block crawl_display %}
{% endblock %}

{% block outer_header %}	
{% endblock %}

{% block style %}
<style>

	#seperator { cursor: pointer; }

	#widgets_right { display:none; float: left; width: 29%; }
	#widgets_right.use-sidebar {  display:block;  }
	
	#widgets_center { width: 98%; float: right; margin-top: -15px;  }
	#widgets_center.use-sidebar { width: 69%; }

	div.nav_links {
		text-align: center;
		font-size: 1.1em;
	}
	div.nav_links span {
		background: #eee;
		padding: 5px 15px 5px 15px;
		margin-right: 5px;
		border: 1px solid #ccc;
		border-top: 0px;
		z-index: 10000;
	}
	div.widgets_right {
		margin-top: -28px;
	}
</style>

<!--[if IE]>
<style type="text/css"> 
	div#promo_details {
		width: 100%; 
		height: expression( this.scrollHeight > 299 ? "300px" : "auto" ); /* sets max-height for IE */
		padding-bottom: 5px;
		overflow:visible; 
		overflow-x:auto;
		overflow-y:hidden;
	}
	
	div.nav_links {
		margin-top: -10px;
		padding-bottom: 5px;
	}
	div.widgets_right {
		margin-top: -14px;
	}
</style>
<![endif]-->

{% endblock %}

{% block widgets %}

	<div style='clear: both;'>
		<div style='text-align:left; margin-top: 10px;'>
			{% if logo_url %}
				<img border='0' src='{{logo_url}}'/>
			{% else %}
				<img src='/static/images/new_design/images/logo.png'/>
			{% endif %}
		</div>
	</div>
	
	<div style='margin-bottom: 30px; text-align: left; border-top: 2px solid #ccc; padding-top: 5px;' class='nav_links'>
		
		<span class='rounded_lower' style="cursor: pointer; background: url(/static/images/salesforce.png) #eee no-repeat 10px 5px; padding-left: 25px;"><a href='/dash/{{alias.account.base_url}}/salesforce/?agent={{agent}}'><b>{% trans 'Salesforce Automation' %}</b></a></span>
		
		<span class='rounded_lower' style="cursor: pointer;"><a href='/dash/{{alias.account.base_url}}/settings/?agent={{agent}}'>{% trans 'Personal Settings' %}</a></span>
		
		{% if alias.is_admin %}
			<span class='rounded_lower' style="cursor: pointer;"><a href='/dash/{{alias.account.base_url}}/admin/?agent={{agent}}'>{% trans 'Company & Users' %}</a></span>
		{% endif %}
		
		{% if show_days_remain %}
			<span class='rounded_lower' style='background: #FCF8BC;'>
				{{alias.account.date_expires|days_remain}} {% trans 'left' %} <a href='/@/register/Free/?agent={{agent}}&service={{alias.account.service.name|lower}}&upgrade=1'><b>{% trans 'Subscribe now!' %}</b></a>
				&nbsp;
			</span>
		{% else %}
			{% if alias.is_admin %}
				<span class='rounded_lower' style="cursor: pointer;"><a href='/@/billing/?agent={{agent}}'>{% trans 'Billing' %}</a></span>
			{% endif %}		
		{% endif %}
		
	</div>
	
	<div id='widgets_center' style=''>
		{% include 'main_higher_services.html' %}
		{% include 'widgets/nav.html' %}
		{% include 'widgets/crawl_display.html' %}
	</div>
	
{% endblock %}


{% block widgets_right %}

	<div id='widgets_right' style='' class='widgets_right'>
		
	</div>
	
	<div id='seperator' class='' style='float: left; width: 1%; height: 320px; font-size: 1.2em; color: #5D5650; position: relative;'>
		<img style='position:absolute;' src='/static/images/widgets/images/compact_slider.png'/>
	</div>
	
{% endblock %}

{% block footer %}
	<div style='clear:both;'></div>
	
	<div class='load_widgets'>
		
	</div>
	
	<div style='background: #eee; padding: 3px; text-align:center; color: #666; border-top: 1px solid #666;'>
		
		<div style='clear:both;'></div>
		
		<div style='float: left; overflow:hidden; width: 130px; height: 20px; margin-top: 3px; '>
			<iframe src="https://www.google.com/talk/service/badge/Show?tk=z01q6amlq8vp173pmomt95e6p34e8m5jk5anb5evpv50m9po86ll85lven8i1g4h07te55dbt3115usb8s2gjqnneddmah5t7058m43neadcgj5s4mu3bevgj8ut3hlnel7mtijoah9dj0871uci42hfjcb3ef2qcte9s79g4&amp;w=300&amp;h=18" allowtransparency="true" frameborder="0" height="18" width="300"></iframe>			<!-- http://www.google.com/talk/service/badge/New -->
 		</div>    

	
		{% if alias.account.service %}
			{% ifnotequal storage_used_percent None %}
				<div style='float:right; position: relative; top: 5px; right: 5px; font-size: .9em;'>
					
					{% if alias.is_admin %}
						{% trans 'Service level' %}: <a href='/@/register/Free/?agent={{agent}}&service={{alias.account.service.name|lower}}'>{{alias.account.service.name}}</a> 
					{% endif %}
				</div>
				
				<div style='float: right; position: relative; right: 10px;'>
					<div align='left' title='{% trans "Storage used" %}' style='background: #AEC7E3; border:1px solid #3465A4; width: 100px; height: 15px; margin-top: 5px; ' class='rounded_upper rounded_lower'>
						<div title="{{storage_used_percent}}% of {{alias.account.service.max_storage_gb}} GB" align='right' style='height: 15px;  font-size:.9em; color: #fff; background: #3465A4; width: {{storage_used_percent}}%; min-width: 20px;' id='crawl_loader' class='rounded_upper rounded_lower'>
							{{storage_used_percent}}%
						</div>
					</div>
				</div>
			{% endifnotequal %}
		{% endif %}
		
		
		<div style='clear:both;'></div>
		
	</div>
{% endblock %}
