{% extends 'mainv1_dash.html' %}
{% load i18n %}
{% block style %}
<style>
	h2, h3 { margin: 0px; }
</style>
<link rel="stylesheet" href="/static/css/tablesorter/tablesorter.css" type="text/css" media="screen">
{% endblock %}

{% block header %}
	
	{% if not wizard_mode %}
	<div style='float:right;'>
		<input type='button' name='' value='{% trans "Go back... " %}' onclick='history.back(); return false;' />
	</div>
	{% endif %}
	
	<h2 style='margin:0px;'>{% trans 'Edit Salesforce rules' %}</h2>
	
{% endblock %}

{% block javascript %}
<script language="javascript">
	var Page = this.Page = {
		rule_id: '{{rule_id}}',					// a number, or 'new'
		next: '{{next|default_if_none:""|escapejs}}',	// return to here when done
		show_regex_modal: function() {
			EmailRuleDataExtraction.show();
		},
		
		_save_rule: function(regexes_only, callback) {
			// Helper function for save_rule and save_regexes
			var params = {};

			params.id = Page.rule_id;
			params.cmd = (Page.rule_id == 'new' ? 'new' : 'edit');

			if (!regexes_only) {
				
				// Incoming/outgoing
				var apply_to = $('#select_apply_to').val();
				
				if ($("#select_apply_to option:selected").hasClass('rule_type_followup')) {
					params.type = 'tFOL';
					params.enabled_incoming = 0;
					params.enabled_outgoing = 0;
					params.enabled_contacts = ((apply_to=='sf_contact') ? 1 : 0);
					params.enabled_leads = ((apply_to=='sf_lead') ? 1 : 0);
					params.action_followup = $('#action_followup').is(':checked') ? 1 : 0;
					params.action_followup_campaign = $('#followup_campaign').val();
					params.action_ignore = 0;
					params.action_create_lead = 0;
					params.action_create_contact = 0;
					params.action_create_case = 0;				
					params.action_sync = 0;	
					params.action_sync_opp = 0;			
					params.action_sync_task_type = '';													
				} else if ($("#select_apply_to option:selected").hasClass('rule_type_sf')) {
					params.type = 'tSFO';
					params.enabled_incoming = ((apply_to=='incoming') || (apply_to=='both')) ? 1 : 0;
					params.enabled_outgoing = ((apply_to=='outgoing') || (apply_to=='both')) ? 1 : 0;
					params.enabled_contacts = ((apply_to=='sf_contacts') ? 1 : 0);
					params.enabled_leads = ((apply_to=='sf_leads') ? 1 : 0);
					params.action_followup = 0;
					params.action_followup_campaign = 0;					
					params.action_ignore = $('#action_ignore').is(':checked') ? 1 : 0;
					params.action_create_lead = $('#action_create_lead').is(':checked') ? 1 : 0;
					params.action_create_contact = $('#action_create_contact').is(':checked') ? 1 : 0;
					params.action_create_case = $('#action_create_case').is(':checked') ? 1 : 0;				
					params.action_sync = $('#action_sync').is(':checked') ? 1 : 0;
					params.action_sync_opp = $('#action_sync_opp').is(':checked') ? 1 : 0;	
					params.action_sync_task_type = $('#action_sync_task_type').val();
					var email = $('#select_email').val();
					if (email == 'team') {
						// Any team address
						params.match_addr_type = 'team';
						params.match_addr_data = '';
					} else if (/^team_/.test(email)) {
						// Specific team member
						params.match_addr_type = 'team';
						params.match_addr_data = email.replace('team_', '');
					} else if (email == 'str') {
						// Arbitrary email address
						params.match_addr_type = 'str';
						params.match_addr_data = $('#select_str').text();
					} else if (email == 'domain') {
						// Arbitrary domain
						params.match_addr_type = 'domain';
						params.match_addr_data = $('#select_domain').text();
					} else if (email == 'other') {
						// This shouldn't happen
						alert("{% trans 'Please select a valid email address.' %}");
						return;
					}
				}
			}
			
			// Regex selectors from the modal dialog (only used for type tSFO)
			var regexes = [];			
			if ($("#extraction_custom").is(':checked')) {
				$('.regex_checkbox:checked').each(function(i) {
					regexes.push($(this).attr('id').replace('regex_checkbox_', ''));
				});
			}
			params.regexes = regexes.join(',');

			Ajax.send_data('edit_rule/', params,
				function(data) {
					if (data.return_data.success) {
							callback();
						} else {
							alert(data.return_data.msg);
						}
				}, "POST");
		},

		save_rule: function() {
			// Save the entire rule and go back to the main Salesforce page
			Page._save_rule(false, function() {		
				window.location='/dash/{{account.base_url}}/salesforce/?agent={{agent}}&next={{next|default_if_none:""|urlencode|escapejs}}';
			});
		},

		save_regexes: function() {
			// Save just the regex modal selection and close the modal
			
			// First, set "Custom" / "Auto"
			var custom = false;
	    	$('.regex_checkbox:checked').each(function(i) {
		    	custom = true;
	    	});
			if (custom) {
				$("#extraction_custom").attr("checked", "checked"); 
			} else {
				$("#extraction_auto").attr("checked", "checked"); 
			}

			// For new rules, don't save the regex selection yet --
			// it'll get saved when they click the main save button
			if (Page.rule_id == 'new') {
		        $('.wizard').hide();
			} else {
				Page._save_rule(true, function() {
			        $('.wizard').hide();
				});
			}
		},

		on_select_email: function() {
			if ($('#select_email').val() == 'other_email') {
				Prompt.prompt("{% trans 'Enter an email address:' %}", function(email) {
					if (email == null || email.trim() == '') {
						$('#select_email').val('external');
						return;
					}
					email = email.toLowerCase();
					if (!Page.validate_email(email)) {
						alert("{% trans 'You must enter a valid email address.' %}");
						$('#select_email').val('external');
						return;
					}
					
					$('#select_str').remove();		// delete any previous custom option
					$('#select_domain').remove();
					var option = $("<option id='select_str' value='str'></option>");
					option.text(email);
					option.insertBefore("#select_email_other");		
					$('#select_email').val('str'); 
				});
			} else if ($('#select_email').val() == 'other_domain') {
				Prompt.prompt("{% trans 'Enter a domain (e.g., gmail.com)' %}", function(domain) {
					if (domain == null || domain.trim() == '') {
						$('#select_email').val('external');
						return;
					}
					domain = domain.toLowerCase();
					if (!Page.validate_domain(domain)) {
						alert("{% trans 'You must enter a valid domain.' %}");
						$('#select_email').val('external');
						return;
					}
					
					$('#select_str').remove();		// delete any previous custom option
					$('#select_domain').remove();
					var option = $("<option id='select_domain' value='domain'></option>");
					option.text(domain);
					option.insertBefore("#select_email_other");		
					$('#select_email').val('domain'); 
				});
			}		
			
		},
		
		// thanks to http://www.zparacha.com/
		validate_email: function(elementValue) {
			var emailPattern = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
			return emailPattern.test(elementValue);
		},

		validate_domain: function(elementValue) {
			var domainPattern = /^[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/;
			return domainPattern.test(elementValue);
		},
		
		action_ignore: function() {
			if ($('#action_ignore').is(':checked')) {
				$('.action_other').removeAttr('checked').attr('disabled', 'disabled');
			} else {
				// ignore checkbox was just unchecked, enable everything else
				$('.action_other').removeAttr('disabled');
				Page.action_sync();	// action_sync_task_type needs special handling, because it shouldn't always be enabled
			}
		},

		action_sync: function() {
			if ($('#action_sync').is(':checked')) {
				$('#action_sync_task_type').removeAttr('disabled');
			} else {
				$('#action_sync_task_type').attr('disabled', 'disabled');
			}
		},
		
		select_source: function() {
			
			if ($("#select_apply_to option:selected").hasClass('rule_type_followup')) {
				$('#select_email').hide();
				$('#data_extraction').hide();
				$('#actions_type_sf').hide();
				$('#actions_type_followup').show();
			} else {
				$('#select_email').show();
				$('#data_extraction').show();
				$('#actions_type_sf').show();
				$('#actions_type_followup').hide();
			}
			
		}
	};
	
	$(document).ready(function() {

	});
	
	
</script>
{% endblock %}

{% block content %}
<div style="height:;">

    <div style="margin-top: 5px;">
    	
    <form method='POST' action='' onsubmit='Page.save_rule(); return false;'>
	    <table class='tablesorter' id="rules" border="0" cellpadding="0" cellspacing="1"> 
		
		<tbody>
			<tr> 
				<td>{% trans 'ID' %}</td>
				<td>{% if rule.id %}{{rule.id}}{% else %}{% trans 'New' %}{% endif %}</td>
			</tr>
			<tr> 
				<td>{% trans 'Source' %}</td>
				<td>
					<select id="select_apply_to" onchange='Page.select_source(); return false;'>
						<option class='rule_type_sf' value='both' {% if rule.enabled_incoming and rule.enabled_outgoing %}selected='selected'{% endif %}>{% trans 'Incoming & outgoing emails' %}</option>
						<option class='rule_type_sf' value='incoming' {% if rule.enabled_incoming and not rule.enabled_outgoing %}selected='selected'{% endif %}>{% trans 'Incoming emails' %}</option>
						<option class='rule_type_sf' value='outgoing' {% if rule.enabled_outgoing and not rule.enabled_incoming %}selected='selected'{% endif %}>{% trans 'Outgoing emails' %}</option>
						{% comment %}<option value='disabled' {% if not rule.enabled_incoming and not rule.enabled_outgoing %}selected='selected'{% endif %}>{% trans 'None (disabled)' %} </option>{% endcomment %}
						{% if followup_remote_user %}
							<option class='rule_type_followup' value='sf_lead' {% if rule.enabled_leads %}selected='selected'{% endif %}>{% trans 'New Salesforce Lead' %}</option>
							<option class='rule_type_followup' value='sf_contact' {% if rule.enabled_contacts %}selected='selected'{% endif %}>{% trans 'New Salesforce Contact' %}</option>
						{% endif %}
					</select>
					<select id="select_email" style='{% ifnotequal rule.type 'tSFO' %}display: none;{% endifnotequal %}' onchange='Page.on_select_email(); return false;'>
						
						<option id='select_email_team_any' value='team' {% ifequal rule.match.addr.type 'team' %}{% ifequal rule.match.addr.data None %}selected='selected'{% endifequal %}{% endifequal %}>{% trans 'Any team address' %}</option>
						
						{% for a in team_aliases %}
							<option id='select_email_team_{{a.id}}' class='select_email_team' value='team_{{a.id}}' {% ifequal rule.match.addr.type 'team' %}{% ifequal rule.match.addr.data a.id %}selected='selected'{% endifequal %}{% endifequal %}>{{a.email}} {% ifequal a alias %}{% trans '[you]' %}{% endifequal %}</option>
						{% endfor %}
						
						{% ifequal rule.match.addr.type 'str' %}
							<option id='select_str' value='str' selected='selected'>{{rule.match.addr.data}}</option>
						{% endifequal %}
						
						{% ifequal rule.match.addr.type 'domain' %}
							<option id='select_domain' value='domain' selected='selected'>{{rule.match.addr.data}}</option>
						{% endifequal %}						
						
						<option id='select_email_other' value='other_email'>{% trans 'Other address...' %}</option>
						
						<option id='select_domain_other' value='other_domain'>{% trans 'Other domain...' %}</option>
						
					</select>
				</td>
			</tr>
			
			<tr id='data_extraction' style='{% ifnotequal rule.type 'tSFO' %}display: none;{% endifnotequal %}'> 
				<td>{% trans 'Data extraction' %}</td>
				<td>
					<label style='margin-right: 10px;'>
						<input id='extraction_auto' {% if not regexes %}checked='checked'{% endif %} type='radio' name='extraction_type' value=''/>
						{% trans 'Auto' %}
					</label>
					<label>
					<input id='extraction_custom' {% if regexes %}checked='checked'{% endif %} type='radio' name='extraction_type' value=''/>
						<a style='background:#FCF8BC' onclick='Page.show_regex_modal();return false;' href='#'>{% trans 'Custom data extraction' %}</a>
					</label>
					<br/>
					<span>{% trans 'Select "Auto" to automatically extract Phone, Company, and Title' %}</span>
				</td>
			</tr>
			
			<tr> 
				<td>{% trans 'Actions' %}</td>
				<td>
					<div id='actions_type_sf' style='{% ifnotequal rule.type 'tSFO' %}display: none;{% endifnotequal %}'>
						<label>
							<input class='action_check' id='action_ignore' onclick='Page.action_ignore(); return true;' type='checkbox' {% if rule.is_action_ignore %}checked='checked'{% endif %} name='ignore'/> 
							{% trans 'Ignore' %}
						</label>
						<br/>
						<label>
							<input class='action_other action_check' id='action_create_lead' type='checkbox' {% if rule.is_action_ignore %}disabled='disabled'{% endif %} {% if rule.is_action_create_lead %}checked='checked'{% endif %} name='create_lead'/> 
							{% trans 'Create Lead' %} <img src='/static/images/salesforce.png'/> 
						</label>
						<br/>
						<label>
							<input class='action_other action_check' id='action_create_contact' type='checkbox' {% if rule.is_action_ignore %}disabled='disabled'{% endif %} {% if rule.is_action_create_contact %}checked='checked'{% endif %} name='create_contact'/> 
							{% trans 'Create Contact' %} <img src='/static/images/salesforce.png'/> 
						</label>
						<br/>
						
						<label>
							<input class='action_other action_check' id='action_create_case' type='checkbox' {% if rule.is_action_ignore %}disabled='disabled'{% endif %} {% if rule.is_action_create_case %}checked='checked'{% endif %} name='create_case'/> 
							{% trans 'Create Case' %} <img src='/static/images/salesforce.png'/> 
						</label>
						<br/>
						
						<label>
							<input class='action_other action_check' onclick='Page.action_sync();' id='action_sync' type='checkbox' {% if rule.is_action_ignore %}disabled='disabled'{% endif %} {% if rule.is_action_sync %}checked='checked'{% endif %} name='sync'/> 
							{% trans 'Record to Lead, Contact, Case, Account <i>activity history</i> as  type:' %}
						</label>
						<input class='action_other' id='action_sync_task_type' {% if rule.is_action_ignore or not rule.is_action_sync %}disabled='disabled'{% endif %} maxlength='40' value='{{rule.action_sync_task_type|default_if_none:""}}'>
						<img src='/static/images/salesforce.png'/> 
						<br/>
						
						<label>
							<input class='action_other action_check' id='action_sync_opp' type='checkbox' {% if rule.is_action_ignore %}disabled='disabled'{% endif %} {% if rule.is_action_sync_opp %}checked='checked'{% endif %} name='sync_opp'/> 
							{% trans 'BETA: Record to Opportunity <i>activity history</i>' %} 
						</label>&nbsp;<a href='#' onclick="$('#sync_opp_help').toggle(); return false;">?</a> <img src='/static/images/salesforce.png'/> 
						<br/>
						
						<div class='status_msg' id='sync_opp_help' style='display:none; margin-top: 5px;'>
							{% trans 'Opportunities syncing is a beta option - we do not recommend it in production; this sync attempts to guess if an email is related to an opportunity - this is hard to do, rendering this option unstable!'  %}
						</div>
						
						
					</div>
					
					<div id='actions_type_followup' style='{% ifnotequal rule.type 'tFOL' %}display: none;{% endifnotequal %}'>
						{% if followup_remote_user %}	
							<label>
								<input class='action_follow_up action_check' id='action_followup' type='checkbox' disabled='disabled' checked='checked' name='action_follow_up'/> 
								{% trans 'Launch follow-up campaign API ID #: ' %}
							</label>
							
							<input id='followup_campaign' type='text' name='campaign_api_name' value='{{rule.get_followup_campaign|default_if_none:"0"}}' style='width: 60px; font-size: .9em;'/>
						{% endif %}
					</div>
					
				</td>
			</tr>
			
			<tr> 
				<td></td>
				<td>
					<input type='submit' name='submit' value='{% trans "Save & go back" %}'/>
				</td>
			</tr>
	
		</tbody> 
		</table>
	</form>
    	
    	
    </div>
		
    <div style="clear:both; height:1px;"></div>
</div>

{% endblock content %}

{% block modals %}

<div style='clear: both; z-index: 1000000;' class='modals'>
	{% include 'modals/emailrule_data_extraction.html' %}
</div>


{% endblock %}

