{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<style>
.conv_selected {
	background-color: #666;
	opacity: 1;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #555;
	border-bottom: 1px solid #555;
	max-height: 14px;
}
div.header_info {
	font-size: .9em;
	color: #666;
}
.message {
	padding: 3px;
	padding-bottom: 5px;
	position: relative;
	margin-top: 5px;
}

.message div.message_content {
	padding-left: 57px;
}

.message div.icons {
	position: absolute;
	top: 4px;
	left: 4px;
}
div.replies {
	margin-top: 5px;
}
div.replies .reply {
	background: #eee;
	margin-top: 5px;
	padding: 5px;
}
div.replies .reply span.heading {
	font-weight: bold;
	margin-right: 2px;
}

div.replies .reply span.heading a, div.replies .reply span.heading a:link, div.replies .reply span.heading a:active {
	text-decoration: none;
}

div.replies .reply span.heading a:hover {
	text-decoration: underline;
}

div.replies .reply div.time {
	color: #666;
}
span.you {
	background:;
}
.replies .reply img.icon {
	margin-right: 2px;
}
.replies textarea.rbox {
	width: 100%;
	height: 20px;
	font-size: .9em;
	color: #666;
}
.replies div.rbox_go {
	display:none;
}
.time {
 	color: #999999;
 	font-size: 0.9em;
 	margin-top: 5px;
}

</style>

<!--[if IE]>
<style type="text/css">
.message {
	position:;
	padding: 3px;
	margin-bottom: 10px;
}
.message div.icons {
	position:;

}
select.mark_group {
	float:right;
	margin-top: 0px;
}
input.rbox_button {
	font-size: .8em;
	width: 98%;
	text-align: left;
	padding-left: 3px;
}
</style>
<![endif]-->

{% spaceless %}

<script language='javascript'>

$(document).ready(function() {
	Conversations.ready();
});

</script>


<div class='box box-success' id='widget_conversations'>

    <div style="cursor: move; {% ifequal agent 'iphone' %}display:;{% endifequal %}" class="box-header ui-sortable-handle" id="widget_heading_{{widget_id}}">
      <i class="fa fa-comments-o"></i>

      <h3 class="box-title" style="{% ifequal agent 'iphone' %}display:;{% endifequal %}">
        {% if banner %}
            {{banner.message}}
            {% ifequal banner.icon 'sf' %}
                <img src='/static/images/salesforce.png'/>
            {% endifequal %}
        {% else %}
            {% trans 'Messaging' %}
        {% endif %}
      </h3>

      <div data-original-title="Status" class="box-tools pull-right" data-toggle="tooltip" title="">
        <div class="btn-group" data-toggle="btn-toggle">
          <button type="button" class="btn btn-default btn-sm active"><i class="fa fa-square text-green"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm"><i class="fa fa-square text-red"></i></button>
    			<input style='font-size:.9em;' class='btn btn-primary' value='{% trans "Home" %}' type='button' {% if not search and not bucket %}disabled='disabled'{% endif %} onclick='Page.reset_dashboard(); return false;' />

   			{% if alias.server_enabled %}
   				{% ifnotequal agent 'firefox' %}
    				<input class='btn btn-primary' value='{% trans "Send & Receive" %}' {% if not refresh_allowed %}disabled='disabled'{% endif %} onclick='$(this).attr("disabled", "disabled"); Page.crawl_alias(true); return false;' title='{% trans "Crawl your emails again" %}' type='button' style='margin: 3px 5px 0px 0px; font-size: .9em;' />
    			{% endifnotequal %}
    		{% endif %}
        </div>
      </div>
    </div>


    <div class='box_content{% if not compact %}_expanded{% endif %}' style='' class='full_kb_container'>

        <div id='tooltip_msg' style='overflow: hidden; margin-bottom: 5px; display:none;'></div>

        <div class="col-lg-12" style='{% ifequal agent "iphone" %}display:;{% endifequal %}'>

            <div class="input-group">

                <input name="parse" placeholder="Enter something like: meeting next Wednesday @ 4pm with @sally" class='form-control quick_parse' id="parse" onclick="$('#people_div').hide();" style="width: 100%; font-size:;" />


                <div class="input-group-btn">

                    <button name="parse_submit" id="parse_submit" value="add" onClick="QuickBox.submit(); return false;" type="button" class="btn btn-success"><i class="fa fa-plus"></i></button>

                </div>

           </div>

        </div>

        <div style='clear:both; height: 4px; margin-bottom: 3px;'></div>

    	<div class='rounded_upper rounded_lower' id='widget_{{widget_id}}_new_emails_container' style='display: none; border: 1px solid #ccc; margin: 10px 0px 10px 0px;'>
    		<div class='rounded_upper' style='padding: 5px; border-bottom: 1px solid #ccc; background: #eee; margin-top: 2px;'>
    			<strong>
    				{% trans 'Real-time: discovered' %} <span id='widget_{{widget_id}}_new_emails_counter'></span> {% trans 'new message(s).' %}
    			</strong>
    		</div>
    		<div id='widget_{{widget_id}}_new_emails' style='padding: 5px; '>
    			<!-- Append the new stuff here. -->
    		</div>
    	</div>

    	<div class='messages chat'>
    		{% if not threads and False %}

    			<div style='padding: 5px; font-size:.9em; color: #666;'>
    				{% trans 'No emails, notes, or events via' %}
    				{% ifequal alias.account.store_email_howlong -1 %}
    					<b>{% trans 'unlimited data retention' %}</b>
    				{% else %}
    					<b>{{alias.account.store_email_howlong}} {% trans 'day data retention' %}</b>
    				{% endifequal %}
    				{% if alias.is_admin %}

    					[
    						<a target='_blank' href='/dash/{{alias.account.base_url}}/admin/'>{% trans 'Manage retention setting' %}</a>
    					]

    				{% else %}

    					[
    						<a href='mailto:{{settings.SALES_EMAIL}}?subject=Inquiring about additional data retention'>{% trans 'Request additional retention' %}</a>
    					]

    				{% endif %}
    			</div>

    		{% else %}

	    		{% for t in threads %}

					{% with t.first as m %}

			    		<div style='border-bottom: solid 1px #CCCCCC; ' class='item message message_{{m.id}} {% if m.completed %}message_completed{% endif %}' id='message_{{widget_id}}_{{m.id}}'>

			    	 		<div class='icons'>
                                <img style='border: 2px solid #00A65A; border-radius: 50%;' class='icon online' src='{{m.from_contact.get_image_url|default:"/static/images/no_person.png"}}'/>

				    	 		{% if m.is_sf_synced %}
							 		<img class='icon' title='{% trans "This message has been synced to Salesforce." %}' src='/static/images/salesforce.png'/>
							 	{% else %}{% if m.is_twitter %}
							 		<img class='icon' src='/static/images/twitter.png'/>
							 	{% else %}{% if m.is_quickbox %}

							 	{% else %}
							 		{% comment %}
										<img class='icon' src='/static/tango/apps/internet-mail.png'/>
									{% endcomment %}
								{% endif %}
							 	{% endif %}
							 	{% endif %}
						 	</div>

				    		<div class='message_content'>

																<small class='text-muted pull-right'>
                                    <i class="fa fa-clock-o"></i> {{m.date_sent|ago}}
                                </small>

				    			<div class='header_info'>
					    			{% personlink m.from_contact %}

					    			{% with m.get_to_contacts as contacts %}
					    				{% if contacts %}
					    					{% trans 'to' %}
					    					{% for c in contacts %}{% personlink c %}{% if not forloop.last %}, {% endif %}{% endfor %}
					    				{% endif %}
					    			{% endwith %}

									{% if not search %}
						    			{% with m.get_ref_contacts as contacts %}
						    				{% if contacts %}
						    					{% trans 'in reference to' %}
						    					{% for c in contacts %}{% personlink c %}{% if not forloop.last %}, {% endif %}{% endfor %}
						    				{% endif %}
						    			{% endwith %}
					    			{% endif %}

					    			{% with m.get_assigned_contacts as contacts %}
					    				{% if contacts %}
					    					{% trans 'assigned to' %}
					    					{% for c in contacts %}{% personlink c %}{% if not forloop.last %}, {% endif %}{% endfor %}
					    				{% endif %}
					    			{% endwith %}

					    			<div style='display: inline;' class='extra_text_{{m.id}}'></div>

					    			<div class='bucket_list bucket_list_{{m.id}}' id='bucket_list_{{m.id}}' style='display: inline; padding-left: 5px;'>
										{% for b in m.get_buckets %}
											<span style='margin-right: 5px; background: #3465A4; padding: 0px 4px 0px 4px; font-size: .9em; color: #fff;' class='rounded_upper rounded_lower'>{{b|bucket_link|safe}}</span>
										{% endfor %}
									</div>

						 			<span style='display: none; ' class='actions_container' id='actions_container_{{widget_id}}_{{m.id}}'>

										<select style='font-size: .9em; margin-left: 10px; width: 80px;' class='mark_group' onchange='Page.email_action($(this), {{m.id}}); return false;'>
											<option value='default' selected='selected'>{% trans 'Actions' %}</option>

											{% if sf_enabled %}
												<option value='sf_create_lead'>{% trans '[Salesforce] Create lead' %}</option>
												<option value='sf_create_contact'>{% trans '[Salesforce] Create contact' %}</option>
												<option value='sf_create_case'>{% trans '[Salesforce] Create case' %}</option>
											{% endif %}

                                            {% comment %}
											{% if m.completed %}
												<option value='incomplete'>{% trans 'Mark incomplete' %}</option>
											{% else %}
												<option value='completed'>{% trans 'Mark completed' %}</option>
											{% endif %}
                                            {% endcomment %}

											{% if t.replies %}
												<option value='delete_thread'>{% trans 'Delete' %}</option>
											{% else %}
												<option value='delete'>{% trans 'Delete' %}</option>
											{% endif %}

											<option value='assign_{{alias.pk}}'>{% trans 'Assign to' %} @{{alias.ez_name}}</option>

											{% for a in team_aliases %}
												{% ifnotequal a alias %}
													<option value='assign_{{a.pk}}'>{% trans 'Assign to' %} @{{a.ez_name}}</option>
												{% endifnotequal %}
											{% endfor %}

										</select>

						 			</span>

								</div>

				    			<div style='margin-top: 5px;'>
				    			    {% scheduled m %}
				    	    		{% files m %}

				    				{% if scheduled %}
				    					<div style='margin-bottom: 4px;'>
					    					{% for e in scheduled %}
					    						<span style='background: #fff; display: inline; border: 1px solid #ccc; padding: 0px 5px 0px 0px; {% if e.happening_now %}color: red;{% endif %}' class='event_special rounded_upper rounded_lower'>
											        <img src='/static/tango/apps/office-calendar.png'/>
											        {{e|eventspan:alias}}{% if e.happening_now %}: <b>going on now</b>{% endif %}
									            </span>
					    					{% endfor %}
					    				</div>
					    			{% endif %}

				    				<div class='message_text_{{m.id}}' id='message_text_{{widget_id}}_{{m.id}}'>
				    					{% if m.subject %}
				    						<b>{{m.subject}}</b>
				    					{% endif %}
				    					{{m|summary|linebreaksbr|urlizetrunc:25|target_blank:agent|expand_email_link:m|safe}}
				    			    </div>

					    			{% if files %}
				    					{% for f, has_perms in files %}
				    						<div style='margin-top: 2px; margin-bottom: 2px;'>
					    						<span
					    							style='background: #fff; display: inline; border: 1px solid #ccc; padding: 0px 5px 0px 0px; cursor: pointer;'
					    							class='event_special rounded_upper rounded_lower jTip file_link {% if has_perms %}file_has_perms{% else %}file_request_perms{% endif %}' id='file_{{f.file.slug}}'
					    							onclick="Page.request_perms('{{f.slug}}','{{f.name|escapejs}}',{{has_perms|lower}})">
					    							<img src='/static/tango/apps/system-file-manager.png'/>
					    							{{f.name}}
					    						</span>
				    						</div>
				    					{% endfor %}
				    				{% endif %}
				    			</div>



								<div class='replies'>

									{% for r in t.replies %}

										<div class='reply message_{{r.id}}' id='message_{{widget_id}}_{{r.id}}'>

                                            <img style='width:16px; height:16px; border: 2px solid #00A65A; border-radius: 50%;' class='icon online' src='{{r.from_contact.get_image_url|default:"/static/images/no_person.png"}}'/>

                                            {% comment %}
                                                {% if r.is_sf_synced %}
                                                    <img class='icon' title='{% trans "This message has been synced to Salesforce." %}' src='/static/images/salesforce.png'/>
                                                {% else %}{% if r.is_twitter %}
                                                    <img class='icon' src='/static/images/twitter.png'/>
                                                {% else %}{% if r.is_quickbox %}
                                                    <img class='icon' src='/static/tango/apps/accessories-text-editor.png'/>
                                                {% else %}
                                                    <img class='icon' src='/static/tango/apps/internet-mail.png'/>
                                                {% endif %}
                                                {% endif %}
                                                {% endif %}
										    {% endcomment %}

											<span class='heading'>
								    			{% personlink r.from_contact %}
											</span>


                                            <small class='text-muted pull-right'>
                                                <i class="fa fa-clock-o"></i> {{r.date_sent|ago}}
                                            </small>


                                            {% for b in r.get_buckets %}
                                                <span style='margin-right: 5px; background: #3465A4; padding: 0px 4px 0px 4px; font-size: .9em; color: #fff;' class='rounded_upper rounded_lower'>{{b|bucket_link|safe}}</span>
                                            {% endfor %}


											<span class='message_text_{{r.id}}' id='message_text_{{widget_id}}_{{r.id}}'>
				    							{{r|summary|linebreaksbr|urlizetrunc:25|target_blank:agent|expand_email_link:r|safe}}
				    						</span>

				    						<div style='margin-top: 5px;'>
							    			    {% scheduled r %}
							    	    		{% files r %}

							    				{% if scheduled %}
							    					<div style='margin-bottom: 4px;'>
								    					{% for e in scheduled %}
								    						<span style='background: #fff; display: inline; border: 1px solid #ccc; padding: 0px 5px 0px 0px; {% if e.happening_now %}color: red;{% endif %}' class='event_special rounded_upper rounded_lower'>
														        <img src='/static/tango/apps/office-calendar.png'/>
														        {{e|eventspan:alias}}{% if e.happening_now %}: <b>going on now</b>{% endif %}
												            </span>
								    					{% endfor %}
								    				</div>
								    			{% endif %}

								    			{% if files %}
							    					{% for f, has_perms in files %}
							    						<div style='margin-top: 2px; margin-bottom: 2px;'>
								    						<span
								    							style='background: #fff; display: inline; border: 1px solid #ccc; padding: 0px 5px 0px 0px;'
								    							class='event_special rounded_upper rounded_lower jTip file_link {% if has_perms %}file_has_perms{% else %}file_request_perms{% endif %}' id='file_{{f.file.slug}}'
								    							onclick="Page.request_perms('{{f.slug}}','{{f.name|escapejs}}',{{has_perms|lower}})">
								    							<img src='/static/tango/apps/system-file-manager.png'/>
								    							{{f.name}}
								    						</span>
							    						</div>
							    					{% endfor %}
							    				{% endif %}
							    			</div>

											<div class='time'>
												{{r.date_sent|ago}}
											</div>

										</div>

									{% endfor %}

									{% if t.reply_info.reply_allowed %}
										<div class='reply' style='overflow: hidden;'>
											<textarea class='rbox' style='max-width: 99%;'>{% trans 'Write a reply...' %}</textarea>
											<div class='rbox_go'>
												<input style='font-size: .8em; max-width: 90%;' type='button' class='rbox_button' name='rbox_go' onclick='Conversations.reply({{t.last.id}}, $(this)); return false;' value='{% trans "Reply to" %} {{t.reply_info.to_name}}'/>
											</div>
										</div>
									{% endif %}


								</div>
							</div>
			    		</div>
			    	{% endwith %}

		    	{% endfor %}

    		{% endif %}

    	</div>

    	{% if page_obj.has_previous or page_obj.has_next %}
	    	<div style='padding: 5px;'>
		        {% if page_obj.has_previous %}
		        	<span class='step-links' style='cursor:pointer;' onclick='Page.change_page({{widget_id}}, {{ page_obj.previous_page_number }}); return false;'>&lt;&lt; {% trans 'Previous' %}</span>
		        {% endif %}

		        {% if page_obj.has_previous and page_obj.has_next %}
		        	&nbsp;
		        {% endif %}

		        {% if page_obj.has_next %}
		        	<span class='step-links' style='cursor:pointer;' onclick='Page.change_page({{widget_id}}, {{ page_obj.next_page_number }}); return false;'>{% trans 'Next' %} &gt;&gt; </span>
		        {% endif %}
			</div>
		{% endif %}

    </div>

</div>

<script language='javascript'>
	$(document).ready(function() {
		Page.bind_actions();
	});
</script>

{% endspaceless %}
