{% load i18n %}
{% load assist_tags %}
{% load account_tags %}

<form class='search_form' id='widget_{{widget_id}}_form_search' method='POST' onsubmit='Page.search($("#widget_{{widget_id}}_search").val(), $("#widget_{{widget_id}}_search_type").val()); return false;'>
	
	<input type='text' id='widget_{{widget_id}}_search' name='global_search' value='{{search|search_display:alias}}' onchange=' $("#widget_{{widget_id}}_search_type").val("{{constants.SEARCH_TYPE_TEXT}}"); return false;' style='margin-left: 5px; width: 100px; font-size: .9em;'/> <!-- $("#widget_{{widget_id}}_search_query").val($("#widget_{{widget_id}}_search").val()); -->    		
	<input type='hidden' id='widget_{{widget_id}}_search_query' value='{{search.get_search_query_as_string}}' />
	<input type='hidden' id='widget_{{widget_id}}_search_type' value='{{search.search_type}}' />
	
	<input style='top: 2px; position: relative;' type='image' id='widget_{{widget_id}}_search_submit' alt="{% trans 'Search' %}" src='/static/tango/actions/edit-find.png' border='0'/>
	
	<a id='widget_{{widget_id}}_search_clear' href='#' onclick='Page.reset_dashboard(); return false;'>
		<img title="{% trans 'Clear the search' %}" src='/static/tango/actions/go-home.png' border='0'/>       		
    </a>
    
    {% if buckets %}
    	<div>
       		<select name='bucket_select' id='bucket_select' style='width: 100px; margin-left: 5px; font-size: .9em;' onchange="Page.change_bucket($('#bucket_select').val(), $('#bucket_select :selected').text()); return false;" >
        	    {% for b in buckets %}
        	        <option value="{{b.slug}}" {% if b.selected %}selected="selected"{% endif %}>{{b.text}}</option>
        	    {% endfor %}
        	</select>
        	<img style='cursor: pointer;' onclick='Page.bucket_add(null, 0); return false;' title='{% trans "Click to add new tag." %}' src='/static/tango/actions/list-add.png' border='0' />
        	<img style='cursor: pointer;' onclick='Page.bucket_remove(); return false;' title='{% trans "Click to remove a tag." %}' src='/static/tango/actions/list-remove.png' border='0' />
    	</div>
    {% endif %}
</form>

{% comment %}
{% for b in buckets %}
	{% if b.selected %}
		<script language='javascript'>
		     $(document).ready(function() {
			    //QuickBox.clear_note_only();
		     	QuickBox.bucket_name = '{{b.text|escapejs}}'; 
		     	QuickBox.bucket_slug = '{{b.slug|escapejs}}'; 
		     	QuickBox.update_tooltip();
		     	if ('{{search.search_query|default_if_none:""|escapejs}}' != '') {
		     		$('#dash_buttons_back').css('display','inline');
		    		$('#dash_buttons_current_search').css('display','inline').text('{{search|search_display:alias|escapejs}}');
		     	} else {
		     		$('#dash_buttons_back').hide();
		     		$('#dash_buttons_current_search').hide();
		     	}
		     });
		</script>
	{% endif %}
{% endfor %}
{% endcomment %}