{% comment %} Include this wherever you need a maximize/minimize button {% endcomment %}
{% load i18n %}
{% if not agent %}
   	<div style='float:right; margin: 3px 0px 0px 0px;'>
   		{% if compact %}
    		<img src='/static/tango/actions/view-fullscreen.png' title='{% trans "Zoom" %}' border='0'/>
    	{% else %}
    		<img src='/static/tango/actions/view-compact.png' title='{% trans "Shrink" %}' border='0'/>
    	{% endif %}
	</div>
{% endif %}